.altrp-nav-menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.altrp-nav-menu-ul-vertical .altrp-nav-menu-li {
    width: 100%;
    justify-content: flex-start;
}

.altrp-nav-menu-ul-horizontal {
    flex-direction: row;
}

.altrp-nav-menu-li {
    position: relative;
}

.altrp-nav-menu-li:last-child {
    margin-right: 0 !important;
}

.altrp-nav-menu-li-link {
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.altrp-nav-menu-li-link-label {
    color: #343B4C;
    transition: background 0.2s;
}

.altrp-nav-menu-li-link:hover .altrp-nav-menu-li-link-label {
    color: #211717;
}

.altrp-nav-menu-li-after:after {
    content: "";
    position: absolute;
    transition: opacity 0.5s,width .4s,height .4s;
    bottom: 0;
    height: 0;
    opacity: 0;
    border-width: 0 0 0 0;
}

.altrp-nav-menu-li-underLine:hover:after {
    height: 1px;
    width: 100%;
    opacity: 1;
    background: #287DFF;
}

.altrp-nav-menu-li-before:before {
    content: "";
    z-index: -1;
    position: absolute;
    transition: opacity 0.5s,width .4s,height .4s;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    border-width: 0 0 0 0;
}

.altrp-nav-menu-li-overline:hover:before {
    height: 1px;
    width: 100%;
    opacity: 1;
    background: #287DFF;
}

.altrp-nav-menu-li-doubleLine:hover:after {
    height: 1px;
    width: 100%;
    opacity: 1;
    background: #287DFF;
}

.altrp-nav-menu-li-doubleLine:hover:before {
    height: 1px;
    width: 100%;
    opacity: 1;
    background: #287DFF;
}

.altrp-nav-menu-li-framed:hover:before {
    border-color: #287DFF;
    height: 100%;
    width: 100%;
    background: none;
    border-style: solid;
    opacity: 1;
    border-width: 1px 0 0 1px;
}

.altrp-nav-menu-li-framed:hover:after {
    border-color: #287DFF;
    height: 100%;
    width: 100%;
    background: none;
    border-style: solid;
    opacity: 1;
    border-width: 0 1px 1px 0;
}

.altrp-nav-menu-li-background {
    transition: background 0.2s;
}

.altrp-nav-menu-li-background:hover {
    background-color: #287DFF;
    color: #FFFFFF;
}

.altrp-nav-menu-li-background:hover .altrp-nav-menu-li-link-label {
    color: #FFFFFF;
}

.altrp-nav-menu-li-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
    transition: 0.2s;
    transform: rotate(-180deg);
}

.altrp-nav-menu-li-link-icon-active {
    transform: rotate(0);
}

.altrp-nav-menu-ul-dropdown-hor-ver-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.altrp-nav-menu-ul-dropdown-hor-ver {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    max-width: 1000px;
    background-color: #d5d5d5;
    z-index: 999;
}

.altrp-nav-menu-ul-dropdown-hor-ver-li {
    position: relative;
}

.altrp-nav-menu-ul-dropdown-hor-ver-li-link {
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #242424;
}

.altrp-nav-menu-ul-dropdown-hor-ver-li:hover {
    background-color: #c6c6c6;
}

.altrp-nav-menu-ul-dropdown-hor-ver-li-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}

.altrp-nav-menu-ul-dropdown-children-hor-ver-ul {
    padding: 0;
    list-style-type: none;
}

.altrp-nav-menu-ul-dropdown-children-hor-ver {
    display: block;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    max-width: 1000px;
    background-color: #d5d5d5;
    z-index: 999;
}

.altrp-nav-menu-ul-dropdown-children-hor-ver-left {
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
    transform:translate(100%, 0%);
    right: 0;
    top: 0;
}

.altrp-nav-menu-ul-dropdown-children-hor-ver-center {
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
    transform:translate(100%, 0%);
    right: 0;
    top: 0;
}

.altrp-nav-menu-ul-dropdown-children-hor-ver-right {
    -ms-transform: translate(-100%, 0%);
    -webkit-transform: translate(-100%, 0%);
    transform:translate(-100%, 0%);
    left: 0;
    top: 0;
}

.altrp-nav-menu-li-dropdown-children-hor-ver-li-link {
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #242424;
}

.altrp-nav-menu-ul-dropdown-children-hor-ver-li:hover {
    background-color: #c6c6c6;
}

.altrp-nav-menu-dropdown-button {
    padding: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.altrp-nav-menu-dropdown-wrapper {
    display: flex;
}

.altrp-nav-menu-dropdown-button-icon {
    height: 20px;
    width: 20px;
}

.altrp-nav-menu-dropdown-content {
    display: block;
    transition: 0.2s cubic-bezier(.35,.96,1,1);
    transform: scaleY(0);
    transform-origin: top;
    max-height: 0;
}

.altrp-nav-menu-dropdown-content-show {
    transform: scaleY(1);
    max-height: 100vh;
}

.altrp-nav-menu-dropdown-content-hide {
    border-style: none !important;
    border-width: 0 !important;
}

.altrp-nav-menu-li-link {
    text-decoration: none;
}

.altrp-nav-menu-dropdown-content .altrp-nav-menu-li {
    width: 100%;
}

.altrp-nav-menu-li-link-label {
    display: flex;
}

.altrp-nav-menu-li-pointer {
    z-index: 200;
}

.altrp-nav-menu-ul-dropdown-hor-ver-li-divider {
    width: 100%;
    height: 0;
    background: none;
    margin: 0;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.altrp-nav-menu-dropdown-sub-label {
    cursor: pointer;
}

.altrp-nav-menu-dropdown-left .altrp-nav-menu-li {
    padding-left: 20px;
}

.altrp-nav-menu-dropdown-right .altrp-nav-menu-li {
    padding-right: 20px;
}

.altrp-nav-menu-dropdown-content-divider {
    width: 100%;
}

.altrp-nav-menu-li-link-chevron-dropdown {
    height: 25px;
    width: 25px;
}

.altrp-nav-menu-dropdown-left .altrp-nav-menu-dropdown-sub-label {
    justify-content: space-between;
}

.altrp-nav-menu-dropdown-left .altrp-nav-menu-li-link-label {
    justify-content: flex-start;
}

.altrp-nav-menu-dropdown-center .altrp-nav-menu-dropdown-sub-label {
    justify-content: center;
}

.altrp-nav-menu-dropdown-center .altrp-nav-menu-li-link-label {
    justify-content: center;
}

.altrp-nav-menu-dropdown-right .altrp-nav-menu-dropdown-sub-label {
    justify-content: space-between;
    flex-direction: row-reverse;
}

.altrp-nav-menu-dropdown-right .altrp-nav-menu-li-link-label {
    justify-content: flex-end;
}

.altrp-nav-menu-dropdown-right .altrp-nav-menu-li-sub {
    padding-right: 0;
}

.altrp-nav-menu-dropdown-left .altrp-nav-menu-li-sub {
    padding-left: 0;
}

.altrp-nav-menu-ul-dropdown-hor-ver-center .altrp-nav-menu-ul-dropdown-hor-ver-li-link {
    justify-content: center;
}

.altrp-nav-menu-ul-dropdown-hor-ver-right .altrp-nav-menu-ul-dropdown-hor-ver-li-link {
    justify-content: flex-end;
}

.altrp-nav-menu-ul-dropdown-hor-ver-space-between .altrp-nav-menu-ul-dropdown-hor-ver-li-link {
    justify-content: space-between;
}

.altrp-nav-menu-ul-dropdown-hor-ver-space-between-reverse .altrp-nav-menu-ul-dropdown-hor-ver-li-link {
    justify-content: space-between;
    flex-direction: row-reverse;
}


.altrp-nav-menu-ul-dropdown-sub-hor-ver-center .altrp-nav-menu-li-dropdown-children-hor-ver-li-link {
    justify-content: center;
}

.altrp-nav-menu-ul-dropdown-sub-hor-ver-right .altrp-nav-menu-li-dropdown-children-hor-ver-li-link {
    justify-content: flex-end;
}

.altrp-nav-menu-ul-dropdown-sub-hor-ver-space-between .altrp-nav-menu-li-dropdown-children-hor-ver-li-link {
    justify-content: space-between;
}

.altrp-nav-menu-ul-dropdown-sub-hor-ver-space-between-reverse .altrp-nav-menu-li-dropdown-children-hor-ver-li-link {
    justify-content: space-between;
    flex-direction: row-reverse;
}

