.altrp-animating-highlighted-svg svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: visible;
}

.altrp-animating-highlighted-svg svg path {
    fill: none;
    stroke: red;
    stroke-width: 9;
    stroke-dashoffset: 0;
    stroke-dasharray: 1500;
    animation: altrp-animating-highlighted 10s infinite;
}

@keyframes altrp-animating-highlighted {
    0% {
        stroke-dashoffset: 1500;
        opacity: 0;
    }

    10% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    70% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    80% {
        stroke-dashoffset: 0;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

.altrp-animating-highlighted {
    position: relative;
}

.altrp-animating-highlighted-rounded-edges svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.altrp-animating-highlighted-text {
    z-index: 1;
    position: relative;
}

.altrp-animating-highlighted-bring-to-front svg {
    z-index: 2;
}
