/.history
launch.json
/node_modules
/public/hot
/public/storage
/server-dist
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject
.idea
storage/installed
s.sql
modules_statuses.json

# IDE helpers
/config/ide-helper.php
.phpstorm.meta.php
_ide_helper.php
.vscode

# Altrp User Activity
/database/altrp_migrations
/app/AltrpModels
/app/Events/AltrpEvents
/app/Http/Controllers/AltrpControllers
/app/Repositories/AltrpRepositories
/app/Http/Requests/AltrpRequests
/app/Providers/AltrpRepositoryServiceProvider.php
/app/Observers/AltrpObservers
/app/Providers/AltrpProviders
/routes/AltrpRoutes.php
/routes/AltrpApiRoutes.php
/routes/AltrpCustomRoutes.php
/routes/AltrpChannels.php
/routes/page_routes.php
/out
/app/Plugins/*/
/Modules/*/
/app/Plugins/plugins.json
public/modules/
/config/telebot.php
=======

#bundles
public/modules/admin
public/favicon.ico
public/modules/front-app
public/modules/editor
public/modules/reports
public/modules/reports-new
