/.history
launch.json
/node_modules
/public/altrp-plugins/
/public/hot
/public/storage
/server-dist
/storage/*.key
/storage/document
storage/tmp/

Makefile
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject
.idea
storage/installed
s.sql
modules_statuses.json
.babelrc

# IDE helpers
/config/ide-helper.php
.phpstorm.meta.php
_ide_helper.php
.vscode

# Altrp User Activity
/database/altrp_migrations
/app/AltrpModels
/app/Events/AltrpEvents
/app/Http/Controllers/AltrpControllers
/app/Repositories/AltrpRepositories
/app/Http/Requests/AltrpRequests
/app/Providers/AltrpRepositoryServiceProvider.php
/app/Observers/AltrpObservers
/app/Providers/AltrpProviders
/routes/AltrpRoutes.php
/routes/AltrpApiRoutes.php
/routes/AltrpCustomRoutes.php
/routes/AltrpChannels.php
/routes/page_routes.php
/out
/app/Plugins/*/
/app/AltrpPlugins/*/
/Modules
/app/Plugins/plugins.json
public/modules/
/config/telebot.php
webpack.editor.common.js
webpack.front.common.js


#bundles
public/modules/admin
public/favicon.ico
public/modules/front-app
public/modules/editor
public/modules/reports
public/modules/reports-new

yarn.lock
*.conf
rootCA.crt
rootCA.key
rootCA.srl
server.crt
server.csr
server.key
dhparam.pem

#files
/public/sitemap.xml
/public/robots.txt
/AltrpObservers/
/Controllers/
/Entities/
/js.js
/test.css
/css.css
/test.scss
/test.html
/test.log
/test.ts
/test.sql
