__selector__.params-<%column_name%>-desc [attr*="altrp-btn-icon"] {
  display: block;
  transform: rotate(180deg);
}

__selector__.params-<%column_name%>-asc [attr*="altrp-btn-icon"] {
  display: block;
}

__selector__ [attr*="altrp-btn-icon"] {
  display: none;
  transition-duratiom: 0.2s;
}
