.col,
.dropSection {
  box-sizing: border-box;
  border: 1px solid transparent;
  &.canDrop {
    border: 1px dotted #cccccc;
    padding: 20px;
  }
  &.isActive {
    background-color: #ff6f3b69;
  }
}
