.altrp-offcanvas-ref {
    display: none;
}

.altrp-offcanvas-editor {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.altrp-offcanvas-wrapper {
    display: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.2);
}

.altrp-offcanvas-wrapper-show {
    display: block;
}

.altrp-offcanvas {
    background-color: #343B4C;
    position: relative;
    cursor: initial;
}

// left
.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-slide .altrp-offcanvas-left {
    animation: altrp-offcanvas-animation-left 200ms forwards ease-out;
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-slide .altrp-offcanvas-left {
    transform: translateX(0);
    animation: altrp-offcanvas-animation-hide-left 200ms forwards ease-out;
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-push .altrp-offcanvas-left {
    animation: altrp-offcanvas-animation-left 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-push .altrp-offcanvas-left {
    transform: translateX(0);
    animation: altrp-offcanvas-animation-hide-left 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-reveal .altrp-offcanvas-left {
    animation: altrp-offcanvas-animation-left 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-reveal .altrp-offcanvas-left {
    transform: translateX(0);
    animation: altrp-offcanvas-animation-hide-left 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-animation-none .altrp-offcanvas-left {
    transform: translateX(0);

}

@keyframes altrp-offcanvas-animation-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes altrp-offcanvas-animation-hide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.altrp-offcanvas-left {
    height: 100vh;
    transform: translateX(-100%);
}

// right
.altrp-offcanvas-right {
    height: 100vh;
    transform: translateX(0);
    margin-left: 100%;
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-slide .altrp-offcanvas-right {
    animation: altrp-offcanvas-animation-right 200ms forwards;   
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-slide .altrp-offcanvas-right {
    transform: translateX(0);
    animation: altrp-offcanvas-animation-hide-right 200ms forwards;
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-push .altrp-offcanvas-right {
    animation: altrp-offcanvas-animation-right 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-push .altrp-offcanvas-right {
    transform: translateX(0);
    animation: altrp-offcanvas-animation-hide-right 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-reveal .altrp-offcanvas-right {
    animation: altrp-offcanvas-animation-right 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-reveal .altrp-offcanvas-right {
    transform: translateX(0);
    animation: altrp-offcanvas-animation-hide-right 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-animation-none .altrp-offcanvas-right {
    transform: translateX(-100%);

}

@keyframes altrp-offcanvas-animation-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes altrp-offcanvas-animation-hide-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

// top
.altrp-offcanvas-top {
    transform: translateY(-100%);
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-slide .altrp-offcanvas-top {
    animation: altrp-offcanvas-animation-top 200ms forwards;
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-slide .altrp-offcanvas-top {
    transform: translateY(-100%);
    animation: altrp-offcanvas-animation-hide-top 200ms forwards;
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-push .altrp-offcanvas-top {
    animation: altrp-offcanvas-animation-top 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-push .altrp-offcanvas-top {
    transform: translateY(-100%);
    animation: altrp-offcanvas-animation-hide-top 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-reveal .altrp-offcanvas-top {
    animation: altrp-offcanvas-animation-top 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-reveal .altrp-offcanvas-top {
    transform: translateY(-100%);
    animation: altrp-offcanvas-animation-hide-top 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-animation-none .altrp-offcanvas-top {
    transform: translateY(0);

}

@keyframes altrp-offcanvas-animation-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes altrp-offcanvas-animation-hide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

// bottom
.altrp-offcanvas-bottom {
    transform: translateY(calc(100vh - 100%));
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-slide .altrp-offcanvas-bottom {
    animation: altrp-offcanvas-animation-bottom 200ms forwards;
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-slide .altrp-offcanvas-bottom {
    animation: altrp-offcanvas-animation-hide-bottom 200ms forwards;
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-push .altrp-offcanvas-bottom {
    animation: altrp-offcanvas-animation-bottom 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-push .altrp-offcanvas-bottom {
    animation: altrp-offcanvas-animation-hide-bottom 200ms forwards cubic-bezier(.17,.67,.25,.84);
}

.altrp-offcanvas-wrapper-show.altrp-offcanvas-animation-reveal .altrp-offcanvas-bottom {
    animation: altrp-offcanvas-animation-bottom 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-wrapper-animation-hide.altrp-offcanvas-animation-reveal .altrp-offcanvas-bottom {
    animation: altrp-offcanvas-animation-hide-bottom 200ms forwards cubic-bezier(.64,-0.02,.46,1);
}

.altrp-offcanvas-animation-none .altrp-offcanvas-bottom {
    transform: translateY(calc(100vh - 100%));

}

@keyframes altrp-offcanvas-animation-bottom {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(calc(100vh - 100%));
    }
}

@keyframes altrp-offcanvas-animation-hide-bottom {
    0% {
        transform: translateY(calc(100vh - 100%));
    }
    100% {
        transform: translateY(100vh);
    }
}

.altrp-offcanvas-button {
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 200;
}

.altrp-offcanvas-button-icon {
    height: 25px;
    width: 25px;
}

.altrp-offcanvas-button-right {
    right: 0;
}

.altrp-offcanvas-button-left {
    left: 0;
}

.altrp-offcanvas-wrapper-cursor-none {
    cursor: default;
}

.altrp-offcanvas-wrapper-cursor-crosshair {
    cursor: crosshair;
}

.altrp-offcanvas-wrapper-cursor-pointer {
    cursor: pointer;
}

.altrp-offcanvas-wrapper-overflow-visible {
    overflow: visible;
}
