.altrp-nav-breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.altrp-nav-breadcrumbs-link {
    text-decoration: none;
}

.altrp-nav-breadcrumbs-label {
    padding: 0 4px;
    font-size: 21px;
}

.altrp-nav-breadcrumbs-li {
    display: flex;
    align-items: center;
    justify-content: center;
}
