.altrp-nav-breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.altrp-nav-breadcrumbs-link {
    text-decoration: none;
}

.altrp-nav-breadcrumbs-label {
    padding: 0 4px;
    font-size: 21px;
}

.altrp-nav-breadcrumbs-li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.altrp-nav-breadcrumbs-separator {
    display: flex;
    align-items: center;
}

.altrp-nav-breadcrumbs-separator-icon svg {
    height: 20px;
    width: 20px;
}
