@import "../../../../../sass/vars";
.admin-media-input{
  display: flex;
  align-items: center;
  &__preview{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: $light-gray;
    margin-right: 30px;
    & img{
      max-width: 100%;
    }
  }
}
