@import "vars";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";

body,
*,
*:focus,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
body{
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: $black;
}

a,
button,
svg,
path{
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -ms-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  font-family: Roboto, sans-serif;
}

a:focus,
button:focus{
  outline: none;
}
button{
  cursor: pointer;
}

iframe{
  display: block;
  border: none;
}

input[type="checkbox"]{
  cursor: pointer;
}

.no-transition{
  -webkit-transition-duration: 0s!important;
  -moz-transition-duration: 0s!important;
  -ms-transition-duration: 0s!important;
  -o-transition-duration: 0s!important;
  transition-duration: 0s!important;
}
.caption{
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}
.btn{
  &_bare{
    border: none;
    background-color: transparent;
  }
  &_success{
    background-color: $green;
    color: #fff;
    font-weight: bold;
  }
}
.text{
  &_bold{
    font-weight: bold;
  }
}
.altrp-disabled{
  pointer-events: none;
}