@import "vars";

body,
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
body{
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: $black;
}

a,
button,
svg,
path{
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -ms-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
  font-family: Roboto, sans-serif;
}

iframe{
  display: block;
  border: none;
}

.no-transition{
  -webkit-transition-duration: 0s!important;
  -moz-transition-duration: 0s!important;
  -ms-transition-duration: 0s!important;
  -o-transition-duration: 0s!important;
  transition-duration: 0s!important;
}