@@layout('base')


@section('head')

    <script src="{{ url }}" defer></script>

    @if(css)
        <link href="{{css}}" rel="stylesheet"/>
    @end

    <script>
        let _altrpVersion = "{{ version }}";

        window.altrpMenus = [];
        window.container_width = {{{ get_altrp_setting( 'container_width', '1440' ) }}};
    </script>
@end

@section('body')
    <div id="editor">
    </div>
@end
