<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="/data/current-user" defer></script>
    {{{ script }}}
    <script>
        /* <![CDATA[ */
        console.log('START: ',performance.now());
        /**
         * Функция для вывода ошибок в HTML
         * @param msg
         * @param url
         * @param lno
         * @return {boolean}
         */
        function myErrHandler(msg, url, lno)
        {
          document.getElementById('front-app').textContent = `${msg} ${url} ${lno}`;
          return true;
        }
        // window.onerror = myErrHandler;
        /* ]]> */
        document.currentScript = "http://altrp.nz/modules/front-app/";
    </script>

    <!-- Scripts -->

  <!-- Fonts -->
  <link rel="dns-prefetch" href="//fonts.gstatic.com">

  <!-- Style -->
  @!component('front-app-css')
</head>
<body class="front-app-body">
    <div id="front-app" class="front-app">{{{ssr}}}</div>
    <div id="front-app-server" style="display: none;" class="front-app" style="overflow:auto;">
    {{--  <script src="{{ hAltrp }}"></script>  --}}
    @!component('front-app-test', {
      token,
      page,
    })
    <script defer src="{{ hAltrp }}"></script>
    <link rel="stylesheet" href="http://altrp.nz/modules/front-app/front-app.css?0.0.0">
</body>
</html>
