@@layout('base')

@section('body')
    <form method="POST">
        <input type="email" id="email" name="email"/>
        <input type="password" id="password" name="password"/>
        <button type="submit">
            Login
        </button>
    </form>
@end