@@layout('base')


@section('head')

    <script src="{{ url }}" defer></script>

    @if(css)
        <link href="{{css}}" rel="stylesheet"/>
    @end

    <script>
        let _altrpVersion = "{{ version }}";

        window.altrpMenus = [];
    </script>
@end

@section('body')
    <div id="robots-editor">
    </div>
@end
