$purple: #343b4c;
$purple-transparent: rgba(52, 59, 76, 0.2);
$dark-grey: #3c455b;
$dark-purple: #2a2d36;
$button-grey: #8e94aa;
$grey: #8e94aa;
$blue: #315efb;
$light-gray: #e6e9ec;
$light-light-gray: #eceded;
$border-gray: #d5d7de;
$black: #262626;
$green: #87ca00;
$turquoise: #71d7f7;
$red: #ff4e6e;
