$purple: #343B4C;
$purple-transparent: rgba(52, 59, 76, 0.2);
$dark-grey: #3C455B;
$dark-purple: #2A2D36;
$button-grey: #8E94AA;
$grey: #8E94AA;
$blue: #315EFB;
$light-gray: #E6E9EC;
$light-light-gray: #eceded;
$border-gray: #D5D7DE;
$black: #262626;
$green: #87CA00;
$turquoise: #71d7f7;
$red: #FF4E6E;
