
.altrp-post{
  width: 100%;
  position: relative;
  .altrp-post--hover{
    overflow: hidden;
  }
}
.altrp-post > .sections-wrapper{
  width: auto;
  & .altrp-section{
    width: 100%;
  }
}
.altrp-posts .altrp-post .altrp-section--boxed {
  padding-left: 0;
  padding-right: 0;
  & > .altrp-element.altrp-element_column {
    width: 100%;
  }
}

.altrp-post.altrp-post--hover {
  position: absolute;
  top: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  &--left {
    transform: translate(-100%, 0);
  }
  &--right {
    transform: translate(100%, 0);
  }
  &--top {
    transform: translate(0, -100%);
  }
  &--bottom {
    transform: translate(0, 100%);
  }
  &--fade {
    opacity: 0;
  }
  &--zoom {
    transform: scale(0)
  }
}

.altrp-post:hover .altrp-post.altrp-post--hover {
  transform: scale(1) translate(0, 0);
  opacity: 1;

}
.altrp-widget_posts{
  & > div > .altrp-pagination-pages,
  & > .altrp-pagination-pages{
    justify-content: center;
  }
}
