.altrp-columns{
  @for $i from 1 through 16 {
    &_#{$i} > .altrp-posts {
      grid-template-columns: repeat($i, 1fr);
      display: grid;
    }
  }
}
.altrp-post{
  width: 100%;
}
.altrp-post > .sections-wrapper{
  width: auto;
  & .altrp-section{
    width: 100%;
  }
}
.altrp-posts .altrp-post .altrp-section--boxed {
  padding-left: 0;
  padding-right: 0;
  & > .altrp-element.altrp-element_column {
    width: 100%;
  }
}