.altrp-columns{
  &_3 > .altrp-posts{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }
}
.altrp-post > .sections-wrapper{
  width: auto;
  & .altrp-section{
    width: 100%;
  }
}
.altrp-posts .altrp-post .altrp-section--boxed > .altrp-element.altrp-element_column{
  width: 100%;
}