@import "../../../../../../sass/vars";

.altrp-dynamic-content{
  display: none;
  position: absolute;
  z-index: 1000;
  width: 250px;
  max-height: 300px;
  padding: 10px;
  overflow: auto;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid $border-gray;
  &_show{
    display: block;
  }
  & .controller-container_select2{
    font-size: 14px;
  }
  & .dynamic-select{
    &__indicator{
      padding: 3px;
    }
  }
}

