.altrp-animating-rotating-line {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 1);
}

.altrp-animating-rotating-line-pulse {
    animation: altrp-animating-rotating-line-pulse 1000ms infinite ease-out;
}

@keyframes altrp-animating-rotating-line-pulse {
    0% {
        border-right-color: rgba(0, 0, 0, 1);
    }
    25% {
        border-right-color: rgba(0, 0, 0, 0);
    }
    75% {
        border-right-color: rgba(0, 0, 0, 0);
    }
    100% {
        border-right-color: rgba(0, 0, 0, 1);
    }
}

.altrp-animating-rotating-typing-delete {
    background-color: #000000;
    color: gray;
}

.altrp-animating-rotating-typing-letter-hide {
    display: none;
}

.altrp-animating-rotating-clip-line {
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000000;
}

.altrp-animating-rotating {
    position: relative;
}

.altrp-animating-rotating-clip-hide {
    position: absolute;
    display: none;
}

.altrp-animating-rotating-flip-container {
    perspective: 500px;
    animation: altrp-animating-rotating-flip-show 5000ms infinite;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transform: rotateX(180deg);
}

@keyframes altrp-animating-rotating-flip-show {
    0% {
        transform: rotateX(-180deg);
        opacity: 0;
    }
    20% {
        transform: rotateX(0deg);
        opacity: 1;
    }
    40% {
        transform: rotateX(0);
    }
    55% {
        transform: rotateX(-40deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotateX(180deg);
    }
}

.altrp-animating-rotating-flip-word {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

.altrp-animating-rotating-flip-show:hover {
    opacity: 1
}

.altrp-animating-rotating-flip-hide {
    left: 0;
    position: absolute;
    opacity: 0;
}
