.altrp-animating-rotating-line {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 1);
}

.altrp-animating-rotating-line-pulse {
    animation: altrp-animating-rotating-line-pulse 1000ms infinite ease-out;
}

@keyframes altrp-animating-rotating-line-pulse {
    0% {
        border-right-color: rgba(0, 0, 0, 1);
    }
    25% {
        border-right-color: rgba(0, 0, 0, 0);
    }
    75% {
        border-right-color: rgba(0, 0, 0, 0);
    }
    100% {
        border-right-color: rgba(0, 0, 0, 1);
    }
}

.altrp-animating-rotating-typing-delete {
    background-color: #000000;
    color: gray;
}

.altrp-animating-rotating-typing-letter-hide {
    display: none;
}

.altrp-animating-rotating-clip-line {
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000000;
}

.altrp-animating-rotating {
    position: relative;
}

.altrp-animating-rotating-clip-hide {
    position: absolute;
    display: none;
}

.altrp-animating-rotating-flip-container {
    perspective: 500px;
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
}

.altrp-animating-rotating-flip-container-hiding {
    animation: altrp-animating-rotating-flip-animation-hiding 1000ms forwards;
}

@keyframes altrp-animating-rotating-flip-animation-hiding  {
    0% {
        transform: rotateX(0);
        opacity: 1;
    }
    40% {
        transform: rotateX(-40deg);
        opacity: 1;
    }
    100% {
        transform: rotateX(180deg);
        opacity: 0;
    }
}

.altrp-animating-rotating-flip-container-showing {
    animation: altrp-animating-rotating-flip-animation-showing 1000ms forwards;
}

@keyframes altrp-animating-rotating-flip-animation-showing  {
    0% {
        transform: rotateX(-180deg);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}

.altrp-animating-rotating-flip-word {
    position: relative;
    box-sizing: border-box;
}

.altrp-animating-rotating-flip-show:hover {
    opacity: 1
}

.altrp-animating-rotating-flip-hide {
    left: 0;
    position: absolute;
    opacity: 0;
}

.altrp-animating-rotating-swirl-word {
    position: absolute;
    display: flex;
}

.altrp-animating-rotating-swirl-letter-hide {
    opacity: 0;
}

.altrp-animating-rotating-swirl {
    height: 100%;
}

.altrp-animating-rotating-swirl-letter-hiding {
    animation: altrp-animating-rotating-swirl-letter-hiding 200ms forwards;
}

@keyframes altrp-animating-rotating-swirl-letter-hiding {
    0% {
        transform: rotateX(0) perspective(300px);
        opacity: 1;
    }
    100% {
        transform: rotateX(-180deg) perspective(300px);
        opacity: 0;
    }
}

.altrp-animating-rotating-swirl-letter-showing {
    animation: altrp-animating-rotating-swirl-letter-showing 200ms forwards;
}

@keyframes altrp-animating-rotating-swirl-letter-showing {
    0% {
        transform: rotateX(-180deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}


.altrp-animating-rotating-blinds-word {
    position: absolute;
    display: flex;
}

.altrp-animating-rotating-blinds-letter-hide {
    opacity: 0;
}

.altrp-animating-rotating-blinds {
    height: 100%;
}

.altrp-animating-rotating-blinds-letter-hiding {
    animation: altrp-animating-rotating-blinds-letter-hiding 200ms forwards;
}

@keyframes altrp-animating-rotating-blinds-letter-hiding {
    0% {
        transform: rotateY(0) perspective(300px);
        opacity: 1;
    }
    100% {
        transform: rotateY(-180deg) perspective(300px);
        opacity: 0;
    }
}

.altrp-animating-rotating-blinds-letter-showing {
    animation: altrp-animating-rotating-blinds-letter-showing 200ms forwards;
}

@keyframes altrp-animating-rotating-blinds-letter-showing {
    0% {
        transform: rotateY(-180deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0);
        opacity: 1;
    }
}

.altrp-animating-rotating-drop-in-hide {
    opacity: 0;
}

.altrp-animating-rotating-drop-in-hiding {
    animation: altrp-animating-rotating-drop-in-hiding 200ms forwards;
}

@keyframes altrp-animating-rotating-drop-in-hiding {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-100px);
        opacity: 0;
    }
}

.altrp-animating-rotating-drop-in-word {
    position: absolute;
}

.altrp-animating-rotating-drop-in-show {
    animation: altrp-animating-rotating-drop-in-showing 200ms forwards;
}

@keyframes altrp-animating-rotating-drop-in-showing {
    0% {
        transform: translateZ(100px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.altrp-animating-rotating-drop-in {
    perspective: 300px;
}

.altrp-animating-rotating-wave-word {
    position: absolute;
    display: flex;
}

.altrp-animating-rotating-wave-letter-hide {
    opacity: 0;
}

.altrp-animating-rotating-wave {
    height: 100%;
}

.altrp-animating-rotating-wave-letter-hiding {
    perspective: 300px;
    animation: altrp-animating-rotating-wave-letter-hiding 200ms forwards;
}

@keyframes altrp-animating-rotating-wave-letter-hiding {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    75% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.altrp-animating-rotating-wave-letter-showing {
    perspective: 300px;
    animation: altrp-animating-rotating-wave-letter-showing 200ms forwards;
}

@keyframes altrp-animating-rotating-wave-letter-showing {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.altrp-animating-rotating-slide-word-showing {
    animation: altrp-animating-rotating-slide-word-showing 400ms forwards;
}

@keyframes altrp-animating-rotating-slide-word-showing {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.altrp-animating-rotating-slide-word-hiding {
    animation: altrp-animating-rotating-slide-word-hiding 400ms forwards;
}

@keyframes altrp-animating-rotating-slide-word-hiding {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.altrp-animating-rotating-slide-word {
    position: absolute;
}

.altrp-animating-rotating-slide-word-hide {
    display: none;
}

.altrp-animating-rotating-slide {
    overflow: hidden;
    position: relative;
}



.altrp-animating-rotating-slide-down-word-showing {
    animation: altrp-animating-rotating-slide-down-word-showing 400ms forwards;
}

@keyframes altrp-animating-rotating-slide-down-word-showing {
    0% {
        bottom: 100%;
    }
    100% {
        bottom: 0;
    }
}

.altrp-animating-rotating-slide-down-word-hiding {
    animation: altrp-animating-rotating-slide-down-word-hiding 400ms forwards;
}

@keyframes altrp-animating-rotating-slide-down-word-hiding {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -100%;
    }
}

.altrp-animating-rotating-slide-down-word-hide {
    display: none;
}

.altrp-animating-rotating-slide-down-word {
    position: absolute;
    left: 0;
}

.altrp-animating-rotating-slide-down {
    overflow: hidden;
    position: relative;
}
