@import "../../../../sass/vars.scss";

body {
    margin: 0px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}
*,
:after,
:before {
    box-sizing: inherit;
}

.page__content {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 100vw;
    max-height: 100vh;

    .panel {
        width: 100%;
        flex-direction: column;
        &-tabs {
            margin-bottom: 11px;
        }
        &-tab {
            flex-direction: column;
            align-items: center;
            width: 50%;
            padding: 8px 0 6px;
            background-color: #fff;
            border-bottom: 3px solid #fff;
            font-size: 10px;
            &.active {
                background-color: #f7f8f9;
                border-bottom-color: $purple;
            }
            & svg {
                width: 20px;
                height: 20px;
            }
            &__icon {
                margin-bottom: 4px;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.node {
    &__inner {
        word-wrap: break-word;
        padding: 8px 30px;
        // position: absolute;
        text-align: center;
        z-index: 1000;
        width: 100%;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
    }
}

.sidebar {
    width: 300px;
    background: white;
    height: 100vh;
    display: flex;
    padding: 8px;
    flex-direction: column;
    flex-shrink: 0;

    &__item {
        padding: 20px 30px;
        font-size: 14px;
        background: white;
        cursor: move;
    }
}

.flow-node {
    padding: 10px;
    border-radius: 45px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    &.selected {
        box-shadow: 0 0 0 0.5px #1a192b;
    }
}

.flow-node-condition {
}

.react-flow__minimap-node.condition-romb {
    width: 150px;
    height: 150px;
}

// Switcher
.robot_switcher {
    display: flex;
    margin-bottom: 15px;

    .control-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 7px;
        padding-left: 7px;
        font-size: 8px;
        line-height: 9px;
        width: 49px;
        height: 22px;
        border-radius: 11px;
        position: relative;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: bold;
        &_off {
            background: $light-gray;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
                inset -1px -1px 2px rgba(0, 0, 0, 0.15);
            color: rgba(0, 0, 0, 0.3);
            & .control-switcher__on-text {
                opacity: 0;
            }
        }
        &_on {
            background: $green;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
                inset -1px -1px 2px rgba(0, 0, 0, 0.15);
            color: #ffffff;
            & .control-switcher__off-text {
                opacity: 0;
            }
            & .control-switcher__caret {
                left: 30px;
            }
        }
        &__caret {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 3px;
            left: 3px;
            border-radius: 50%;
            background: #ffffff;
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -ms-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
    }
    .robot_switcher__label {
        flex-grow: 1;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

.controller-container-input,
#type-action,
#type-condition,
#crud-method,
#crud-model,
#crud-record,
#crud-fields,
#send-users,
#send-roles,
#send-channels,
#bit-operator,
#logic-operator,
#type-edge,
#model_id,
#start_condition {
    width: 100%;
}
.controller-container-input {
    margin-top: 15px;
}

.controllers-wrapper {
    display: block;
    background-color: #fff;
}
.settings-section-box {
    margin: 15px 0px;
}
.editor-bottom-panel {
    justify-content: space-between;
}
.editor-bottom-panel .btn_grey {
    margin-right: 10px;
}

// Select
.control-select {
    border-radius: 3px;
    color: #6d7882;
}
.controller-container_select {
    width: auto;
    display: flex;
    flex-direction: row;
}
.control-select__label {
    margin-right: auto;
    height: 27px;
}
.control-container_select-wrapper {
    position: relative;
    float: right;
}

.control-field {
    width: 100%;
    height: 26px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    // color: $black;
    line-height: 24px;
    border-radius: 0;
    border: 1px solid $light-gray;
    &_number {
        width: 80px;
    }
}
.compare-control-field {
    width: 100%;
    height: 26px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    // color: $black;
    line-height: 24px;
    border-radius: 0;
    border: none;
    &_number {
        width: 80px;
    }
}
.control-group {
    .control-field {
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    &__append {
        width: 27px;
        height: 26px;
        border-right: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        border-radius: 0 3px 3px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;
    }
}
.textcontroller-responsive {
    width: 100%;
    margin-bottom: 5px;
}
.control-link {
    border-color: #e5e6ea;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    width: 80%;
    border-radius: 3px 0px 0px 3px;
    color: #8e94aa;
    padding-left: 7px;
}
.romb {
    display: inline-block;
    width: 150px;
    height: 150px;
    color: #fff;
    background: $red;
    transform: rotate(45deg);
    padding: 16px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08),
        0px 4px 48px rgba(0, 0, 0, 0.08);
    
    &.selected{
        border: 3px solid $dark-purple;
    }
}

.condition-text,
.robot-text {
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
    max-height: 97px;
    overflow: hidden;
}

.condition-type,
.robot-type {
    font-size: 12px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.romb .wrapper {
    transform: rotate(-45deg);
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
    padding: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background: $green;

    &.selected{
        border: 3px solid $dark-purple;    }

}
.default-node__label {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.default-node__type {
    padding: 6px 0 0 0;
}
.fl-column {
    flex-direction: column;
}
.mt-10 {
    margin-top: 10px;
}
.controller-label {
    width: 25%;
    flex-grow: inherit;
}
.controller-field {
    width: 75% !important;
    flex-grow: inherit;
}

// Egde
.react-flow__edge-path {
    stroke: $grey;
    stroke-width: 2px;
}
.react-flow__edge.red{
    .react-flow__edge-path{
        stroke: $red;
    }
}
.react-flow__edge.green{
    .react-flow__edge-path{
        stroke: $green;
    }
}

// .condition-node-map {
//     transform: rotate(-45deg);
// }

// .robot-node-map {
//     border-radius: 100%;
// }

