@import "~bootstrap/dist/css/bootstrap.css";
@import "../../../../sass/common";
@import "../../../../sass/vars";
@import "components/admin-heading";
@import "components/elements";
@import "components/admin-table";
@import "components/admin-modal";
@import "components/admin-assets";
@import "components/admin-settings";
@import "components/admin-users";


.admin {
  display: flex;
  height: 100vh;
    .nav-logo{
        background-color: #2A2D36;
    }
  &-nav {
      background-color: #343B4C;
      width: 271px;
      height: 100vh;
    &-top {
      padding: 8px;
    }
    &-list {
      &__link{
        display: flex;
        padding: 6px;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        &:hover{
          color: $green;
          & path{
            fill: $green;
          }
        }
        & svg{
          position: relative;
          top: 1px;
          margin: 3px 16px 0 7px;
        }
      }
    }
  }
  &-content {
    width: 100%;
  }
  &-caption{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
  }
}
.icon {
    width: 16px;
    height: 16px;
    fill: white;
    margin-right: 15px;
    display: inline-block;
    align-items: center;
}
li {
    list-style-type: none;

    &:hover{
        background-color: $purple;
    }
}
ul {
    margin-left: 0;
    padding-left: 0;
}
p{
    display: inline-block;
    color: white;
    font-weight: 500;
    font-family: Montserrat, Arial, sans-serif;
}
a{
    text-decoration: none;
}
.admin-page{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.admin-content{
  background-color: $light-light-gray;
  flex-grow: 1;
  padding: 13px 25px;
}
