@import "~bootstrap/dist/css/bootstrap.css";
@import "../../../../sass/common";
@import "../../../../sass/vars";
@import "components/admin-heading";
@import "components/elements";
@import "components/admin-table";
@import "components/admin-modal";
@import "components/admin-assets";
@import "components/admin-settings";
@import "components/tabs";


.admin {
  display: flex;
  height: 100vh;
  &-nav {
    position: relative;
    overflow: hidden;
    &-top {
      background-color: $dark-purple;
      width: 271px;
      height: 100vh;
    }
    &-list {
      &__link{
        display: flex;
        padding: 10px 20px;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        &:hover{
          color: $green;
          & path{
            fill: $green;
          }
        }
        & svg{
          position: relative;
          top: 1px;
        }
      }
      &_pages{
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $dark-purple;
        transform: translate(100%, 0);
        transition-duration: .3s;
      }
    }
  }
  &-content {
    width: 100%;
  }
  &-caption{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
  }
  &__bars{
    cursor: pointer;
  }
  &_pages-show{
    & .admin-nav-list_pages{
      transform: translate(0, 0);
    }
  }
}
.icon {
    width: 16px;
    height: 16px;
    fill: white;
    margin-right: 15px;
    display: inline-block;
    align-items: center;
}
li {
    list-style-type: none;
    background-color: $dark-purple;
    &:hover{
        background-color: $purple;
    }
}
ul {
    margin-left: 0;
    padding-left: 0;
}
p{
    display: inline-block;
    color: white;
    font-weight: 500;
    font-family: Montserrat, Arial, sans-serif;
}
a{
    text-decoration: none;
}
.admin-page{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.admin-content{
  background-color: $light-light-gray;
  flex-grow: 1;
  padding: 13px 25px;
}
