@import "~bootstrap/dist/css/bootstrap.css";
@import "../../../../sass/common";
@import "../../../../sass/vars";
@import "components/admin-heading";
@import "components/elements";
@import "components/admin-table";
@import "components/admin-modal";
@import "components/admin-assets";
@import "components/admin-settings";
@import "components/tabs";
@import "components/admin-users";
@import "components/users-tools";
@import "components/admin-logo";
@import "components/admin-users";
@import "components/admin-models";
@import "components/admin-charts";
@import "~react-datepicker/dist/react-datepicker.css";
@import "components/admin-sql-builder";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=cyrillic");
@import "components/admin-document-detail";
@import "components/admin-custom-fonts";
@import "components/admin-edit-font";


@import "../../../editor/src/sass/blueprint-datetime";
@import "../../../editor/src/sass/blueprint-hi-contrast";
@import "../../../editor/src/sass/blueprint";
.admin {
  padding-left: var(--menu-admin-default);

  &-block {
    display: flex;
    min-height: 100vh;
  }
  &__logo {
    width: 102px;
    height: 44px;
    display: flex;
    align-items: center;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: auto;
    height: 100vh;
    background-color: $dark-purple;
    width: 250px;
    flex-shrink: 0;
    &-main {
      height: 100%;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 9px 15px;
      background-color: $black;
    }
    &-list {

      &__link {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 15px 10px 18px;
        color: #fff;
        line-height: 1.28581;
        font-size: 17px;
        font-weight: 400;
        font-family: Roboto, sans-serif;
        &.admin-nav-list__link--models {
          padding: 10px 10px 10px 54px;
        }

        & span {
          flex-grow: 1;
        }
        &:hover {
          color: $green;
          text-decoration: none;
          z-index: 500;
          & path, circle {
            fill: $green;
          }
        }
        //&:hover::before {
        //  content: "";
        //  position: absolute;
        //  left: 0;
        //  top: 0;
        //  border-left: 4px solid #7eb223;
        //  height: 41px;
        //  border-top-right-radius: 4px;
        //  border-bottom-right-radius: 4px;
        //}
        & svg {
          position: relative;
          top: -1px;
        }
      }
      &_pages {
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        // bottom: 0;
        // min-height: 80%;
        background-color: $dark-purple;
        transform: translate(100%, 0);
        transition-duration: 0.3s;
      }

      .admin-nav-list--sublist_active {

        //&::after {
        //  content: "";
        //  position: absolute;
        //  right: 0;
        //  top: 12px;
        //  border: 8px solid transparent;
        //  border-right: 8px solid #f7f8f9;
        //  display: block;
        //  width: 0;
        //  height: 0;
        //}

        & li {
          background-color: rgba(255, 255, 255, 0.03);
          position: relative;

          &:hover {
            background-color: rgba(255, 255, 255, 0.02);
          }
        }

        & .admin-nav-list__link {
          font-size: 13px;
          height: 40px;
          padding: 10.5px 10px 10.5px 54px;
          text-decoration: none;

          & span {
            flex-grow: 1;
          }

          &:hover::before {
            height: 40px;
          }
        }
      }

      &.admin-nav-list--sublist {
        /* margin-left: 55px; */
        display: none;
        position: fixed;
        left: var(--menu-admin-default);
        margin-top: -41.84px;

        &::before {
          margin-top: 12px;
          left: var(--menu-droplet-default);
          content: "";
          position: fixed;
          border: 8px solid transparent;
          border-right: 8px solid #2E313A;
          display: block;
          width: 0;
          height: 0;
        }

        & li {
          background-color: #2E313A;
          position: relative;

          &:hover {
            background-color: #2C2F38;
          }
        }

        .admin-nav-list__link {
          font-size: 13px;
          min-width: 165px;
          max-width: 250px;
          height: 41.84px;
          padding: 10px;
          text-decoration: none;

          &:hover::before {
            height: 0;
            border-left: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
      & li:hover &.admin-nav-list--sublist {
        display: block;
        z-index: 999;
      }
    }
  }
  &-content {
    width: 100%;
    background-color: #f7f7f7;
    flex-grow: 1;
    padding: 90px 60px 30px 60px;
    //padding: 30px 60px;
  }
  &-caption {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
  }
  &__bars {
    cursor: pointer;
    fill: #fff;
  }
  &_pages-show {
    & .admin-nav-list_pages {
      transform: translate(0, 0);
    }
  }
  &__version {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: Roboto, sans-serif;
    background-color: $black;
  }
  &-form__subheader {
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

.additionally__models {
  cursor: pointer;
}

/* Чтобы кастомный скроллбар слева не перекрывал элементы списка при наведении */
.admin-nav-main div div:last-child {
  pointer-events: none;
}

.icon {
  width: 16px;
  height: 16px;
  fill: white;
  margin-right: 20px;
  display: inline-block;
  align-items: center;

  & path {
    width: 16px;
    height: 16px;
  }
}

.icon__droplet {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%);
  right: 0;
  fill: white;
  display: none;
}


.admin-nav .admin-nav-list__link-top  {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.05);
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.admin-nav li {
  position: relative;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
p {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-family: Montserrat, Arial, sans-serif;
}
a {
  text-decoration: none;
}
.admin-page {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  & .nav-pills .react-tabs__tab {
    margin-bottom: 15px;
  }
}

.ace_editor {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.admin-skeleton{
  .altrp-skeleton{
    width: 220px;
    height: 240px;
  }
  &-settings{
    .sketch-picker{
    }
  }
}

.admin-nav .active__panel {
  list-style-type: none;
  background-color: #7CA727;

  &:hover {
    color: white;
    text-decoration: none;
    & path, circle {
      fill: white;
    }

    &:hover::before {
      display: none;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-left: none;
      height: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

  }

  & .icon__droplet {
    display: inline-block;
  }
}

.font__weightDropList {
  font-weight: 700;
}

.icon-menu__block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  bottom: 40px;
  width: 35px;
  height: 35px;
  z-index: 50;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.icon__menu {
  display: inline-block;
  width: 17px;
  height: 27px;
  transform: rotate(-180deg);
}

.models-sublist__item {
  max-height: 715px;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.admin-nav-mini {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #2A2D36;
  width: 60px;
  flex-shrink: 0;

  & .active__panel {
    list-style-type: none;
    background-color: #7CA727;
  }
}

.admin-nav-mini .active__panel {
  &:hover {
    background-color: #7CA727;

    & svg path, circle {
      fill: white;
    }
  }
}

.admin-nav-top-mini {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 62px;
  background-color: #262626;
}

.admin-nav-list__link-mini {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 41.84px;
  background-color: rgba(255, 255, 255, 0.05);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);

    & path, circle {
      fill: $green;
    }
  }
}

.icon-mini {
  width: 16px;
  height: 16px;
  fill: white;
  display: inline-block;
  align-items: center;

  & path {
    width: 16px;
    height: 16px;
  }
}

.admin-bottom__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
}

.admin__bars-mini {
  cursor: pointer;
  fill: #fff;
  margin-bottom: 20px;
}

.icon__menu-mini {
  display: inline-block;
  width: 17px;
  height: 27px;
  cursor: pointer;
  margin-bottom: 10px;
}

.icon-img {
  min-width: 0;
  max-width: 100px;
  min-height: 0;
  max-height: 100px;
  margin-bottom: 10px;
}

.image-settings__block {
  padding: 10px;

  & .btn_success {
    width: 100px;
    height: 34px;
    padding: 8px 12px;
  }
}

body {
  font-size: 14px !important;
  line-height: 1.28581 !important;
}

:root {
  --menu-admin-true: 250px;
  --menu-admin-false: 60px;
  --menu-admin-default: var(--menu-admin-true);

  --menu-droplet-true: 235px;
  --menu-droplet-false: 45px;
  --menu-droplet-default: var(--menu-droplet-true);
}

.admin-changelog{
  padding: 25px;
  font-size: 14px;
  background-color: $light-gray;
}
