@import "../../../../sass/common";
@import "../../../../sass/vars";
@import "components/admin-heading";
@import "components/elements";

.admin {
  display: flex;
  min-height: 100vh;

  &-nav {
    &-top {
      background-color: $dark-purple;
    }
  }

  &-content {
    width: 100%;
  }
}

