.altrp-field-file{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__field{
    display: none;
  }
  &__placeholder{
    display: none;
  }
  &_empty{
    & .altrp-field-file__placeholder{
      display: block;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      background-color: rgb(52,59,76);
      color: #fff;
    }
  }
}

.input-clear-btn {
  background: transparent;
  padding: 0;
  position: absolute;
  bottom: calc(50% - 7px);
  right: 15px;
  display: none;

  &:hover {
    font-weight: bold;
  }
}

.altrp-field:hover + .input-clear-btn, .input-clear-btn:hover {
  display: block;
}

.altrp-input-wrapper {
  position: relative;
  flex-grow: 1;
}
