@media print {
  html,
  body {
    height: 100%;
    width: 100%;
  }
  * {
    -webkit-print-color-adjust: exact;
  }
  .rrbe {
    height: auto;
    &__right {
      &-container {
        height: auto;
      }
    }
  }
  .page_print_header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .page_print_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
