
.altrp-btn-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;


}

.altrp-btn svg {
  display: block;
  height: 25px;
  width: 25px;
}

.altrp-btn:hover {
  text-decoration: none;
}

.altrp-btn {
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  flex-direction: row;
  background-color: #343B4C;
  color: #FFFFFF;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px
}

.altrp-btn_gray {
  background-color: #8E94AA;
  color: #fff;
}

.altrp-btn__icon {
  transform: scale(0.6);
}

.altrp-btn-icon {
  display: flex;
  justify-content: center;
}




.btn-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.altrp-btn-icon-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.altrp-btn-icon-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.altrp-btn-icon-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.altrp-btn-icon-bottom img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.altrp-dropbar-container.altrp-dropbar-container{
  max-width: 100vw;
  z-index: 10000;
}

.altrp-dropbar-container-hide *{
  transition-duration: 0s;
}
.altrp-dropbar_full-window{
  width: 100vw!important;
  height: 100vh!important;
  top: 0!important;
  left: 0 !important;
  position: fixed !important;
  transform: none !important;
  border-radius: 0 !important;
}
.altrp-dropbar__close-icon{
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}
.altrp-dropbar_full-window .altrp-dropbar__close-icon{
  display: flex;
}
.altrp-dropbar__close-icon img{
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.altrp-dropbar_full-window .altrp-dropbar__close-icon.altrp-dropbar__close-icon_left{
  right: auto;
  left: 0;
}
.altrp-dropbar-content{
  user-select: text;
}
.inner-template{
  max-height: 100%;
  overflow: auto;
}
.altrp-dropbar-content p {
  margin-top: 0;
  margin-bottom: 10px;
}


.altrp-btn-wrapper_dropbar.altrp-btn-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

& img {
    max-width: 100%;
  }
}

.altrp-dropbar-content.altrp-dropbar-content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.altrp-dropbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.altrp-dropbar-children-wrapper {
  display: flex;
  position: relative;
}

.altrp-btn-dropbar {
  width: 100%;
}

.altrp-dropbar-container {
  position: absolute;
  color: #666;
  padding: 30px;
  background-color: #f1f3f5;
}

.altrp-dropbar-container-hide {
  visibility: hidden;
}

.altrp-dropbar-variant-bottom-center .altrp-dropbar-children-wrapper {
  position: static;
  justify-content: center;
}

.altrp-dropbar-variant-top-center .altrp-dropbar-children-wrapper {
  position: static;
  justify-content: center;
}

.altrp-dropbar-variant-left-center .altrp-dropbar-children-wrapper {
  align-items: center;
}

.altrp-dropbar-variant-right-center .altrp-dropbar-children-wrapper {
  align-items: center;
}
