.feedback__container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px !important;
  padding: 10px;
  background-color: #6a727c;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 300;
  border-radius: 4px;
}

.feedback__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 16px;
  background-color: rgb(137, 194, 138);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.feedback__button:hover {
  background-color: rgb(120, 169, 121);
  transition: background-color 0.3s ease;
}
