
.altrp-gallery-overlay {
  left: 0;
  top: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.altrp-gallery-overlay-bg {
  mix-blend-mode: none;
}

.altrp-gallery-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
}

.altrp-gallery-img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  transform-origin: center top;
  padding-bottom:100%;
}

.altrp-gallery-img-container {
  position: relative;
  overflow: hidden;
}

.altrp-gallery-icon {
  height: 35px;
  width: 35px;
  opacity: 0.5;
}

.altrp-gallery-empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #C4C4C4;
}

