

.bp3-slider-track {
  border-radius: 3px;
  overflow: hidden;
}

.bp3-slider-track, .bp3-slider-progress {
   height: 6px;
   left: 0;
   right: 0;
   top: 5px;
   position: absolute;
}

.bp3-slider-progress.bp3-intent-primary {
  background-color: #137cbd;
}

.bp3-slider-progress {
  background: rgba(92, 112, 128, 0.2);
}

.bp3-slider-label {
  -webkit-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 2px 5px;
  position: absolute;
  vertical-align: top;
  z-index: 1;
  white-space: nowrap;
}

.bp3-slider-handle .bp3-slider-label {
  background: #394b59;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 2px 4px rgb(16 22 26 / 20%), 0 8px 24px rgb(16 22 26 / 20%);
  box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 2px 4px rgb(16 22 26 / 20%), 0 8px 24px rgb(16 22 26 / 20%);
  color: #f5f8fa;
  margin-left: 8px;
}

.bp3-slider-handle {
  background-color: #f5f8fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  /*-webkit-box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);*/
  /*box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);*/
  color: #182026;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px rgb(16 22 26 / 20%), 0 1px 1px rgb(16 22 26 / 20%);
  box-shadow: 0 0 0 1px rgb(16 22 26 / 20%), 0 1px 1px rgb(16 22 26 / 20%);
  cursor: pointer;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
  z-index: 2;
}

.altrp-field-slider .bp3-slider-handle {
  background-image: none;
}

.bp3-slider {
  height: 40px;
  min-width: 150px;
  width: 100%;
  cursor: default;
  outline: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.altrp-field-slider .bp3-slider-handle {
  background-image: none;
}
.altrp-field-slider-horizontal .bp3-slider-label {
  transform: translate(-50%, 20px);
}
.altrp-field-slider-vertical .bp3-slider-label.bp3-slider-label.bp3-slider-label {
  transform: translate(20px, 50%);
}
