.bp3-file-input {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
}

.altrp-element > * {
  flex-grow: 1;
  width: 100%;
}

.bp3-file-input input {
  margin: 0;
  min-width: 200px;
  opacity: 0;
}

.bp3-file-upload-input {
  appearance: none;
  background: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgb(16 107 163 / 0%), 0 0 0 0 rgb(16 107 163 / 0%),
    inset 0 0 0 1px rgb(16 22 26 / 15%), inset 0 1px 1px rgb(16 22 26 / 20%);
  color: #182026;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 10px;
  transition: -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9),
    -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: rgba(92, 112, 128, 0.6);
  left: 0;
  padding-right: 80px;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
}

.altrp-widget_input-file .bp3-file-upload-input::after {
  width: auto;
  min-width: 0;
}

.bp3-file-upload-input::after {
  box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);
}

.bp3-file-upload-input::after {
  background-color: #f5f8fa;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.8)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);
  color: #182026;
  min-height: 24px;
  min-width: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  border-radius: 3px;
  content: 'Browse';
  line-height: 24px;
  margin: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
}
