.altrp-widget_input-select .bp3-popover-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bp3-button-text span{
  white-space: nowrap;
}
.altrp-widget_input-select .bp3-popover-target {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.altrp-element_1uh9c9v8h .bp3-button.bp3-button {
  background-blend-mode: color-burn;
}

.altrp-widget_input-select .bp3-popover-target .bp3-button {
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.bp3-button:not([class*=bp3-intent-]) {
  background-color: #f5f8fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  -webkit-box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);
  box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);
  color: #182026;
}

.bp3-button:not([class*=bp3-intent-]):disabled, .bp3-button:not([class*=bp3-intent-]).bp3-disabled {
  background-color: rgba(206, 217, 224, 0.5);
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
  outline: none;
}

.bp3-button:not([class*=bp3-intent-]):hover {
  background-clip: padding-box;
  background-color: #ebf1f5;
  -webkit-box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);
  box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%), inset 0 -1px 0 rgb(16 22 26 / 10%);
}

.bp3-button {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  min-height: 30px;
  min-width: 30px;
}

.altrp-widget_input-select.altrp-widget_input-select .bp3-icon:first-child:last-child {
  margin: 0;
}

.bp3-button .bp3-icon, .bp3-button .bp3-icon-standard, .bp3-button .bp3-icon-large {
  color: #5c7080;
}
.bp3-icon {
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  vertical-align: text-bottom;
  overflow: hidden;
  user-select: none;
  width: 16px;
  height: 16px;
}

.bp3-icon > svg:not([fill]) {
  fill: currentColor;
}

.bp3-button:disabled::before, .bp3-button:disabled .bp3-icon, .bp3-button:disabled .bp3-icon-standard, .bp3-button:disabled .bp3-icon-large, .bp3-button.bp3-disabled::before, .bp3-button.bp3-disabled .bp3-icon, .bp3-button.bp3-disabled .bp3-icon-standard, .bp3-button.bp3-disabled .bp3-icon-large, .bp3-button[class*=bp3-intent-]::before, .bp3-button[class*=bp3-intent-] .bp3-icon, .bp3-button[class*=bp3-intent-] .bp3-icon-standard, .bp3-button[class*=bp3-intent-] .bp3-icon-large {
  color: inherit !important;
}
.altrp-input-wrapper, .altrp-field-select2 {
  position: relative;
  flex-grow: 1;
}

.bp3-input-group.bp3-fill {
  flex: 1 1 auto;
  width: 100%;
}

.bp3-input-group {
  display: block;
  position: relative;
  max-width: 100%;
}

.bp3-input-group .bp3-input {
  position: relative;
  width: 100%;
}
.altrp-field-label-container{
  flex-shrink: 0;
}
