.customizer-left-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 500px;
  z-index: 100;
  transform: translate(-100%, 0);
  transition-duration: .4s;
  background-color: #fff;
  & .modal-content{
    height: 100%;
  }
  &_show{
    transform: translate(0, 0);
  }
}
.customizer-background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.controller-label{
  font-weight: bold;
}
