@import "customizer-left-sidebar.scss";
@import "~bootstrap/scss/bootstrap";
@import "../../../../sass/vars.scss";
@import "../../../front-app/src/sass/front-style";

body {
    margin: 0px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}
*,
:after,
:before {
    box-sizing: inherit;
}

.page__content {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 100vw;
    max-height: 100vh;

    .panel {
        width: 100%;
        flex-direction: column;
        &-tabs {
            margin-bottom: 11px;
        }
        &-tab {
            flex-direction: column;
            align-items: center;
            width: 50%;
            padding: 8px 0 6px;
            background-color: #fff;
            border-bottom: 3px solid #fff;
            font-size: 10px;
            &.active {
                background-color: #f7f8f9;
                border-bottom-color: $purple;
            }
            & svg {
                width: 20px;
                height: 20px;
            }
            &__icon {
                margin-bottom: 4px;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.node {
    &__inner {
        word-wrap: break-word;
        padding: 8px 30px;
        // position: absolute;
        text-align: center;
        z-index: 1000;
        width: 100%;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
    }
}

.sidebar {
    width: 300px;
    background: white;
    height: 100vh;
    display: flex;
    padding: 8px;
    flex-direction: column;
    flex-shrink: 0;

    &__item {
        padding: 20px 30px;
        font-size: 14px;
        background: white;
        cursor: move;
    }
}

.nodes-panel__search {
  position: relative;
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 0 10px;

  .search-icon {
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
  }

  .input-search__nodes {
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 35px;

    &::placeholder {
      color: #515F81;
      font-family: Roboto, sans-serif;
      font-size: 12px;
    }
  }

}

.widget-container-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.widget-panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 10px;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 16px;
}

#customizer-editor .controller-container_resizable {
  flex-direction: column;
  flex-wrap: nowrap;
}


.customizer-widget {
    width: 120px;
    height: 100px;
    text-align: center;
    background-color: #FFF;

    padding: 20px;
    p {
        color: #343B4C;
        font-family: Customizero, Arial, sans-serif;
        margin: 5px;
    }
    svg {
        color: #343B4C;
    }
}

// Flow Nodes
.flow-node-begend {
    padding: 10px;
    border-radius: 45px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #222;
    text-align: center;
    border: 1px solid $dark-purple;
    background-color: white;
    &.selected {
        border: 3px solid $dark-purple;
    }
}

// Flow Nodes
.flow-node-rect {
  padding: 10px;
  border-radius: 4px;
  width: 150px;
  overflow: hidden;
  font-size: 12px;
  color: #222;
  text-align: center;
  border: 1px solid $dark-purple;
  background-color: white;
  &.selected {
    border: 3px solid $dark-purple;
  }
}

.flow-node-condition {
    display: inline-block;
    width: 150px;
    height: 150px;
    color: $dark-purple;
    transform: rotate(45deg);
    padding: 16px;
    text-align: center;
    border: 1px solid $dark-purple;
    background-color: white;
    border-radius: 5px;
    //box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08),
    //0px 4px 48px rgba(0, 0, 0, 0.08);

    &.selected{
        border: 3px solid $dark-purple;
    }
    .wrapper {
        transform: rotate(-45deg);
    }
}
.flow-node-customizer {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    padding: 30px;
    color: $dark-purple;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: 1px solid $dark-purple;
    background-color: white;

    &.selected {
        border: 3px solid $dark-purple;
    }
}
.flow-node-document {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
    background-color: white;
    &.selected{
        border: 3px solid $dark-purple;
    }
}
.flow-node-crud {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #222;
    text-align: center;
    border: 1px solid $dark-purple;
    background-color: white;
    &.selected {
        border: 3px solid $dark-purple;
    }
}
.flow-node-api {
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #222;
    text-align: center;
    border: 1px solid $dark-purple;
    background-color: white;
    -webkit-transform: perspective(100px) rotateX(10deg);
    transform: perspective(100px) rotateX(10deg);

    &.selected{
        border: 3px solid $dark-purple;
    }

    .api-text {
        transform: perspective(30px) rotateX(-2deg);
        font-size: 14px;
        font-weight: bold;
        display: block;
        width: 100%;
        max-height: 97px;
        overflow: hidden;
    }
    .api-type {
        font-size: 12px;
        transform: perspective(30px) rotateX(-2deg);
    }

}
.flow-node-message {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
    background-color: white;
    &.selected{
        border: 3px solid $dark-purple;
    }
}
.condition-text,
.customizer-text {
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
    max-height: 97px;
    overflow: hidden;
}
.condition-type,
.customizer-type {
    font-size: 12px;
}


.react-flow__minimap-node.condition-romb {
    width: 150px;
    height: 150px;
}

// Switcher
.customizer_switcher {
    display: flex;
    margin-bottom: 15px;

    .control-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 7px;
        padding-left: 7px;
        font-size: 8px;
        line-height: 9px;
        width: 49px;
        height: 22px;
        border-radius: 11px;
        position: relative;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: bold;
        &_off {
            background: $light-gray;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
                inset -1px -1px 2px rgba(0, 0, 0, 0.15);
            color: rgba(0, 0, 0, 0.3);
            & .control-switcher__on-text {
                opacity: 0;
            }
        }
        &_on {
            background: $green;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
                inset -1px -1px 2px rgba(0, 0, 0, 0.15);
            color: #ffffff;
            & .control-switcher__off-text {
                opacity: 0;
            }
            & .control-switcher__caret {
                left: 30px;
            }
        }
        &__caret {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 3px;
            left: 3px;
            border-radius: 50%;
            background: #ffffff;
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -ms-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
    }
    .customizer_switcher__label {
        flex-grow: 1;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}
.flow-node-begend {
  padding: 10px;
  border-radius: 45px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #222;
  text-align: center;
  border: 1px solid $dark-purple;
  &.selected {
    border: 3px solid $dark-purple;
  }
}
.flow-node-condition {
  display: inline-block;
  width: 150px;
  height: 150px;
  color: $dark-purple;
  transform: rotate(45deg);
  padding: 16px;
  text-align: center;
  border: 1px solid $dark-purple;
  border-radius: 5px;
  //box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08),
  //0px 4px 48px rgba(0, 0, 0, 0.08);

  &.selected{
    border: 3px solid $dark-purple;
  }
  .wrapper {
    transform: rotate(-45deg);
  }
}
.flow-node-robot {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  padding: 30px;
  color: $dark-purple;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: 1px solid $dark-purple;
  background-color: white;

  &.selected {
    border: 3px solid $dark-purple;
  }
}
.flow-node-document {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
  &.selected{
    border: 3px solid $dark-purple;
  }
}
.flow-node-crud {
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #222;
  text-align: center;
  border: 1px solid $dark-purple;
  &.selected {
    border: 3px solid $dark-purple;
  }
}
.flow-node-api {
  border-radius: 5px;
  padding: 5px 10px;
  width: 200px;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #222;
  text-align: center;
  border: 1px solid $dark-purple;
  -webkit-transform: perspective(100px) rotateX(10deg);
  transform: perspective(100px) rotateX(10deg);

  &.selected{
    border: 3px solid $dark-purple;
  }

  .api-text {
    transform: perspective(30px) rotateX(-2deg);
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
    max-height: 97px;
    overflow: hidden;
  }
  .api-type {
    font-size: 12px;
    transform: perspective(30px) rotateX(-2deg);
  }

}
.flow-node-message {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
  &.selected{
    border: 3px solid $dark-purple;
  }
}
.condition-text,
.robot-text {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 100%;
  max-height: 97px;
  overflow: hidden;
}
.condition-type,
.robot-type {
  font-size: 12px;
}

.controller-container-input,
#type-action,
#type-condition,
#crud-method,
#crud-model,
#crud-record,
#crud-fields,
#send-users,
#send-roles,
#send-channels,
#bit-operator,
#logic-operator,
#type-edge,
#model_id,
#start_condition {
    width: 100%;
}
.controller-container-input {
    margin-top: 15px;
}

.element-index {
  display: flex;
  &_top {
    margin-bottom: 10px;

    & .bp3-input-group {
      flex-basis: 60%;
    }

    & .bp3-html-select {
      flex-basis: 40%;
      & select {
        border-radius: 3px 0 0 3px;
      }
    }

    & .bp3-input {
      border-radius: 0 3px 3px 0;


      &:focus {
        border-radius: 3px;
      }
    }
  }

  &_bottom {
    flex-grow: 1;

    & .button-one {
      border-radius: 3px 0 0 3px;
    }

    & .button-two {
      border-radius: 0 3px 3px 0;
    }
  }

  & .bp3-popover-wrapper {
    flex-grow: 1;
  }
}

.element-index_top-expression .bp3-html-select {
  flex-basis: 100%;
}

.controllers-wrapper {
    display: block;
    background-color: #fff;

  & .bp3-menu {
    max-height: 295px;
    overflow: auto;
  }

  & .bp3-popover.bp3-minimal.bp3-popover {
    flex-grow: 1;
  }
}
.settings-section-box {
    margin: 15px 0px;
}
.editor-bottom-panel {
    justify-content: space-between;
}
.editor-bottom-panel .btn_grey {
    margin-right: 10px;
}

// Select
.control-select {
    border-radius: 3px;
    color: #6d7882;
}
.controller-container_select {
    width: auto;
    display: flex;
    flex-direction: row;

  .bp3-checkbox{
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
  }
}
.control-select__label {
    margin-right: auto;
    height: 27px;
    word-break: break-word;
}
.control-container_select-wrapper {
    position: relative;
    float: right;
}

.control-field {
    width: 100%;
    height: 26px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    // color: $black;
    line-height: 24px;
    border-radius: 0;
    border: 1px solid $light-gray;
    &_number {
        width: 80px;
    }

}
textarea.control-field{
  height: auto
}
.compare-control-field {
    width: 100%;
    height: 26px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    // color: $black;
    line-height: 24px;
    border-radius: 0;
    border: none;
    &_number {
        width: 80px;
    }
}
.control-group {
    .control-field {
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    &__append {
        width: 27px;
        height: 26px;
        border-right: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        border-radius: 0 3px 3px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;
    }
}
.textcontroller-responsive {
    width: 100%;
    margin-bottom: 5px;
}
.control-link {
    border-color: #e5e6ea;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    width: 80%;
    border-radius: 3px 0px 0px 3px;
    color: #8e94aa;
    padding-left: 7px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.default-node__label {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.default-node__type {
    padding: 6px 0 0 0;
}
.fl-column {
    flex-direction: column;
}
.mt-10 {
    margin-top: 10px;
}
.controller-label {
    width: 25%;
    flex-grow: inherit;
}
.controller-field {
    width: 75% !important;
    flex-grow: inherit;
}

// Egde
.react-flow__edge-path {
    stroke: $grey;
    stroke-width: 2px;
}
.react-flow__edge.red{
    .react-flow__edge-path{
        stroke: $red;
    }
}
.react-flow__edge.green{
    .react-flow__edge-path{
        stroke: $green;
    }
}

.crud-switcher-container{
    margin-bottom: 15px;
}

// .condition-node-map {
//     transform: rotate(-45deg);
// }

// .customizer-node-map {
//     border-radius: 100%;
// }

//.widget-panel {
//    display: flex;
//    width: 100%;
//}
.react-flow__renderer .react-flow__handle{
  padding: 10px;
  background: transparent;
  border: none;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #555;
    border-radius: 100%;
    top:7px ;
    left: 1px ;
  }
  &-top::after {
    top:2px ;
    left: 6px ;
  }
  &-bottom::after {
    top: 13px;
    left: 7px;
  }
}
#customizer-editor {
  & .left-panel {
    width: 100%;
  }
  & .customizer-widget {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.controllers-wrapper{
  & .bp3-control-group {
    margin-bottom: 5px;
  }
}
.switcher-repeater{
  width: 100%;
  &-item{
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid $grey;
  }
    &:last-child{
      margin-bottom: 10px;
    }

}

.changeNode__label {
  margin-left: 0;
}

.changeNode-center {
  flex-grow: 1;
}

.widget-panel__text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: Roboto, sans-serif;
  color: #8E94AA;
  text-align: center;
}

.Customizer-time {
  margin-top: 20px;
  & .customizer-time-input {
    margin-top: 20px;
  }
}

.Customizer-title {
  margin-bottom: 20px;
  & .form-control-blueprint {
    width: 65%;
  }

  & .form-control-blueprint .bp3-input {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
  }

  & .btn_success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 38px;

    &:hover {
      color: white;
      background-color: #7CA727;
    }
  }
}

.text-copy__url {
  margin-left: 20px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  visibility: hidden;
  color: #8E94AA;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.error-copy__url {
  margin-left: 20px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  visibility: hidden;
  color: #CF0025;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.on {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.Customizer-url {
  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  & .btn_success {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;

    &:hover {
      color: white;
      background-color: #7CA727;
    }
  }

  & .btn_success:not(:last-child) {
    margin-right: 12px;
  }
}

.url-text {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.customizer-block__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parameter__required {
  margin: 10px 0;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #CF0025;
}

.context-relative {
  position: relative;
}

.textarea-custom {
  width: 100%;
  min-height: 120px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: none;
  border-radius: 0 3px 3px 3px;
  -webkit-box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 15%), inset 0 1px 1px rgb(16 22 26 / 20%);
  box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 15%), inset 0 1px 1px rgb(16 22 26 / 20%);
  color: #182026;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 10px;
  -webkit-transition: -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9),-webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  vertical-align: middle;
  z-index: 20;

  &:focus {
    -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgb(19 124 189 / 30%), inset 0 1px 1px rgb(16 22 26 / 20%);
    box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgb(19 124 189 / 30%), inset 0 1px 1px rgb(16 22 26 / 20%);
    border-radius: 3px;
  }

  &::placeholder {
    color: #ababab;
  }
}

.pe-none{
  pointer-events: none;
}

.editor-code-panel {
  width: 100%;

  & .ace_scroller {
    background-color: rgb(246, 246, 246)
  }

  & .ace-tomorrow .ace_gutter{
    background-color: #D3D7DB;
  }
}

.changeNode-center .editor-code-panel:not(:last-child) {
  margin-bottom: 20px;
}

.modal-code {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  background-color: rgba(52, 59, 76, 0.4);
}

.modal-code__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 85vh;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-code__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.model-code__title {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

.modal-code__content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.modal-code-icon__close {
  transform: rotate(-45deg);
  cursor: pointer;

  & path {
    fill: #000;
  }
}

.btn-code__modal {
  font-size: 14px;
}

.controller-bottom-code {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: #343b4c;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    & path {
      stroke: white;
    }
  }
}

.date-input-wrapper {
  position: relative;
  width: 75%;
  min-height: 38px;

  input {
    width: 100%;
    padding-right: 0 !important;
    min-height: 38px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
  }
}
.controller-media-choose_customizer{
  svg{
    width: auto;
  }
}
.customizer-multiselect-popover{
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
