.checkbox-group-field {
  display: flex;
  justify-content: space-between;
  width: 47.5%;
}

.form-group-field {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-label-field {
  margin-bottom: 0;
  margin-left: 10px;
}


