.checkbox-group-field {
  display: flex;
  justify-content: space-between;
  width: 47.5%;
}

.checkbox-group-field_noWidth {
  align-items: center;
  width: 100%;

  & .showMore {
    color: #007bff;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-group-field {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-label-field {
  margin-bottom: 0;
  margin-left: 10px;
}


