.admin-form-pages {
  width: 800px;

  & .btn_success, .btn_disable {
    padding: 8px 34px;
  }
}


.addPage__bottom {
  padding: 20px 0;
  display: flex;
  align-items: center;

  &-icon {
    cursor: pointer;
    margin-left: 20px;
  }

  &-checkbox {
    margin-right: 10px;
  }

  &-block {
    display: flex;
    align-items: center;
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-label {
    margin: 0;
  }

  &-page_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    & .addPage__bottom-label {
      position: relative;
      top: 2px;
    }
  }
}
