.btn__wrapper {
  .btn {
    margin-right: 20px;
    min-width: 74px;
  }

  & .btn_success {
    padding: 6px 12px;
  }
}

.btn_add {
  margin-top: 20px;
}

.admin-pages {
  & .btn_add {
    margin-bottom: 0;
    margin-top: 0;
  }
}


.form-group__inline-wrapper {
  display: flex;
  justify-content: space-between;
  &__divider, .form-group_checkbox {
    align-self: flex-end;
  }

}

.form-group.form-group_width30 {
  flex-basis: 30%;
}

.form-group.form-group_width65 {
  flex-basis: 65%;
}

.form-group.form-group_width47 {
  flex-basis: 47.5%;
}

.form-group.form-group_width30 {
  flex-basis: 30%;
}

.form-group.form-group_width15 {
  flex-basis: 15%;
}

.sub-header {
  margin: 30px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $purple;
}

.field-form, .admin-form {
  p {
    color: $black;
    display: block;
    font-family: Roboto, sans-serif;
  }
  .checkbox-group {
    display: flex;
    .form-group {
      flex-grow: 1;
    }
  }
}

.centred {
  text-align: center;
}

.checkbox-label {
  margin-left: 10px;
}

.flex-container{
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}

.label_checkbox{
  margin-bottom: 0;
  cursor: pointer;
}

.disabling-radio {
  margin-left: 15px;
}
