.admin-modal{
  display: flex;
  opacity: 0;
  z-index: -1000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  &_active{
    display: flex;
    opacity: 1;
    z-index: 1000;
    background-color: $purple-transparent ;
    & .admin-modal-content {
      transform: translate(0, 0vh);
    }
  }
  &-content{
    width: 470px;
    max-height: 70vh;
    overflow: auto;
    position: relative;
    padding: 25px;
    background-color: #fff;
    border: 1px solid $border-gray;
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    z-index: 100;
    transform: translate(0, -50vh);
    transition-duration: .5s;
  }
  &__close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
    & .icon{
      width: auto;
      height: auto;
      margin: 0;
      display: block;
    }
  }
  &__bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }
}