.document-detail_opacity-background {
    background-color: #000;
    opacity: 0.7;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.document-detail {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden;
    height: 91.6%;
    width: 96%;
    background: #fff;
    z-index: 102;

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dcdcde;
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        margin-left: 16px;
        letter-spacing: 0.8px;
        color: #646970;
    }

    &__btn-nav-group {
        display: flex;
    }

    &__btn-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #787c82;
        background-color: white;
        border-left: 1px solid #dcdcde;
        padding: 13px 15px;

        &:hover {
            color: #000;
            background-color: #dcdcde;
        }

        &:disabled {
            color: #dcdcde;
            cursor: not-allowed;
          & svg {
            fill: #dcdcde;
          }
        }

        &:disabled:hover {
            background-color: #fff;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 91%;
        flex-grow: 1;
    }

    &__display {
        display: flex;
        flex-direction: column;
        width: 66%;
        margin: 0 auto;
        padding: 20px 30px 20px 30px;
    }

    &__image {
        margin: 20px auto;
        object-fit: scale-down;
        max-width: 100%;
        max-height: 87%;
    }

    &__btn {
        background-color: #f6f7f7;
        font-size: 13px;
        border: 1px solid #1a74af;
        border-radius: 4px;
        color: #1a74af;
        padding: 5px 10px;

        &:hover {
            color: #0a4b78;
            border-color: #0a4b78;
            background-color: #f0f0f1;
        }
    }

    &__btn-edit-image {
        width: 84px;
        margin: 0 auto;
    }

    &__editing-section {
        position: relative;
        width: 367px;
        height: 100%;
        border-left: 1px solid #dcdcde;
        font-size: 12px;
        color: #646970;
    }

    &__editing-scrolling {
      padding: 11px 16px 11px 16px;
    }

    //&__data-wrap {
    //    padding-right: 34px;
    //}

    &__data {
        font-weight: 600;
        padding-bottom: 15px;
        margin-bottom: 16px;
        border-bottom: 1px solid #dcdcde;

        &-result {
            font-weight: normal;
            word-wrap: break-word;
        }
    }

    &__line-to-change {
        //text-align: right;
        margin-bottom: 12px;
    }

    &__line-to-change_uploated-by {
        margin: 18px 0 18px 36px;
    }

    &__name-of-changes {
        display: block;
        //margin-right: 18px;
        margin-bottom: 4px;
        vertical-align: top;
    }

    &__name-of-changes__uploated-by {
        margin-left: 18px;
    }

    &__input {
        width: 100%;
        border-radius: 4px;
        height: 30px;
        border: 1px solid #8c8f94;
        padding: 0px 8px;
        font-size: 14px;

      &:focus {
        box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
        outline: none;
        outline-offset: 0;
      }
    }

    &__textarea {
        width: 100%;
        border: 1px solid #8c8f94;
        border-radius: 4px;
        height: 62px;
        font-size: 14px;
        padding: 4px 8px;

      &:focus {
        box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
        outline: none;
        outline-offset: 0;
      }
    }

    &__copy-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn-copy-url {
        font-size: 11px;
    }

    &__btn-delete-wrap {
        border-top: 1px solid #dcdcde;
        margin-top: 24px;
        padding-top: 15px;
    }

    &__btn-delete {
        padding: 0;
        background-color: #fff;
        color: #e55a43;
    }

    &__save-notification {
        color: #646970;
        font-size: 12px;
        position: absolute;
        top: 11px;
        right: 8px;
    }
}
