
.admin-settings {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    & .admin-settings-table__td{
        height: 65px;
        padding: 8px 16px;
        &_check{
            width: 45px;
            text-align: center;
        }
    }
    & .header-text{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    & .row-text{
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }
    & .admin-settings-button{
        line-height: 5px;
        width: 163px;
        height: 30px;
        left: 315px;
        top: 448px;

        background: #87CA00;
        border: 1.5px solid #87CA00;
        box-sizing: border-box;
        border-radius: 2px;
    }
    & table{
        border-collapse: collapse;
        width: 100%;
        & .admin-table__td_check{
            margin-right: 10px;
        }
    }
    &-head{
        background-color: #fff;
        border-bottom: 1px solid $border-gray;
        & .admin-settings-table__td{
            height: 45px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $purple;
        }
    }
    &-body{
        & .admin-settings-table-row{
            &:nth-child(2n){
                background-color: $light-light-gray;
            }
            &:nth-child(2n+1){
                background-color: #fff;
            }
        }
    }
}

.admin_input_key, .admin_input_port, .admin_input_host{
    width: 150px;
}

.admin_input_key_select {
  height: 35px;
}

// Admin Settings telegram
.admin_settings_telegram{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    flex-direction: column;

    & .admin_input {
      margin-bottom: 10px;
    }

    .admin_input__label{
        font-weight: 700;
        margin-right: 15px;
    }
    .admin_input_key{
        min-width: 500px;
    }

  & label {
    margin-bottom: 0;
  }
}

// Switcher
.admin_switcher{
    display: flex;
    margin-right: 50px;

    .control-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 7px;
        padding-left: 7px;
        font-size: 8px;
        line-height: 9px;
        width: 49px;
        height: 22px;
        border-radius: 11px;
        position: relative;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: bold;
        &_off {
            background: $light-gray;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
            inset -1px -1px 2px rgba(0, 0, 0, 0.15);
            color: rgba(0, 0, 0, 0.3);
            & .control-switcher__on-text {
                opacity: 0;
            }
        }
        &_on {
            background: $green;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
            inset -1px -1px 2px rgba(0, 0, 0, 0.15);
            color: #ffffff;
            & .control-switcher__off-text {
                opacity: 0;
            }
            & .control-switcher__on-text {
                opacity: 1;
            }
            & .control-switcher__caret {
                left: 30px;
            }
        }
        &__caret {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 3px;
            left: 3px;
            border-radius: 50%;
            background: #ffffff;
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -ms-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
    }
    .admin_switcher__label {
        font-weight: bold;
        font-size: 15px;
        margin-right: 10px;
    }
}
// Admin Settings Websockets
.admin_settings_websockets{

    .admin_settings_websockets_box{
        display: flex;
        align-items: center;
    }

    .admin_input__label{
        margin-right: 15px;
    }
    .admin_input{
        margin-right: 30px;
    }

  & label {
    margin-bottom: 0;
  }
}

.admin_settings_integrations {
  padding: 15px;
}



.admin-export-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
}

.admin-export-middle {
  margin-bottom: 30px;
}

.dt_font {

  & a {
    font-family: Roboto, sans-serif;
  }
}

.admin-styles-advanced-blocks {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 100px;
}

.admin-styles-advanced-block {
  margin-bottom: 30px;

  & .altrp-code-editor {
    margin-bottom: 30px;
  }
}

.admin-styles-advanced__flex {
  display: flex;

  & .admin-styles-advanced-block {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.admin__logo-advanced {
  position: relative;
  left: 10px;
}

.advanced-flex {
  display: flex;
  align-items: center;

  & .advanced-text {
    margin-right: 30px;
  }
}

.advanced-text-custom {
  margin-bottom: 20px;
}

.skeletonColors__paddingLeft {
  padding-left: 16px;
}

.admin-import .btn_success {
  min-width: 220px;
  padding: 8px 12px;
  margin-left: 30px;
  font-size: 14px;
  vertical-align: middle;
}

.admin-updates__inputFile {
  margin-bottom: 0;
}

.admin-import__block {
  display: flex;
  align-items: center;
}

.mail-container__settings {
  width: 600px;
}

.admin-settings-color__blocks {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}

.admin-settings-color__block {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 40px;
  }

  & label {
    margin-bottom: 0;
  }
}

.admin-settings-color__input {
  width: 220px;
}

.admin-settings-color {
  margin-right: 35px;

  &:first-child {
    margin-left: 16px;
  }
}

.admin-styles-button {
  display: inline-block;
  width: 163px;
  height: 30px;
  padding: 6px 12px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  line-height: 18px;
  border: none;
  background-color: #87CA00;

  &:hover {
    background-color: #7CA727;
  }
}



