.custom-fonts {
    width: 100%;
    padding: 17px 17px 15px 22px;
    background-color: #f0f0f1;

    & a {
        color: #1a74af;
        text-decoration: none;
        position: relative;

        &:hover {
            text-decoration: none;
            color: #0a4b78;
        }
    }

    &__title {
        display: flex;
        font-size: 21px;
        letter-spacing: 1px;
    }

    &__table-header {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        margin-top: 16px;
        margin-left: 4px;
    }

    &__sorting-options {
        &-name {
        }

        &-count {
            color: #646970;

            &_line {
                border-right: 2px solid #646970;
                padding-right: 4px;
                margin-right: 4px;
            }
        }
    }

    &__btn {
        border: 1px solid #1a74af;
        color: #1a74af;
        background: white;
        padding: 0px 11px;
        border-radius: 3px;
        line-height: 2px;
        font-size: 13px;
        background-color: #fff;

        &:hover {
            color: #0a4b78;
            border-color: #0a4b78;
            background-color: #f0f0f1;
        }

        &_add-new {
            margin-left: 8px;
            font-weight: 800;
            height: 25px;
            margin-top: 3px;
            letter-spacing: 0.8px;
            padding: 0px 8px 0px 8px;
        }
    }

    &__search {
        display: flex;

        &-input {
            height: 31px;
            width: 221px;
            border-radius: 4px;
            border: 1px solid #8c8f94;
            margin-right: 4px;
            background-color: #fff;
        }
    }

    &__const-part-of-table {
        display: flex;
        justify-content: space-between;
    }

    &__possible-actions {
        display: flex;

        &-drop-list {
            width: 126px;
            margin-right: 6px;
            font-size: 14px;
            padding: 5px 4px 5px 4px;
            color: #2c3338;
            cursor: pointer;
            background-color: #fff;

            &:hover {
                color: #1a74af;
            }
        }
    }

    &__number-of-items {
        font-size: 12px;
        margin-top: 11px;
    }

    &__table {
        border: 1px solid #c3c4c7;
        margin: 6px 0px 10px 0px;
        width: 100%;
        font-size: 14px;
        background-color: #fff;

        & thead {
            border-bottom: 1px solid #c3c4c7;

            & tr {
                height: 36px;
            }

            & .custom-fonts__table-font-family {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        & tbody {
            & .custom-fonts__table-font-family {
                position: relative;
                font-weight: bold;

                &:hover:before {
                    content: "Edit";
                    position: absolute;
                    top: 37px;
                    left: 1px;
                    font-size: 13px;
                    font-weight: normal;
                    border-right: 1px solid #cecece;
                    height: 11px;
                    line-height: 10px;
                    padding-right: 5px;
                    cursor: pointer;
                }

                &:hover:after {
                    content: "Trash";
                    position: absolute;
                    color: #e55a43;
                    top: 33px;
                    left: 33px;
                    font-size: 13px;
                    font-weight: normal;
                    cursor: pointer;
                }
            }

            & .custom-fonts__table-preview {
                color: #50575e;
            }

            & tr {
                height: 60px;
                vertical-align: initial;
            }
        }

        & tfoot {
            border-top: 1px solid #c3c4c7;

            & tr {
                height: 36px;
            }

            & .custom-fonts__table-font-family {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &-check {
            width: 3.5%;
            padding: 10px 0px 0px 11px;
        }

        &-font-family {
            width: 36.3%;
            font-weight: normal;
            color: #1a74af;

            &:hover {
                color: #0a4b78;
            }

            &__count {
                position: absolute;
                top: -3px;
                right: -22px;
                width: 17px;
                height: 16px;
                background-color: #d4dffb;
                border-radius: 9px;
                font-size: 9px;
                text-align: center;
                padding-top: 1px;
            }
        }

        &-preview {
            font-weight: normal;
        }

        & input {
            width: 16px;
            height: 16px;
        }
    }
}
