@mixin widget-table {
  .widget-table {
    overflow: auto;
    width: 100%;
    height: 100%;
    table {
      &.vertical-table tbody td:first-child {
        background-color: #f0f0f0;
        color: #666666;
        width: 50%;
        font-weight: 600;
      }
      width: 100%;
      font-size: 0.8rem;
      thead th,
      tbody td {
        border-collapse: collapse;
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 0.3rem 0.5rem;
      }
      thead {
        background-color: #f0f0f0;
        color: #666666;
        font-weight: 600;
      }
    }
  }
}
.charts {
  display: flex;
  flex-wrap: wrap;
  .card {
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 300px;
    min-width: 400px;
    &-body {
      padding: 0;
      .spinner-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include widget-table;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.7rem;
      &__name {
        height: 20px;
        width: 50%;
        font-size: 0.9rem;
        color: #5f5f5f;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__buttons button {
        border: 0;
        background: transparent;
        padding: 0 7px;
      }
    }
  }
}
.widget-placeholder {
  width: 100%;
  height: 420px;
  border: 1px solid #dedede;
  overflow: hidden;
  border-radius: 2px;
  margin-right: 15px;
  padding: 20px;
  @include widget-table;
}
