
.admin-table{
  width: 100%;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));

  &-top {
    position: relative;
    border: none;
    background-color: white;
    padding: 30px 20px;

    & .admin-table__search-icon-svg {
      position: absolute;
      left: 35px;
      top: 42px;
    }
    &__search-plugin{
      width: 100%;
      display: flex;
      align-items: center;
      & .bp3-input.bp3-input.bp3-input{
        width: 100%;
      }
      & .bp3-input-group{
        width: 100%;
        margin-right: -28px;
        flex-shrink: 1;
      }
      & > svg{
      position: relative;
    }
    }
  }

  & .admin-table__td{
    height: 65px;
    position: relative;
    &_check{
      width: 65px;
      text-align: center;
    }

    & a {
      color: #007bff;
      font-weight: 400;
    }
  }
  & table{
    border-collapse: collapse;
    width: 100%;
  }
  &-head{
    background-color: #fff;
    border-bottom: 1px solid $border-gray;
    & .admin-table__td{
      height: 45px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $purple;
    }
  }
  &-body{
    & .admin-table-row-offLastBorder {

      &:last-child {
        border-bottom: none;
      }
    }

    & .admin-table-row{
      border-bottom: 1px solid #D5D7DE;
      background-color: #fff;

      &:hover {
        background-color: #fafafa;
      }

      & .quick-action-menu {
        display: none;
        position: absolute;
        bottom: 4px;
        left: 0;
        &.quick-action-menu--li {
          position: relative;
          bottom: 0;
          left: 10px;
        }
      }
      .quick-action-menu__item_wrapper {
        &::after {
          content: " | ";
          color: $grey;
        }
        &:last-child::after {
          content: "";
        }
      }
      &:hover .quick-action-menu {
        display: inline-block;
        &.quick-action-menu--li {
          display: none;
        }
        .quick-action-menu__item {
          font-size: 12px;
          color: $grey;
          padding: 0;
          background-color: transparent;
          &.quick-action-menu__item_danger {
            color: #cf0025;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      & li:hover .quick-action-menu.quick-action-menu--li {
        display: inline-block;
      }
    }
  }
}

.btn__tables {
  padding: 11px 24px;
  border-radius: 10px;
}

.td__content {
  font-family: Roboto, sans-serif;
}

.admin-table-noRadius {
  border-radius: 0;
}

.admin-table-top .bp3-input-group {
  display: inline;
}

.admin-table-top .bp3-input-group .bp3-input {
  width: 50%;
}

.admin-table-top__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-table-top__form {
  flex-basis: 50%;

  & .bp3-input-group .bp3-input {
    width: calc(100% - (20px + 94.06px));
  }
}

.admin-table__filterCategories {
  background-color: white;
  padding: 0 20px 10px;
}

.heading__categories {
  display: inline-block;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  margin-right: 10px;
  margin-bottom: 10px;
}

.category__block-span {
  display: inline-block;
  margin-bottom: 10px;
}

.showFilter {
  color: #007bff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.active-category {
  color: #007bff;

  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}

.form-tables .bp3-input {
  height: 40px;
  border: 1px solid #dcddde;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  padding: 10px 10px 10px 40px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: none;

  &:focus {
    box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
  }
}

.admin-table .admin-table__td-image {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 10px;
}

.td__content-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.admin-table__td-image-thead {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.admin-table-body .admin-table-row .admin-table__td-image .quick-action-menu {
  bottom: 51px;
  left: 150px;
}

.admin-table__delete-icon {
  position: relative;
  color: #cf0025;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.copy-button__table {
  background-color: #E9E6EB;
  border-radius: 4px;
  transition: 0.3s ease;

  &:hover {
    background-color: #DCD9DE;
  }
}

.tab-button__table {
  background-color: #6DA0ED;
  border-radius: 4px;
  transition: 0.3s ease;

  & svg {
    fill: white;
  }

  &:hover {
    background-color: #5B86C7;
  }
}
