
.admin-table{
  width: 100%;
  border: 1px solid $border-gray;
  border-radius: 3px;
  overflow: hidden;
  & .admin-table__td{
    height: 65px;
    position: relative;
    &_check{
      width: 45px;
      text-align: center;      
    }
  }
  & table{
    border-collapse: collapse;
    width: 100%;
  }
  &-head{
    background-color: #fff;
    border-bottom: 1px solid $border-gray;
    & .admin-table__td{
      height: 45px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $purple;
    }
  }
  &-body{
    & .admin-table-row{
      &:nth-child(2n){
        background-color: $light-light-gray;
      }
      &:nth-child(2n+1){
        background-color: #fff;
      }
      & .quick-action-menu {
        display: none;
        position: absolute;
        bottom: 4px;
        left: 0;
      }
      .quick-action-menu__item_wrapper {
        &::after {
          content: " | ";
        }
        &:last-child::after {
          content: "";
        }
      }
      &:hover .quick-action-menu {
        display: inline-block;
        
        .quick-action-menu__item {
          font-size: 12px;
          color: #8E94AA;
          padding: 0;
          background-color: transparent;
          &.quick-action-menu__item_danger {
            color: #cf0025;
          }
          &:hover {
            text-decoration: underline;
          }
        }

      }
    }
  }
}
