
.admin-users {
  width: 100%;
  display: flex;
  flex-direction: column;

  & .admin-table__td {
    position: relative;
  }

  & .admin-table-body .admin-table-row .quick-action-menu {
    left: 91px;
  }

  & .admin-panel {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  & .admin-users-form {
    display: flex;

    & .admin-users-button {
      margin-left: 8px;
      flex: none;
    }
  }

  & .form-bulk-left {
    flex-basis: 260px;
  }

  & .form-bulk-right {
    flex-basis: 260px;
    margin-left: 24px;
  }

  & .form-bulk-search {
    margin-left: auto;
  }

  & .form-control {
    border: 1px solid #dcddde;
    box-sizing: border-box;
    border-radius: 3px;
    max-height: 35px;
  }

  & .admin-users-table {
    margin: 0;
    border: none;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
  }

  & .table {
    border-bottom: 1px solid #D5D7DE;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;

    & thead {
      text-transform: uppercase;
      font-weight: 600;
      font-family: Roboto, sans-serif;
    }

    & td {
      vertical-align: middle;

      & a {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        color: #007bff;
        cursor: pointer;
      }
    }

    & .input-users {
      margin: 0 15px;
    }

    .users-svg {
      position: relative;
      margin-right: 5px;
      max-width: 36px;
      max-height: 36px;
      display: inline-block;
      align-items: center;
      flex-shrink: 0;
    }
  }
}

.vector-svg {
  position: relative;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  display: inline-block;
  align-items: center;
  fill: red;

  &.vector-svg--active {
    border: 1px solid red;
    border-radius: 100%;
  }
}

.role-svg {
  transform: rotate(180deg);
}


.admin-content-user {
  background-color: #f7f7f7;
  flex-grow: 1;
  //padding: 30px 60px;
  padding: 90px 60px 30px 60px;
}

.table-user {
  margin: 0;

  td {
    border: none;
  }
}

.admin-users-table-head {
  border-bottom: 1px solid #D5D7DE;
  height: 45px;
}

.admin-table__td_check-user {
  display: flex;
  align-items: center;
  height: 65px;
}

.admin-table__td_check-head {
  display: flex;
  align-items: center;
  height: 45px;
}

.admin-users-top {
  position: relative;
  background-color: white;
  padding: 30px 20px;

  & svg {
    position: absolute;
    left: 35px;
    top: 42px;
  }
}

.admin-users-top .bp3-input-group {
  display: inline;
}

.admin-users-top .bp3-input-group .bp3-input {
  width: 50%;
}

.form-tables-user .bp3-input {
  height: 40px;
  border: 1px solid #dcddde;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  padding: 10px 10px 10px 40px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: none;

  &:focus {
    box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
  }
}


.btn__tables-user {
  padding: 11px 24px;
  border-radius: 10px;

  &__indentRight {
    margin-right: 20px;
  }
}

.admin-users-form-add {
  //padding: 30px 60px;
  padding: 120px 60px 30px 60px;
  background-color: #f7f7f7;
  height: 100vh;
  flex-grow: 1;
}

.admin-form_newUsers {
  width: 600px;

  & .btn_success {
    padding: 8px 34px;
    margin-top: 20px;
  }
}
