.form-group .react-datepicker-wrapper {
  width: 100%;
}

.hide-blocks .react-datepicker__header {
  display: none;
}

.from-segment .form-group label {
  width: 100%;
}

.from-segment .form-group_checkbox {
  margin-bottom: 25px;
}