
.admin-settings{
    .nav{
        margin-bottom: -1px;
    }
    width: 100%;
    border: 1px solid $border-gray;
    border-radius: 3px;
    overflow: hidden;
    & .admin-settings-table__td{
        height: 65px;
        padding: 8px 16px;
        &_check{
            width: 45px;
            text-align: center;
        }
    }
    & .header-text{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    & .row-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
    }
    & .admin-settings-button{
        line-height: 5px;
        width: 163px;
        height: 30px;
        left: 315px;
        top: 448px;

        background: #87CA00;
        border: 1.5px solid #87CA00;
        box-sizing: border-box;
        border-radius: 2px;
    }
    & table{
        border-collapse: collapse;
        width: 100%;
        & .admin-table__td_check{
            margin-right: 10px;
        }
    }
    &-head{
        background-color: #fff;
        border-bottom: 1px solid $border-gray;
        & .admin-settings-table__td{
            height: 45px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $purple;
        }
    }
    &-body{
        & .admin-settings-table-row{
            &:nth-child(2n){
                background-color: $light-light-gray;
            }
            &:nth-child(2n+1){
                background-color: #fff;
            }
        }
    }
}

// Admin Settings Websockets
.admin_settings_websockets{

    .admin_settings_websockets_box{
        display: flex;
        margin-top: 20px;    
    }

    // Switcher
    .admin_switcher{
        display: flex;
        margin-right: 50px;

        .control-switcher {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 7px;
            padding-left: 7px;
            font-size: 8px;
            line-height: 9px;
            width: 49px;
            height: 22px;
            border-radius: 11px;
            position: relative;
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -ms-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-weight: bold;
            &_off {
                background: $light-gray;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
                    inset -1px -1px 2px rgba(0, 0, 0, 0.15);
                color: rgba(0, 0, 0, 0.3);
                & .control-switcher__on-text {
                    opacity: 0;
                }
            }
            &_on {
                background: $green;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15),
                    inset -1px -1px 2px rgba(0, 0, 0, 0.15);
                color: #ffffff;
                & .control-switcher__off-text {
                    opacity: 0;
                }
                & .control-switcher__caret {
                    left: 30px;
                }
            }
            &__caret {
                position: absolute;
                width: 16px;
                height: 16px;
                top: 3px;
                left: 3px;
                border-radius: 50%;
                background: #ffffff;
                box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
                -webkit-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                -ms-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
        }
        .admin_switcher__label {
            font-weight: bold;
            font-size: 15px;
            margin-right: 10px;
        }
    }
    .admin_input__label{
        margin-right: 15px;
    }    
    .admin_input{
        margin-right: 50px;
    }    
}
