.admin-heading {
  position: fixed;
  width: calc(100% - var(--menu-admin-default));
  top: 0;
  left: var(--menu-admin-default);
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 60px;
  transition: box-shadow 0.4s ease-in-out;

  &-shadow {
    box-shadow: 0 10px 24px -4px rgba(34, 60, 80, 0.15);
  }

  &-left {
    display: flex;
    align-items: center;
  }
}

.admin-breadcrumbs {
  margin-right: 20px;
  font-size: 28px;
  font-family: Roboto, sans-serif;
  &__link {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: $grey;
    &:hover {
      color: $blue;
    }
  }
  &__separator {
    font-weight: 700;
    font-size: 28px;
    margin-left: 5px;
    margin-right: 5px;
  }
  &__current {
    font-weight: 700;
    font-size: 28px;
  }
}

.admin-filters {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    &__link {
        text-decoration: none;
        color: $grey;
        font-family: Roboto, sans-serif;
        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }
    &__separator {
        margin-left: 5px;
        margin-right: 5px;
    }
    &__current {
        font-size: 15px;
    }
}
