.uploader{
  padding: 48px;
  background-color: #fff;
  border: 1px solid $border-gray;
  border-radius: 5px;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  color: $grey;
  & .icon {
    width: auto;
    height: auto;
    fill: $grey;
    margin: 0;
    transition-duration: inherit;
  }
  &__input{
    display: none;
  }
  &_drag-over{
    padding: 44px;
    border: 5px solid $turquoise;
    color: $turquoise;
    & .icon{
      fill: $turquoise;
    }
  }
}

.item{
  position: relative;
  &__delete{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 15px;
    border: none;
    background-color: transparent;
    &-icon{
      transform: scale(1.2);
    }
  }
  &__background{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $light-light-gray;
  }
}

.assets-list{
  background-color: #fff;
  &__item{
    padding-top: 8.333333%;
  }
}

.assets {
  &__tabs {
    bottom: -2px;
    position: relative;
  }

  &__tab {
    margin-right: 16px;
    padding: .5rem 1rem;

    border: 1px solid $border-gray;
    border-radius: 3px 3px 0 0;
    background-color: #e6e9ec;

    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #8e94aa;
  }

  &__tab:hover {
    background-color: #f1f3f5; 

    color: #8992b4;
    text-decoration: none;
  }

  &__tab--selected {
    display: inline-block;

    background-color: #fff;
    border-bottom-color: #fff;

    color: #343b4c; 
  }

  &__tab--selected:hover {
    background-color: #fff;

    color: #343b4c; 
  }

  &__tab-panel {
    border: 1px solid $border-gray;
  }
} 