.edit-font {
    width: 100%;
    padding: 17px 17px 15px 22px;
    background-color: #f0f0f1;

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        &-main {
            width: 74.9%;

            &-btn {
                background-color: #a4afb7;
                color: #fff;
                font-size: 13px;
                padding: 7px 20px;
                letter-spacing: 0.5px;
                margin-top: 19px;
                border-radius: 5px;

                &:hover {
                    background-color: #767e83;
                }
            }

            &__variation-table {
                width: 100%;

                & .add-variations {
                    width: 200px;
                }
            }
        }

        &-input {
            font-size: 22px;
            padding: 2px 5px 0px 7px;
            width: 100%;
            color: #2c3338;
            border-radius: 5px;
            border: 1px solid #8c8f94;

            &-add-font {
                color: #787c82;
            }
        }

        &-subtitle {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.4px;
            margin-top: 24px;
            margin-bottom: 6px;
            border-bottom: 1px solid #c3c4c7;
        }

        &-font-editing-line {
            border-radius: 5px;
            background-color: #fff;
            font-size: 13px;
            letter-spacing: 0.6px;
            padding: 18px 35px 21px 20px;
            color: #6d7882;
            border-bottom: 4px solid #f0f0f1;

            & td {
                padding: 8px 20px;
            }

            &__element {
                margin-right: 76px;

                &_property {
                    font-weight: bold;
                    margin-right: 8px;
                }

                &_description {
                    margin-left: 15px;
                    font-size: 14px;
                    letter-spacing: 0.4px;
                    margin-right: 73px;
                }

                &_edit {
                    opacity: 0.6;
                    margin-right: 0px;
                    letter-spacing: 0px;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }

                &_delete {
                    opacity: 0.6;
                    margin-right: 0px;
                    margin-left: 56px;
                    letter-spacing: 0px;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                        color: #b32d2e;
                    }
                }

                &-value {
                    height: 31px;
                    width: 81px;
                }
            }
        }

        &-publish {
            border: 1px solid #c3c4c7;
            margin-top: 26px;
            background-color: #fff;
            height: 93px;

            &_min {
                position: absolute;
                right: 22px;
                top: 37px;
                width: 18%;
            }

            &-header {
                border-bottom: 1px solid #c3c4c7;
                padding: 9px 3px 5px 12px;
                font-size: 15px;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
            }

            &-title {
            }

            &-body {
                padding: 11px;
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
            }

            &-trash {
                color: #b32d2e;
                font-size: 13px;
                text-decoration: underline;
                line-height: 28px;

                &:hover {
                    cursor: pointer;
                }
            }

            &-btn {
                font-size: 13px;
                background-color: #2271b1;
                padding: 7px 15px 6px 15px;
                color: #fff;
                border-radius: 4px;

                &:hover {
                    background-color: #0a4b78;
                }
            }

            &-arrow {
                background-color: white;
                color: #787c82;
                padding: 0;
            }
        }
    }
}

.admin-content.admin-content-fonts-form {
    padding: 0px;
}

.admin-content .edit-font__content-font-editing-line__element {
    margin-right: 41px;
    width: 200px;

    &_description {
        margin-right: 52px;
        padding-left: 0px;
    }

    &_edit {
        margin-left: 32px;
        margin-right: 0;
    }

    &_delete {
        margin-right: 0;
    }
}

.form-group-wrap {
    padding: 8px 40px 10px 40px;
    background-color: #fff;

    & .form-group {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 9px;
        border-bottom: 4px solid #f0f0f1;

        &-input-label {
            font-size: 12px;
            letter-spacing: 0.8px;
            margin-top: 0px;
            width: 125px;
            padding-top: 12px;
            padding-left: 10px;
            color: #6d7882;
            font-weight: 600;
        }

        & select {
            color: #495157;
            font-size: 12px;
            padding: 5px 5px;
            height: 37px;
        }
    }
}
.add-variatons-open {
    display: block;
}

.add-variatons-close {
    display: none;
}

.admin-form {
    background-color: #f0f0f1;
}

.font-table {
    width: 100%;
    background-color: #f0f0f1;
}

.showFontUrl {
    width: 37%;
    color: #495157;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d5dadf;
}
