#altrp-progress-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
  .bp3-progress-bar{
    width: 50%;
  }
}
