.btn {
  display: inline-block;
  padding: 6px 12px;
  background: #E9E9EB;
  border: 1.5px solid $dark-grey;
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: $dark-grey;
  &:hover {
    background: $dark-grey;
    color: white;
  }
  &_success{
    background-color: $green;
    border-color: $green;
    &:hover{
      border-color: $purple
    }
  }
}

.form{
  &-bottom{
    display: flex;
    justify-content: flex-end;
  }
  &-label{
    position: relative;
    margin-bottom: 13px;
    font-size: 13px;
    display: block;
    width: 100%;
    & .form__input[type="text"]{
      margin-top: 5px;
      font-size: 13px;
      border: 1px solid $border-gray;
    }
    &__error{
      position: absolute;
      left: 0;
      top: 100%;
      font-size: 12px;
      line-height: 13px;
      color: $red;
    }
  }
  &__input{
    &[type="text"]{
      width: 100%;
      padding: 10px;
      line-height: 16px;
      font-size: 14px;
    }
  }
}
