.btn_failure {
  font-weight: 400;
  background-color: #FF4E6E !important;

  &:hover {
    background-color: #CF0025 !important;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  background: #315EFB;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: white;

  &:hover {
    background: #274BC8;
    color: white;
  }

  &_success {
    background-color: $green;
    border-color: $green;
    padding: 12px 34px;
    color: white;

    &:hover {
      background-color: #7CA727;
    }
  }

  &_link {
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &_disable {
    background-color: #cccccc;
    color: #666666;
    border-color: #666666;
    padding: 12px 34px;

    &:hover {
      background-color: #cccccc;
      color: #666666;
    }
  }

  &_danger {
    border-color: $red;
    color: #fff;
    background-color: $red;

    &:hover {
      background-color: #fff;
      color: $red;
    }
  }

  &__right {
    margin-right: 10px;
  }
}

.form {
  &-bottom {
    display: flex;
    justify-content: flex-end;
  }

  &-label {
    position: relative;
    margin-bottom: 13px;
    font-size: 13px;
    display: block;
    width: 100%;

    & select.form__input,
    & .form__input[type="text"] {
      margin-top: 5px;
      font-size: 13px;
      border: 1px solid $border-gray;
    }

    &__error {
      position: absolute;
      left: 0;
      top: 100%;
      font-size: 12px;
      line-height: 13px;
      color: $red;
    }
  }
}

select.form__input,
input[type="number"].form__input,
input[type="text"].form__input {
  width: 100%;
  padding: 10px;
  line-height: 16px;
  font-size: 14px;
}

.admin-pills {
  margin-bottom: 25px;

  & .nav-item {
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  & .nav-link {
    border-radius: 10px;
    margin-bottom: -1px;
    background-color: $light-gray;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $button-grey;

    &.active {
      background-color: $green;
      color: white;
    }
  }
}

.admin-user-top-panel {

}

.top-panel {
  &-notification {
    position: relative;
    top: -1px;
    margin-right: 19px;
  }

  &__portrait {
    margin-right: 7px;
  }

  &__greeting {
    margin-right: 14px;
    font-size: 15px;
    color: $grey;
    font-family: Roboto, sans-serif;
  }

  &-logout {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

.custom-tab {
  &__tabs {
    bottom: -1px;
    position: relative;
  }

  &__tab {
    display: inline-block;
    margin-right: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #e6e9ec;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #8e94aa;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #8e94aa;
    }
  }

  &__tab--selected {
    display: inline-block;
    background-color: #87CA00;
    color: white;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &__tab-panel {
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #D5D7DE;
  }
}

.zeroing__styleTabs .custom-tab__tab-panel {
  padding: 20px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
}

.zeroing__styleTabs .custom-tab__tabs {
  position: relative;
  bottom: 0;
  margin-top: 10px;
  margin-bottom: 25px;
}

.skeleton_marginRight {
  margin-right: 3em;
}

.addFavicon__block {
  padding: 15px;
}

.form_styles_width {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
  }
}

.skeletonColors__marginBottom {
  margin-bottom: 20px;
}


.export-block {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  & .btn_success {
    padding: 12px 10px;
    min-width: 340px;
    text-align: center;
  }
}

.btn_advanced {
  min-width: 120px;
  padding: 8px 10px;
  text-align: center;
}

.edit_left {
  margin-left: 15px;
  padding: 0;
}

.font__edit {
  font-family: Roboto, sans-serif;
}

.upload__marginBottom {
  margin-bottom: 40px;
}

.model-width {
  width: 600px;
}

.form-group__flexModel {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 20px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.label_model {
  position: relative;
  top: 2px;
  margin-bottom: 0;
  margin-left: 10px;
}

.checkbox-container-editModel {
  display: flex;
}

.advanced__settings {
  display: flex;
  justify-content: space-between;
}

.editor-js__block {
  flex-grow: 1;

  & .no-margin {
    margin-bottom: 0;
  }

  & .ace_gutter-layer {
    pointer-events: none;
  }
}

.form-group_width34 {
  flex-basis: 355px;
}

.flex-model {
  display: flex;
}

.right-margin {
  margin-right: 30px;
}

.form-group__multiSelectBlueprint-category {

  & .bp3-menu {
    width: 355px;
  }

  & .bp3-tag-input {
    min-height: 38px;
  }
}

.form-group__multiSelectBlueprint-bp3 {
  & .bp3-tag-input.bp3-large {
    height: auto;
    min-height: 38px;
  }

  & .bp3-input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
  }

  & .bp3-input:focus, .bp3-input.bp3-active {
    //box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
  }

  & .bp3-menu {
    min-width: 610px;
  }

  & .bp3-tag-input {
    min-height: 38px;
  }
}

.multiSelectBlueprint-area {
  & .bp3-menu {
    min-width: 700px;
  }
}

.admin-styles-settings .uploader {
  box-shadow: none;
  border: 1px solid $border-gray;
}

.uploader__text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.form-control-blueprint .bp3-input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none;

  &:focus {
    box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
  }
}

.form_styles_border {
  border: 1px solid #ced4da;
  border-radius: 10px;
  height: 30px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
  }
}

.button__table {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #007bff;
  font-weight: 400;


  &:hover {
    text-decoration: underline;
  }
}

.table_start {
  align-items: flex-start;
}

.form-group_width-table47 {
  flex-basis: 47.5%;
}

.admin-form-relation {
  width: 600px;
}

.btn_general {
  padding: 6px 34px;
}

.table__name-top {
  align-items: center;
  margin-top: 60px;

  & .btn_add {
    margin-top: 0;
    min-width: 150px;
  }
}

.prob {
  width: 200px;
}

.admin-form-dataSources {
  display: flex;

  & .bp3-button.bp3-large {
    min-height: 38px;
  }

  &__inputs {
    flex-basis: 550px;
    flex-shrink: 0;
    margin-right: 160px;
  }

  &__create {
    flex-basis: 50%;
    flex-shrink: 0;
  }

  &__top {
    width: 160px;

    & .admin-form__subheader {
      font-family: Roboto, sans-serif;
      margin-top: 16px;
      margin-bottom: 8px;
    }

    & .btn_success {
      font-family: Roboto, sans-serif;
      padding: 12px 2px;
      min-width: 160px;
      height: 42px;
    }
  }


  & .bp3-tag-input .bp3-tag-input-values > * {
    margin-bottom: 0;
  }
}

.data_sources_checkbox {
  display: flex;
  align-items: center;

  & label {
    margin-bottom: 0;
  }
}

.data-source-label {
  font-family: Roboto, sans-serif;
}

.HeaderComponent__block {
  display: flex;
  align-items: center;
  width: 548px;

  & .btn_failure {
    position: relative;
    top: 11px;
    width: 38px;
    height: 38px;
    margin-left: 10px;
    background-color: #CF0025;

    &:hover {
      background-color: #FF4E6E;
    }
  }
}

.headerComponent__container {
  width: 500px;
}

.form-group_width-header {
  flex-basis: 47.5%;
}

.form-sql_width {
  width: 600px;
}

.sql-checkbox__block {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  & .sql__checkbox {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 30px;
    }
  }

  & label {
    position: relative;
    top: 2px;
    margin-bottom: 0;
  }
}

.field-input__center {
  align-items: center;

  & .btn_success {
    height: 38px;
    padding: 2px 34px;
  }
}

.field-input__width {
  flex-basis: 85%;
}

.sql-editor-label {
  font-family: Roboto, sans-serif;
}

.admin-form-access__roles {
  width: 600px;
}

.admin-form-access__permissions {
  width: 600px;
}

.label__RobotoFont {
  font-family: Roboto, sans-serif;
}

.admin-users-notice .admin-table-head {
  background-color: transparent;
}

.flex-grow__selectBlueprint .bp3-popover {
  flex-grow: 1;
}

.overflow-select__blueprint-sql {
  & .bp3-menu {
    height: 285px;
    overflow: auto;
  }

  & .bp3-button.bp3-large {
    min-height: 38px;
  }
}

.form-group__multiSelectBlueprint {
  & .bp3-tag-input.bp3-large {
    height: auto;
    min-height: 38px;
  }

  &_full-width{
    .bp3-menu.bp3-menu{
      width: 600px;
    }
  }

  & .bp3-input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
  }

  & .bp3-input:focus, .bp3-input.bp3-active {
    //box-shadow: 0 0 0 1px #315efb, 0 0 0 3px rgb(19 124 189 / 30%);
  }

  & .bp3-menu {
    min-width: 261.25px;
  }
}

.form-group__multiSelectBlueprint-sql {
  & .bp3-menu {
    min-width: 285px;
  }
}

.form-group__multiSelectBlueprint-users {
  & .bp3-menu {
    min-width: 285px;
  }

  & .bp3-tag-input {
    min-height: 38px;
  }
}

.overflow-blueprint__multiSelect {

  & .bp3-menu {
    height: 150px;
    overflow: auto;
  }
}

.data-source__btn-wrapper {
  margin-top: 20px;
}

.styleTabs-marginBottom {
  & .custom-tab__tab-panel {
    margin-bottom: 100px;
    overflow: visible;
  }
}

.custom_tabs-visible {
  & .react-tabs__tab-panel {
    overflow: visible;
  }
}

.btn__wrapper-relations {
  margin-top: 40px;
}

.form-control-blueprint__marginModal {
  margin-top: 10px;
}

.form-areas__container {
  width: 700px;

  & .btn_success {
    padding: 8px 34px;
    margin-top: 30px;
  }
}

.form-group_width30 {
  flex-basis: 30%;
}

.form-group__multiSelectBlueprint-pages .bp3-menu {
  width: 380px;
}

.form-group__multiSelectBlueprint-pages .bp3-tag-input {
  min-height: 38px;
}

.form-group__multiSelectBlueprint-pages .bp3-tag-input .bp3-tag {
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.overflow-select__blueprint-pages .bp3-menu {
  height: 220px;
  overflow: auto;
}

.resize-textarea {
  & textarea {
    resize: none;
  }

  & textarea.bp3-input, textarea.bp3-input.bp3-large {
    height: 210px;
  }
}

.admin-form_newUsers {
  & .bp3-menu {
    max-height: 200px;
    overflow: auto;

    & .bp3-menu-item {
      display: flex;
      align-items: center;
    }
  }

  & .bp3-tag-input .bp3-tag-input-values > * {
    margin-top: 5px;
    margin-bottom: 5px !important;
  }
}

.admin-page {
  & .bp3-menu {
    max-height: 200px;
    overflow: auto;
    overscroll-behavior: contain;

    & .bp3-menu-item {
      display: flex;
      align-items: center;
    }
  }

  & .bp3-tag-input .bp3-tag-input-values > * {
    margin-top: 5px;
  }
}

.form-group_width23 {
  flex-basis: 23%;
}

.form-group_column {
  display: flex;
  flex-direction: column;
}

.relations__checkbox {
  display: flex;
  justify-content: space-between;
}

.modalTable__width {
  width: 48.5%;
}

.ace_editor .ace_gutter {
  z-index: 0;
}

.assets-content {
  & .custom-tab__tab-panel {
    padding: 20px;
  }

  & .assets-shell-blocks__background {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 140px));
    grid-gap: 10px;

    & .assets-shell-background {
      padding: 0;

      & .item__delete {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 9px;
        right: 10px;
        width: 16px;
        height: 16px;
        background-color: #FF4E6E;
        border-radius: 2px;

        & svg path {
          fill: white;
        }
      }
    }
  }

  & .assets-shell-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 110px));
  }

  & .assets-shell-background {
    width: 140px;
    height: 140px;
    padding: 10px;
    justify-self: center;
  }

  & .assets-shell {
    width: 85px;
    height: 105px;
    padding: 10px;
    justify-self: center;
  }

  & .assets-list__item {
    padding: 0;
    width: 100%;
    height: 100%;

    & .item__background-icon {
      width: 100%;
      height: 100%;

      & path {
        transform: scale(1.5);
      }
    }

    & .item__delete {
      padding: 0;
    }
  }
}

.form-queries {
  width: 600px;

  & .bp3-tag-input .bp3-tag-input-values > * {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.fields__groupBy {
  & .bp3-menu {
    width: 600px;
  }
}

.queries__button {
  & .btn_success {
    min-width: 180px;
    padding: 8px 16px;
  }
}

.category__block {
  padding: 10px;

  & .btn_success {
    width: 100px;
    height: 34px;
    padding: 8px 12px;
  }
}

.template-children__block {

  & .btn_success {
    margin-top: 10px;
    line-height: 0;
    width: 120px;
    height: 32px;
    padding: 8px 12px;
  }
}

.form-valid__error {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  line-height: 13px;
  color: #FF4E6E;
}

.title-template {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

.robot-children__block {

  & .btn_success {
    margin-top: 10px;
    line-height: 0;
    width: 120px;
    height: 32px;
    padding: 8px 12px;
  }
}

.form-valid__error {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  line-height: 13px;
  color: #FF4E6E;
}

.title-robot {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}


.animation-scale {
  transform-origin: center;
  animation: animation-scale-frames 0.4s
}

.category-animation-close {
  transform-origin: center;
  animation: animation-category-close 0.3s
}

.form-group-menu {
  flex-basis: 452.33px;
  display: flex;
  align-items: center;

  & label {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

@keyframes animation-scale-frames {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes animation-category-close {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
.admin-form-pages__datasource {
  display: none;
  & .pagination {
    background-color: transparent;
  }

  & .admin-table-head {
    background-color: transparent;
  }
}

.zeroing__styleTabs-datasource .custom-tab__tab-panel {
  padding: 0;
}

.altrp-tree {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 100%;
  transition: max-width 0.5s;

  &.active {
    max-width: 930px;
  }

  //& .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content {
  //  background-color: rgba(191, 204, 214, 0.4);
  //}
  //
  //& .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content .bp3-icon {
  //  color: #5c7080;
  //}

  & .pagination {
    background-color: transparent;
    padding: 25px 25px 0 !important;
  }

  &__block {
    padding: 20px;
    border-radius: 6px;
    //-webkit-box-shadow: 0 0 0 1px rgb(17 20 24 / 15%), 0 0 0 rgb(17 20 24 / 0%), 0 0 0 rgb(17 20 24 / 0%);
    //box-shadow: 0 0 0 1px rgb(17 20 24 / 15%), 0 0 0 rgb(17 20 24 / 0%), 0 0 0 rgb(17 20 24 / 0%);
  }
}

.admin-table__filterCategories-pages {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.admin-tree-top {
  position: relative;
  border: none;
  padding-bottom: 10px;
  flex-basis: 50%;

  & .bp3-input-group .bp3-input {
    width: calc(100% - (20px + 94.06px));
  }


  & svg {
    position: absolute;
    left: 20px;
    top: 12px;
  }

  & .form-tables {
    display: inline;
  }
}

.parent__label {
  margin-left: 20px;
}

.altrp-tree__pages {
  padding-top: 20px;
}

.control-switcher_checked {
  background: #E6E9EC;
  box-shadow: inset 1px 1px 2px rgb(0 0 0 / 15%), inset -1px -1px 2px rgb(0 0 0 / 15%);
  color: rgba(0, 0, 0, 0.3);
}

.control-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 8px;
  line-height: 9px;
  width: 49px;
  height: 22px;
  border-radius: 11px;
  position: relative;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

.control-switcher__on-text {
  opacity: 0;
}

.control-switcher__off-text {
  opacity: 1;
}

.control-switcher__caret {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: -1px 1px 2px rgb(0 0 0 / 25%);
  transition-duration: 0.2s;
}


.altrp-tree__page-setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 62px;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 600px;
  z-index: 50;
  padding: 56px 20px 20px;
  height: calc(100% - 62px);
  overflow: auto;
  //transform: translateX(0);
  box-shadow: -6px 0 6px -6px rgba(34, 60, 80, 0.2);

  &-exit {
    position: absolute;
    top: 16px;
    left: 20px;
    cursor: pointer;

    & path {
      stroke: #8E94AA;
    }
  }

  & .custom-tab__tab-panel {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  & .custom-tab__tabs {
    margin-bottom: 10px;
  }

  & .admin-form-pages {
    width: 100%;
  }

  & .custom-tab__tab {
    padding: 6px 12px;
    font-weight: 400;
    font-size: 15px;
  }

  & .btn_mrRight {
    margin-right: 16px;
  }

  & .addPage__bottom {
    padding: 0;
    align-self: flex-end;
    flex-basis: 47.5%;
    margin-bottom: 26px;
  }

  & .admin-table {
    border-radius: 0;
    border-left: 1px solid #D5D7DE;
    border-right: 1px solid #D5D7DE;
    border-top: 1px solid #D5D7DE;
    margin-bottom: 20px;
  }

  & .tab-datasource .custom-tab__tabs {
    margin-bottom: 24px;
  }

  & input[type="checkbox"]#not_found {
    display: none;

    &:checked {
      & + .control-switcher_checked {
        background: #87CA00;
        box-shadow: inset 1px 1px 2px rgb(0 0 0 / 15%), inset -1px -1px 2px rgb(0 0 0 / 15%);
        color: #ffffff;
      }

      & + .control-switcher_checked .control-switcher__on-text {
        opacity: 1;
      }

      & + .control-switcher_checked .control-switcher__caret {
        left: 30px;
      }

      & + .control-switcher_checked .control-switcher__off-text {
        opacity: 0;
      }
    }

  }

  & .form-group__multiSelectBlueprint-pages .bp3-menu {
    width: 266px;
  }

  & .pagination {
    justify-content: center;
    padding: 0 !important;
    margin-bottom: 20px;
  }
}

.altrp-setting-status-enter {
  transform: translateX(100%);
}

.altrp-setting-status-enter-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.altrp-setting-status-enter-done {
  transform: translateX(0);
}

.altrp-setting-status-exit {
  transform: translateX(0);
}

.altrp-setting-status-exit-active {
  transform: translateX(100%);
  transition: transform 0.5s;
}

.altrp-setting-status-exit-done {
  transform: translateX(100%);
}

.bl-text {
  color: #106ba3;
}

.bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content .bp3-tree-node-label > .bl-text, .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content .bp3-tree-node-secondary-label > .bl-text {
  color: white;
}

.noEmpty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.noEmpty-block {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 6px;
  max-width: 300px;
}

.noEmpty-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.noEmpty-description {
  text-align: center;
  color: #A8A8A8;
  font-weight: 400;
  font-size: 16px;
}

.btn_mrRight {
  margin-right: 20px;
}

.category__block-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #F3F6F8;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.admin-filters-flex {
  display: flex;
  align-items: center
}

.altrp-tree {
  & .bp3-tree-node-content:hover {
    border-radius: 4px;
  }

  & .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content {
    border-radius: 4px;
  }
}



@media screen and (max-width: 1101px) {
  .upload__marginBottom {
    margin-bottom: 20px;

    & .custom-tab__tab {
      margin-bottom: 10px;
    }
  }
}
