.btn {
  display: inline-block;
  padding: 6px 12px;
  background: #E9E9EB;
  border: 1.5px solid $dark-grey;
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: $dark-grey;
  &:hover {
    background: $dark-grey;
    color: white;
  }
}
