
.modal-relation-window {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  //& .bp3-button.bp3-large {
  //  min-height: 38px;
  //  z-index: 1001;
  //}
  //
  &_active {
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
    background-color: rgba(52, 59, 76, 0.4);


    //& .bp3-popover {
    //  flex-grow: 1;
    //}
  }


  &_content {
    width: 670px;
    min-height: 30%;
    position: relative;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgb(0 0 0 / 4%);
    border-radius: 15px;
  }
}

.icon_modal {
  position: absolute;
  top: 13px;
  right: 15px;
  fill: #182026;
  cursor: pointer;
}
