.react-tabs {
  &__tab-panel {
    width: 100%;
    padding: 10px;
    border: 1px solid #D5D7DE;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
  }
}

.nav-pills {
  & .react-tabs__tab {

    margin-right: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #E6E9EC;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: #8E94AA;

    &--selected {
      background-color: #87CA00;
      color: white;
    }

  }
}

.zeroing__styleTabs .react-tabs__tab-panel {
  padding: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  background-color: transparent;
}

.zeroing__styleTabsSettings .react-tabs__tab-panel {
  border: none;
  padding: 20px;
  border-radius: 20px;
  filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
}
