
#content{
    width: 100%;
    height: 100vh;
    margin: 12px;
}

/*
стили ссылок хедера Users/Tools
*/



.nav{
    margin-top: 10px;
}
.nav-item  a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.change-role{
    line-height: 50px;
    padding: 35px 8px 8px 8px;
    align-items: center;
}

.form-control-sm{
    margin: 0 35px 0 20px;
    background: #FFFFFF;
    border: 1px solid #343B4C !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px #007CBA;
    border-radius: 2px;
    &:focus{
        box-shadow: none;
    }
}
.form-check {
    padding-left: 1.2rem !important;
}

.form-check-inline{
    margin-right: 0 !important;
}
/**
style checkbox label
*/
.form-check-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #343B4C;
}
.form-check-label:hover{
    color:#007bff;
}

.row span{
    //margin: 0 70px 0 15px;
    //font-family: Roboto;
    //font-style: normal;
    //font-weight: bold;
    //font-size: 15px;
    //line-height: 18px;
    //color: #343B4C;
}
//.row select {
//    width: 216px;
//    height: 30px;
//    margin: 0 25px 0 15px;
//}

.col-6{
    padding-bottom: 8px;
    padding-top: 10px;
    //border: 1px solid #D5D7DE;
    border-top: 0;
    border-bottom: 0;
    margin: 0 !important;
}
.form-group{
    margin-top: 14px !important;
}
fieldset{
    padding-top: 12px;
}
/*
style group treeview
*/
.treeview {
    margin-top: -50px;
    padding: 0;
    clear: both;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 70vh;
}

.treeview * {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8E94AA;
}

.treeview ul {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0 0 1.5em 0;
    list-style-type: none;
}

.treeview ul ul {
    overflow: visible;
    width: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 1.5em;
}

/* класс для ul после которых нет li в родительских ветках */
.treeview ul.l {
    border-left: 1px solid;
    margin-left: -1px;
}
/* Base for lists & headers
--------------------------- */
ul {
    overflow: hidden;
}
.treeview li{
    position: relative;
    padding-left: 1.2em;
}
.treeview + ul {
    margin-left: 30px;
    padding-top: 10px;
}
.treeview  li {
    margin-bottom: .8em;
}

.treeview li {
    margin: 0;
    padding: 0;
}

.treeview li li {
    margin: 0 0 0 0.5em;
    border-left: 1px solid;
    padding: 0;
}

.treeview li div {
    position: relative;
    height: 1.5em;
    min-height: 16px;
    height: 1.9em;
}

.treeview li li div {
    border-bottom: 1px solid;
}

.treeview li p {
    position: absolute;
    z-index: 1;
    top: 0.8em;
    top: 1.2em;
    left: .95em;
    width: 100%;
    margin: 0;
    border-bottom: 1px dashed;
    padding: 0;
}
.treeview li p.form-group-p{
    margin-left: 7.8rem;
}

.treeview a {
    padding: 0.1em 0.2em;
    white-space: nowrap;
    height: 1px;
}
.treeview a:hover {
    padding: 0.1em 0.2em;
    white-space: nowrap;
    height: 1px;
    text-decoration: none;
}

.treeview img.i {
    border-right: 2px solid;
    border-bottom: 0.5em solid;
    margin-bottom: -0.5em;
    vertical-align: middle;
}

.treeview a.sc {
    position: absolute;
    top: 0.06em;
    margin-left: -1em;
    padding: 0;
    text-decoration: none;
}

/* colors */
.treeview li p,
.treeview img.i,
.treeview .sc {
    background: #ffffff;
}

.treeview ul.l,
.treeview li p,
.treeview img.i {
    border-color: #ffffff;
}

.treeview ul li li,
.treeview ul li li div {
    border-color: #999999;
}

.treeview a,
.treeview a.sc,
.treeview a.sc:hover {
    color: #8E94AA;;
}

.treeview a.core{
    color: #343B4C;
}

.treeview a:hover {
    color: #f97c13;
}
/*
style .group-table
*/
.group-table{
    height: 50px;
    align-items: center;
}
.group-table .text-group{
    margin: 0 0 0 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #343B4C;
}
.group-table .text-total{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #343B4C;
}
.col input .search-tools{
    height: 30px;
    border: 1px solid #ced4da;
}
.form-tools button{
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: 1px solid #ced4da;
    background: #87CA00;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #3C455B;
}
.form-tools button:hover{
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: 1px solid #ced4da;
    background: #b5ea49;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #3C455B;
}
/*
style .group-table-trees
*/
.group-table-trees{
    height: 75vh;
}
.form-check-group{
    margin-top: 16px;
}
.form-group-p{
    margin: 0;
    margin-left: 10px;
    display: inline-block;
}
.form-group-p a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #8E94AA;
    text-decoration: none !important;
}
.form-group-p span{
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #8E94AA;
}
.form-group-p a:last-child{
    color: #fc394d;
}
.form-group-p a:last-child:hover{
    color: #fa011a;
}

.group-vertical{
    display: grid;
    width: 80%;
    margin: 25px auto;
}
.group-vertical button{
    margin-top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3C455B;
}
.dangerous{
    display: grid;
    width: 80%;
    justify-content: center;
    margin: 350px auto auto auto;
}
.dangerous span{
    width: 195px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin: 0 19px;
    color: #8E94AA;
}
.dangerous button{
    margin: 5px auto;
    width: 195px;
    height: 40px;
    left: 1651px;
    top: 889px;
    background: #FF4E6E;
    border: 1px solid #FF4E6E;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #FFFFFF;
}
