.app-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999999
}

.app-popup .popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  color: white;
  font-size: 30px
}

.app-popup .popup-window {
  position: absolute;
  width: 50vw;
  //height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px
}

.popup-content {
  max-width: 100%;
  overflow-x: hidden;
}

.popup-scrollbar-vertical {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  height: 50px;
  border-radius: 2px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  box-sizing: border-box;
  outline: none
}

.popup-scrollbar-track-vertical {
  height: 100%;
  position: absolute;
  border-radius: 2px;
  z-index: 999;
  top: 0;
  right: 0
}

.popup-scrollbar-track-horizontal {
  display: none
}

.popup-close-button-left {
  top: 0;
  left: 0
}

.popup-close-button-right {
  top: 0;
  right: 0
}

.app-popup-horizontal-center .popup-window {
  left: 50%;
  transform: translateX(-50%)
}

.app-popup-horizontal-left .popup-window {
  left: 0
}

.app-popup-horizontal-right .popup-window {
  right: 0
}

.app-popup-vertical-center .popup-window {
  top: 50%;
  transform: translateY(-50%)
}

.app-popup-vertical-top .popup-window {
  top: 0
}

.app-popup-vertical-bottom .popup-window {
  bottom: 0;
}

.app-popup-horizontal-center.app-popup-vertical-center .popup-window {
  transform: translate(-50%, -50%);
}

.app-popup-height-fit-to-screen .popup-window {
  height: 100vh;
}
.app-popup-height-fit-to-content .popup-window {
  height: auto;
}
/**
 OFFCANVAS
 */
.app-popup.app-popup.app-popup_offcanvas .popup-window{
  transform: none;
}
.app-popup_offcanvas .popup-window{
  border-radius: 0;
  border: none;
}
/**
 OFFCANVAS END`
 */

/**
 TRANSITIONS ANIMATION
 */
.popup-transition-state{
  &-exit-done{
    display: none;
  }
  /**
  OFFCANVAS RIGHT SLIDE
   */
  &-exit-active.offcanvas-right-center-slide .popup-window.popup-window.popup-window{
    transform: translateX(100%);
  }
  &-enter.offcanvas-right-center-slide .popup-window.popup-window.popup-window{
    transform: translateX(100%);
  }
  &-enter-active.offcanvas-right-center-slide .popup-window.popup-window.popup-window{
    transform: none;
  }
  /**
  OFFCANVAS LEFT SLIDE
   */
  &-exit-active.offcanvas-left-center-slide .popup-window.popup-window.popup-window{
    transform: translateX(-100%);
  }
  &-enter.offcanvas-left-center-slide .popup-window.popup-window.popup-window{
    transform: translateX(-100%);
  }
  &-enter-active.offcanvas-left-center-slide .popup-window.popup-window.popup-window{
    transform: none;
  }
  /**
  OFFCANVAS TOP SLIDE
   */
  &-exit-active.offcanvas-center-top-slide .popup-window.popup-window.popup-window{
    transform: translateY(-100%);
  }
  &-enter.offcanvas-center-top-slide .popup-window.popup-window.popup-window{
    transform: translateY(-100%);
  }
  &-enter-active.offcanvas-center-top-slide .popup-window.popup-window.popup-window{
    transform: none;
  }
  /**
  OFFCANVAS BOTTOM SLIDE
   */
  &-exit-active.offcanvas-center-bottom-slide .popup-window.popup-window.popup-window{
    transform: translateY(100%);
  }
  &-enter.offcanvas-center-bottom-slide .popup-window.popup-window.popup-window{
    transform: translateY(100%);
  }
  &-enter-active.offcanvas-center-bottom-slide .popup-window.popup-window.popup-window{
    transform: none;
  }
  /**
  OFFCANVAS RIGHT PUSH
   */
  &-exit-active.offcanvas-right-center-push .popup-window.popup-window.popup-window{
    transform: translateX(100%);
  }
  &-enter.offcanvas-right-center-push .popup-window.popup-window.popup-window{
    transform: translateX(100%);
  }
  &-enter-active.offcanvas-right-center-push .popup-window.popup-window.popup-window{
    transform: none;
  }
  /**
  OFFCANVAS LEFT PUSH
   */
  &-exit-active.offcanvas-left-center-push .popup-window.popup-window.popup-window{
    transform: translateX(-100%);
  }
  &-enter.offcanvas-left-center-push .popup-window.popup-window.popup-window{
    transform: translateX(-100%);
  }
  &-enter-active.offcanvas-left-center-push .popup-window.popup-window.popup-window{
    transform: none;
  }
  /**
  OFFCANVAS TOP PUSH
   */
  &-exit-active.offcanvas-center-top-push .popup-window.popup-window.popup-window{
    transform: translateY(-100%);
  }
  &-enter.offcanvas-center-top-push .popup-window.popup-window.popup-window{
    transform: translateY(-100%);
  }
  &-enter-active.offcanvas-center-top-push .popup-window.popup-window.popup-window{
    transform: none;
  }
  /**
  OFFCANVAS BOTTOM PUSH
   */
  &-exit-active.offcanvas-center-bottom-push .popup-window.popup-window.popup-window{
    transform: translateY(100%);
  }
  &-enter.offcanvas-center-bottom-push .popup-window.popup-window.popup-window{
    transform: translateY(100%);
  }
  &-enter-active.offcanvas-center-bottom-push .popup-window.popup-window.popup-window{
    transform: none;
  }

}
/**
 TRANSITIONS ANIMATION END
 */
