@import "../../../../sass/common";
@import "../../../editor/src/sass/elements-style";
@import "../../../editor/src/sass/default-styles";
@import "../../../editor/src/sass/creative-link";
@import "../../../editor/src/sass/creative-hover";
@import "../../../editor/src/sass/_altrp-dashboards";
@import "../../../editor/src/sass/altrp-image-select.scss";
@import "./responsive.scss";
@import "../../../../sass/ckeditor.scss";


//@import "../../../editor/src/sass/blueprint-tooltip";
//import blueprint to editor stylesheet
//@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
//@import "../../../../../node_modules/@blueprintjs/core/lib/css/blueprint-hi-contrast.css";
//@import "../../../editor/src/sass/blueprint";


.front-app {
    position: relative;
    z-index: 50;
    &-content_test {
        padding-bottom: 100px;
    }

  &_admin {
    padding-top: var(--front-app-padding);
  }
}
.front-app_admin .route-content{
  min-height: calc(100vh - var(--front-app-padding));
}

@media screen and (max-width: 1070px) {
  .front-app_admin {
    padding-top: var(--front-app-adaptive1070-padding);
  }

  .front-app_admin .route-content{
    min-height: calc(100vh - var(--front-app-adaptive1070-padding));
  }
}

@media screen and (max-width: 667px) {
  .front-app_admin {
    padding-top: var(--front-app-adaptive667-padding);
  }

  .front-app_admin .route-content{
    min-height: calc(100vh - var(--front-app-adaptive667-padding));
  }
}

$padding_true: 35px;
$padding_false: 0px;

$padding-adaptive1070_true: 70px;
$padding-adaptive1070_false: 0px;

$padding-adaptive667_true: 105px;
$padding-adaptive667_false: 0px;

:root {
  --front-app-true: #{$padding_true};
  --front-app-false: #{$padding_false};
  --front-app-padding: var(--front-app-false);

  --front-app-adaptive1070-true: #{$padding-adaptive1070_true};
  --front-app-adaptive1070-false: #{$padding-adaptive1070_false};
  --front-app-adaptive1070-padding: var(--front-app-adaptive1070-false);

  --front-app-adaptive667-true: #{$padding-adaptive667_true};
  --front-app-adaptive667-false: #{$padding-adaptive667_false};
  --front-app-adaptive667-padding: var(--front-app-adaptive667-false);
}
.altrp-widget_html{
  img{
    max-width:100%
  }
}
