$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$big_phone: 450px;
$small_phone: 320px;

.is_mobile .hide_on_mobile{
  display: none;
}

.is_desktop .hide_desktop{
  display: none;
}

@media screen and (min-width: $desktop + 1) {
  .hide_on_wide_screen {
    display: none;
  }
}

@media screen and (max-width: $desktop) and (min-width: $laptop + 1) {
  .hide_on_desktop {
    display: none;
  }
}

@media screen and (max-width: $laptop) and (min-width: $tablet + 1) {
  .hide_on_laptop {
    display: none;
  }
}

@media screen and (max-width: $tablet) and (min-width: $big_phone + 1) {
  .hide_on_tablet {
    display: none;
  }
}

@media screen and (max-width: $big_phone) and (min-width: $small_phone + 1) {
  .hide_on_big_phone {
    display: none;
  }
}

@media screen and (max-width: $small_phone) {
  .hide_on_small_phone {
    display: none;
  }
}
