$tablet: 768px;
$big_phone: 450px;

@media screen and (max-width: $big_phone) {
  .hide_on_mobile {
    display: none;
  }
}

@media screen and (max-width: $tablet) and (min-width: $big_phone + 1) {
  .hide_on_tablet {
    display: none;
  }
}

@media screen and (min-width: $tablet + 1) {
  .hide_on_desktop {
    display: none;
  }
}