html,
body {
  height: 100%;
  overflow-y: hidden;
}
.rrbe {
  display: flex;
  flex-direction: row;
  height: 100vh;
  &__left {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 30%;
    max-width: 400px;
    color: #242424;
    background-color: #e6e9ec;
    .left-top {
      height: 40px;
      background-color: #343b4c;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__title {
        text-align: center;
        width: 50%;
        padding: 5px 0;
        img {
          height: 100%;
        }
      }
    }
    &-bottom {
      height: 40px;
      background-color: #343b4c;
      .bottom {
        padding: 5px 8px 8px;
        display: flex;
        justify-content: space-between;
        .btn {
          padding: 0 0.38rem 0.15rem;
          font-size: 1rem;
          background-color: #8e94aa;
          border: 0;
          font-weight: 600;
        }
        .btn-secondary:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
          box-shadow: none;
        }
        .dropdown-toggle-split {
          border-left: 1px solid #343b4c;
          &[aria-expanded="true"] {
            background-color: #8e94aa;
          }
        }
        .dropdown-menu {
          font-size: 0.8rem;
        }
      }
    }
    &-container {
      height: 100%;
      overflow: auto;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .accordion {
      border-radius: 0.25rem;
      margin-bottom: 10px;
      .card {
        &-header {
          background-color: #ffffff;
          color: #343b4c;
          font-weight: 500;
          border-bottom: 3px solid #f9f9f9;
        }
        &-body {
          background-color: #ffffff;
        }
      }
    }
    .card {
      border: 0;
      &-header {
        padding: 0.5rem 1.25rem;
        font-size: 0.9rem;
        color: #343b4c;
        cursor: pointer;
      }
      &-body {
        color: #343b4c;
        .card-header-pills {
          margin-bottom: 20px;
          font-size: 0.85rem;
        }
        .form-label,
        .form-check-label {
          font-size: 0.9rem;
        }
      }
    }
  }
  &__resizer {
    width: 5px;
    height: 100vh;
    cursor: col-resize;
    background-color: #e6e9ec;
  }
  &__right {
    width: 100%;
    &-container {
      overflow: auto;
      height: 100vh;
    }
  }
  &__section {
    &:hover {
      background-color: #fafafa;
    }
  }
  &__column {
    &:hover {
      background-color: rgba(238, 238, 238, 0.5);
    }
  }
}
