PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=tLz0gkbI9ZJ8c9HVYrnTneAo9NA4RnOY
PATH_ENV=production
DRIVE_DISK=local
CACHE_VIEWS=false

ALTRP_VERSION=0.1-node

DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
SESSION_DRIVER=cookie
