node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
.env-prod
.env-mysql

#bundles
public/*
!public/css
!public/img
!public/modules/editor/editor.css
storage/
app/AltrpModels/
app/AltrpControllers/
app/AltrpGlobalMiddlewares/
app/AltrpPlugins/
app/AltrpListeners/
app/AltrpOther/
app/AltrpCRUDs/
app/AltrpSchedules/
start/altrp-routes/
start/routes/custom
/resources/views/altrp

cert.pem
key.pem
pluginSettings.json
