node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
.env-prod

#bundles
public/
storage/
app/AltrpModels/
app/AltrpControllers/
app/AltrpPlugins/
app/altrp-listeners/
start/altrp-routes/
/resources/views/altrp

cert.pem
key.pem
