node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
.env-prod

#bundles
public/*
!public/css
!public/modules/editor/editor.css
storage/
app/AltrpModels/
app/AltrpControllers/
app/AltrpPlugins/
app/AltrpListeners/
app/AltrpOther/
start/altrp-routes/
/resources/views/altrp

cert.pem
key.pem
pluginSettings.json
