## Choose DB client: 'postgres' or 'sqlite'
DB_CLIENT=sqlite

## For Postgres
#DATABASE_URI=postgres://postgres:postgres@localhost:5432/altrp_app
# or
#DATABASE_URL=postgresql://postgres:postgres@localhost:5432/altrp_app

## For SQLite (Payload v3 libsql)
#DATABASE_URL=file:../../packages/db/app.database.sqlite

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3200

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

ALTRP_CMS_URL=http://localhost:3000
ALTRP_SITE_URL=http://localhost:3100
ALTRP_APP_URL=http://localhost:3200