@import "~react-datepicker/dist/react-datepicker.css";
@import "../../../../sass/smart-grid.scss";

@media print {
    .card-header {
        margin: 10px 15px;
    }

    .dropdownTogglerContainer {
        display: none;
        overflow: hidden;
        height: 0;
    }

    .card {
        width: 100%;
    }
}

// div[x-placement="top"] {
//     z-index: 9999999 !important;
//     background-color: rgba(0, 0, 0, 0.5);
//     color: white;
//     border-radius: 4px;
// }
// div[x-placement="right"] {
//     z-index: 9999999 !important;
//     background-color: rgba(0, 0, 0, 0.5);
//     color: white;
//     border-radius: 4px;
// }
// div[x-placement="bottom"] {
//     z-index: 9999999 !important;
//     background-color: rgba(0, 0, 0, 0.5);
//     color: white;
//     border-radius: 4px;
// }
// div[x-placement="left"] {
//     z-index: 9999999 !important;
//     background-color: rgba(0, 0, 0, 0.5);
//     color: white;
//     border-radius: 4px;
// }

#front-app {
    transform: none !important;
    transition: none !important;
}

.collapse-button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    &-content {
        display: flex;
        justify-content: space-between;
    }
    &:hover {
        background-color: lightgrey;
    }
}

.collapse {
    height: 0;
    opacity: 0;
    transition: all 1s;
    overflow: auto;
    &.show {
        opacity: 1;
        height: fit-content;
        height: -moz-max-content;
        padding: 5px 0;
        transition: all 1s;
        width: 100%;
    }
}

.spinner-border.text-warning {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: auto;
    vertical-align: text-bottom;
    border: 0.25em solid;
    border-right: 0.25em solid transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;

    color: #ffc107 !important;
}

.chart-content-container {
    width: 80%;
    height: 80%;
}

.drawer {
    $full: 100%;
    $content: 50vh;
    position: absolute;
    top: 0;
    z-index: 9999999;
    &-mask {
        background: #000;
        opacity: 0;
        width: 100%;
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
            height 0s ease 0.3s;
    }

    &-content {
        overflow: auto;
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;

        & select {
            width: 100%;
            margin: 10px 0;
            font-size: 14px;
            padding: 5px;
            border: 1px solid lightgrey;
            border-radius: 4px;
        }
    }
    &-preview {
        width: calc(#{$full} - #{$content});
        height: 100%;
        position: relative;
        display: none;
        background: transparent;
        transition: opacity 5s;
        &__container {
            display: flex;
            @include to(985px) {
                display: none !important;
            }
            flex-direction: column;
            background-color: white;
            box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
            max-height: 900px;
            margin: auto;
            border-radius: 4px;
            & .title {
                margin-top: 30px;
                text-align: center;
                & > input {
                    border: 0;
                    border-bottom: 1px solid lightgray;
                    font-size: 18px;
                    min-width: 350px;
                }
            }
            &-content {
                width: 700px;
                height: 500px;
                max-height: 800;
                padding: 10px 0;

                & .chart-container {
                    // overflow: auto;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & > .chart-content-container {
                        width: 80%;
                        height: 80%;
                    }

                    &.right {
                        flex-direction: row;
                    }
                    &.left {
                        flex-direction: row-reverse;
                    }
                    &.top {
                        flex-direction: column-reverse;
                    }
                    &.bottom {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    &-open {
        & .drawer-preview {
            display: flex;
        }
        & {
            width: 100%;
            height: 100%;
        }
        & .drawer-right {
            width: 100%;

            & .drawer-content {
                height: 100%;
                padding-top: 40px;
            }
        }

        & .drawer-mask {
            opacity: 0.3;
            height: 100%;
            transition: none;
        }

        & .drawer-content-wrapper {
            position: fixed;
            background: #fff;
            right: 0;
            height: 100%;
            box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
            transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86) 0s;
            overflow: auto;
            padding: 10px 0;
        }
    }
}

.altrp-dashboard {
    &__card {
        @include col();
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 10px;

        & > .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 15px;
            font-weight: 600;
            margin: 0 10px;
            & > .dropdownTogglerContainer {
                width: fit-content;
            }
            & > .dropdownTogglerContainer > .dropleft > .dropdown-toggle {
                background-color: white;
                padding: 2px;
            }
            & > .dropdownTogglerContainer > .dropleft > .dropdownMenuToggle {
                background-color: white;
                margin-right: 5px;
                padding: 2px;
                border-radius: 4px;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
            }
            &
                > .dropdownTogglerContainer
                > .dropleft
                > .dropdownMenuToggle
                > .dropdown-item {
                background-color: white;
                padding: 0 5px;
            }
            &
                > .dropdownTogglerContainer
                > .dropleft
                > .dropdownMenuToggle
                > .dropdown-item
                > button {
                background-color: white;
                padding: 0 5px;
            }
            &
                > .dropdownTogglerContainer
                > .dropleft
                > .dropdownMenuToggle.show {
                transition: opacity 0.2s linear;
            }
        }

        & .chart-container {
            // overflow: auto;
            height: 100%;
            width: 100%;
            padding-top: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            &.right {
                flex-direction: row;
            }
            &.left {
                flex-direction: row-reverse;
            }
            &.top {
                flex-direction: column-reverse;
            }
            &.bottom {
                flex-direction: column;
            }
        }

        &__add-settings {
            width: 100%;

            & form {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            & .label {
                width: 100%;
                border: 0;
                color: rgba(0, 0, 0, 1);
                font-size: 12px;
                margin-bottom: 5px;
            }

            & .form-group > .title {
                width: 100%;
                border: 0;
                color: rgba(0, 0, 0, 0.5);
                font-size: 14px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                margin-bottom: 5px;
            }

            & .select-type {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
            }

            & form > .chart-container {
                overflow: auto;
                margin-top: 15px;
                height: 100px;
                flex-grow: 1;
            }
        }

        & > &__add {
            margin: auto;
            background-color: transparent;
            &:hover {
                cursor: pointer;
                & > .title {
                    color: black;
                    transition: color 0.5s;
                }
                & svg {
                    color: black;
                }
            }

            & > .title {
                text-align: center;
                margin-bottom: 10px;
                color: hsl(0, 0%, 50%);
                font-size: 12px;
            }

            & div {
                margin: auto;
                width: fit-content;
                & > svg {
                    margin: auto;
                    width: 36px;
                    height: 36px;
                    color: hsl(0, 0%, 50%);
                }
            }
        }
    }

    &__controls {
        margin-bottom: 10px;
        .nav {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
            grid-column-gap: 5px;
            grid-row-gap: 10px;

            @media print {
                overflow: hidden;
                height: 0;
            }

            & > .nav-item {
                cursor: pointer;

                & .global-select {
                    width: 100%;
                    height: 100%;
                    padding: 5px 14px;
                }

                &.nav-button {
                    width: 100%;
                    height: 100%;
                    color: rgba(255, 255, 255, 1);
                    font-family: "PT Sans", sans-serif;
                    font-size: 14px;
                    line-height: 1.5;
                    letter-spacing: 0.8px;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-shadow: 0px 0px 0px rgb(39, 30, 30);
                    padding: 5px 14px;
                    background-image: linear-gradient(
                        90deg,
                        #7f7f7f 7.3016700000000005%,
                        #706f6f 100%
                    );
                    border-color: rgb(50, 168, 82);

                    &:hover {
                        color: rgba(68, 68, 68, 1);
                        background-image: linear-gradient(
                            90deg,
                            #ffec00 7.3016700000000005%,
                            #fcdd03 100%
                        );
                    }
                }
                &.nav-datepickers {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
                    & > .nav-datepicker {
                        width: 100%;
                        &
                            > .react-datepicker-wrapper
                            > .react-datepicker__input-container
                            > .form-control {
                            max-width: unset;
                            width: 100%;
                            border: 1px solid rgba(109, 108, 108, 1);
                            padding: 8px;
                        }
                        &:last-child
                            > .react-datepicker-wrapper
                            > .react-datepicker__input-container
                            > .last {
                            border-left: 0;
                            max-width: unset;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .dropdown {
            @media print {
                overflow: hidden;
                height: 0;
            }
            &.show {
                @media print {
                    overflow: hidden;
                    height: 0;
                }
                .dropdown-menu {
                    background-color: #fff;
                    z-index: 999;
                    min-width: 10rem;
                    background-clip: padding-box;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 0.25rem;
                    display: flex;
                    flex-direction: column;
                    .dropdown-divider {
                        height: 0;
                        border-top: 1px solid #e9ecef;
                    }
                    .dropdown-item,
                    .dropdown-item-text {
                        padding: 0.75rem 1.5rem;
                        font-weight: 400;
                        color: #212529;
                        text-decoration: none;
                        font-size: 0.9rem;
                        &:hover {
                            background-color: #eeeeee;
                        }
                        .form-control {
                            background-color: transparent;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    &__widgets {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-gap: 10px;
        @include xs-block() {
            grid-template-columns: repeat(1, [col-start] 1fr);
        }
        .card {
            width: 100%;
            // max-width: 500px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);

            padding: 25px 10px;

            &-header {
                display: flex;
                justify-content: space-between;
                margin: 0 15px 10px;

                .card-title {
                    button {
                        background-color: transparent;
                        padding: 5px 0px;
                    }
                    &
                        > .dropdownTogglerContainer
                        > .dropleft
                        > .dropdownMenuToggle {
                        background-color: white;
                        margin-right: 5px;
                        padding: 3px;
                        border-radius: 4px;
                        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
                    }
                    &
                        > .dropdownTogglerContainer
                        > .dropleft
                        > .dropdownMenuToggle
                        > .dropdown-item {
                        padding: 0 5px;
                    }
                    &
                        > .dropdownTogglerContainer
                        > .dropleft
                        > .dropdownMenuToggle.show {
                        transition: opacity 0.2s linear;
                    }
                }
            }
            &-body {
                .card {
                    @include col();
                    @include size(12);
                    border: 0;
                    box-shadow: none;
                }
                form {
                    padding: 10px 0;
                    .form-group {
                        width: 100%;
                        margin-bottom: 10px;
                        label {
                            font-size: 0.8rem;
                        }
                        input,
                        select {
                            width: 100%;
                        }
                    }
                    .form-check {
                        display: flex;
                        align-items: center;
                        .form-check-input {
                            width: 30px;
                        }
                    }
                }
            }
            &-footer {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.widget-table {
    overflow: auto;
    width: 100%;
    height: 100%;
    table {
        border-collapse: collapse;
        &.vertical-table tbody td:first-child {
            background-color: #f0f0f0;
            color: #666666;
            width: 50%;
            font-weight: 600;
        }
        width: 100%;
        font-size: 0.8rem;
        thead th,
        tbody td {
            border-collapse: collapse;
            border: 1px solid rgba(0, 0, 0, 0.125);
            padding: 0.3rem 0.5rem;
        }
        thead {
            background-color: #f0f0f0;
            color: #666666;
            font-weight: 600;
        }
    }
}
.altrp-chart {
    display: flex;
    flex-direction: column;
    &.left {
        flex-direction: row-reverse;
    }
    &.top {
        flex-direction: column-reverse;
    }
    &.bottom {
        @include col();
        @include size(12);

        margin: 0 auto !important;
        height: 100%;
        max-height: 100%;

        & > .widget-table {
            overflow: auto;
        }
    }
    &.right {
        flex-direction: row;
    }
}
.discrete__legend {
    overflow: unset !important;
    flex-wrap: wrap;
    &.horizontal {
        // height: 20%;
        // width: 100%;
    }
    &.vertical {
        // width: 20%;
        // height: 100%;
    }
    & > div {
        padding: 4px 8px !important;
    }
    &-item {
        span {
            //font-size: 0.8rem !important;
            font-weight: 500;
        }
        &:first-child {
            padding-left: 8px !important;
        }
    }
}
.chart__tooltip {
    z-index: 99999;
}
