@import "~react-datepicker/dist/react-datepicker.css";
@import "../../../../sass/smart-grid.scss";

@media print {
  .card-header{
    margin: 10px 15px;
  }

  .dropdownTogglerContainer{
      display: none;
      overflow: hidden;
      height: 0; 
    }
  
  .card{
    width: 100%;
  }
}

.altrp-dashboard {
  &__card{
    @include col();
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 10px;

    &>.title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 15px;
      font-weight: 600;
      margin: 0 10px;
      &>.dropdownTogglerContainer{
        width: fit-content;
      }
      &>.dropdownTogglerContainer>.dropleft>.dropdown-toggle{
        background-color: white;
        padding: 2px;
      }
      &>.dropdownTogglerContainer>.dropleft>.dropdownMenuToggle{
        background-color: white;
        margin-right: 5px;
        padding: 2px;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
      }
      &>.dropdownTogglerContainer>.dropleft>.dropdownMenuToggle>.dropdown-item{
        background-color: white;
        padding: 0 5px;
      }
      &>.dropdownTogglerContainer>.dropleft>.dropdownMenuToggle>.dropdown-item>button{
        background-color: white;
        padding: 0 5px;
      }
      &>.dropdownTogglerContainer>.dropleft>.dropdownMenuToggle.show{
            transition: opacity .2s linear;
      }
    }

    & .chart-container{
      height: 100%;
      width: 100%;
      margin-bottom: 10px;
    }

    &__add-settings{
      width: 100%;

      & form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      & .label{
        width: 100%;
        border: 0;
        color: rgba(0, 0, 0, 1);
        font-size: 12px;
        margin-bottom: 5px;
      }

      & .form-group>.title{
        width: 100%;
        border: 0;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 5px;
      }

      & .select-type{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }

      & form>.chart-container{
        margin-top: 15px;
        height: 100px;
        flex-grow: 1;
      }
    }

    &>&__add{
      margin: auto;
      background-color: transparent;
      &:hover{
        cursor: pointer;
        &>.title{
          color:black;
          transition: color 0.5s;
        }
        & svg{
          color:black;
        }
      }
      
      &>.title{
        text-align: center;
        margin-bottom: 10px;
        color: hsl(0,0%,50%);
        font-size: 12px;
      }

      & div{
        margin:auto;
        width: fit-content;
        &>svg{
          margin: auto;
          width:36px;
          height:36px;
          color: hsl(0,0%,50%);
        }
      }
      
    }

  }

  &__controls {
    .nav{
      @include row-flex();
      margin: 5px 23px;
      @include xs-block(){
        margin: 5px 8px;
      }
      @media print {
        overflow: hidden; height: 0;
      }

      .justify-content-center{
        justify-content:center;
      }
      .justify-content-between{
        justify-content:space-between;
      }
      .justify-content-around{
        justify-content:space-around;
      }
      .justify-content-start{
        justify-content:start;
      }
      .justify-content-end{
        justify-content:end;
      }

      &>.nav-item{
        @include col();
        margin: 0 5px;
        margin-bottom: 5px;
        cursor: pointer;

        & .global-select{
          padding: 5px 14px;
        }

        &.nav-button{
          color: rgba(255, 255, 255, 1);
          font-family: "PT Sans", sans-serif;
          font-size: 14px;
          line-height: 1.5;
          letter-spacing: 0.8px;
          font-weight: 400;
          text-transform: uppercase;
          text-shadow: 0px 0px 0px rgb(39, 30, 30);
          padding: 5px 14px;background-image: linear-gradient(90deg, #7F7F7F 7.3016700000000005%, #706F6F 100%);
          border-color: rgb(50,168,82);

          &:hover{
            color: rgba(68, 68, 68, 1);
            background-image: linear-gradient(90deg, #FFEC00 7.3016700000000005%, #FCDD03 100%);


          }
        }
        &.nav-datepickers{
          @include row-flex();
          margin: 0 10px;
          justify-content:space-around;
          // align-items: center;

          &>.nav-datepicker{
            @include col();
            margin: 0;
            &>.react-datepicker-wrapper>.react-datepicker__input-container>.form-control{
              max-width: 100px;
              border: 1px solid  rgba(109, 108, 108, 1);
              padding: 8px;
            }
            &:last-child>.react-datepicker-wrapper>.react-datepicker__input-container>.last{
              border-left: 0;
            }
          }
        }
      }
    }
    

    .dropdown {
      @media print {
        overflow: hidden; height: 0;
      }
      &.show {
        @media print {
          overflow: hidden; height: 0;
        }
        .dropdown-menu {
          background-color: #fff;
          z-index: 999;
          min-width: 10rem;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 0.25rem;
          display: flex;
          flex-direction: column;
          .dropdown-divider {
            height: 0;
            border-top: 1px solid #e9ecef;
          }
          .dropdown-item,
          .dropdown-item-text {
            padding: 0.75rem 1.5rem;
            font-weight: 400;
            color: #212529;
            text-decoration: none;
            font-size: 0.9rem;
            &:hover {
              background-color: #eeeeee;
            }
            .form-control {
              background-color: transparent;
              border: none;
            }
          }
        }
      }
    }

  }
  &__widgets {
    @include row-flex();
    margin: 0 !important;
    justify-content: center;
    .card {
      flex-basis: 475px;
      @include col();
      @include size(6);
      @include size-sm(12);
      @include size-xs(12);
      // max-width: 500px;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
      margin: 10px;
      padding: 25px 10px;
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }
      &-header {
        display: flex;
        justify-content: space-between;
        margin: 0 15px 10px;

        .card-title {
          button {
            background-color: transparent;
            padding: 5px 0px;
          }
          &>.dropdownTogglerContainer>.dropleft>.dropdownMenuToggle{
            background-color: white;
            margin-right: 5px;
            padding: 3px;
            border-radius: 4px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
          }
          &>.dropdownTogglerContainer>.dropleft>.dropdownMenuToggle>.dropdown-item{
            padding: 0 5px;
          }
          &>.dropdownTogglerContainer>.dropleft>.dropdownMenuToggle.show{
                transition: opacity .2s linear;
          }
        }
      }
      &-body {
        .card{
          @include col();
          @include size(12);
          border: 0;
          box-shadow: none;
        }
        form {
          padding: 10px 0;
          .form-group {
            width: 100%;
            margin-bottom: 10px;
            label {
              font-size: 0.8rem;
            }
            input,
            select {
              width: 100%;
            }
          }
          .form-check {
            display: flex;
            align-items: center;
            .form-check-input {
              width: 30px;
            }
          }
        }
      }
      &-footer{
        margin-top: 15px;
        display: flex;
        justify-content:space-between;
      }
    }
  }
}

.widget-table {
  overflow: auto;
  width: 100%;
  height: 100%;
  table {
    border-collapse: collapse;
    &.vertical-table tbody td:first-child {
      background-color: #f0f0f0;
      color: #666666;
      width: 50%;
      font-weight: 600;
    }
    width: 100%;
    font-size: 0.8rem;
    thead th,
    tbody td {
      border-collapse: collapse;
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 0.3rem 0.5rem;
    }
    thead {
      background-color: #f0f0f0;
      color: #666666;
      font-weight: 600;
    }
  }
}
.altrp-chart {
  display: flex;
  flex-direction: column;
  &.left {
    flex-direction: row-reverse;
  }
  &.top {
    flex-direction: column-reverse;
  }
  &.bottom {
    @include col();
    @include size(12);

    margin: 0 auto !important;

    &>.widget-table{
      overflow: auto;
    }
  }
  &.right {
    flex-direction: row;
  }
}
.discrete__legend {
  overflow: unset !important;
  flex-wrap: wrap;
  &>div{
    padding: 4px 8px !important;
  }
  &-item {
    span {
      //font-size: 0.8rem !important;
      font-weight: 500;
    }
    &:first-child {
      padding-left: 8px !important;
    }
  }
}
.chart__tooltip {
  z-index: 99999;
}
