@import "../../../../sass/vars";

.altrp-menu{
  width: 100%;
  user-select: none;
  &__title{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 13px;
  }
  &__item{
    padding: 6px 15px;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      background-color: $light-light-gray ;
    }
  }
}