.altrp-image-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .altrp-field {
    overflow: hidden; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.selected {
      border-color: lightcoral;
    }
  }

  .altrp-field-label {
    text-align: center;
    display: block;
  }
}