.altrp-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  &-pages{
    display: flex;
  }
  &__goto-page{
    margin-left: 10px;
    height: 32px;
    border: solid rgb(142,148,170) 2px;

  }
  &__select-size{
    margin-left: 10px;
    // & .altrp-field-select2{
    //   &__single-value{
    //     font-size: 14px;
    //   }
    //   &__indicator-separator{
    //     display: none;
    //   }
    //   &__indicator{
    //     align-items: center;
    //   }
    //   &__control{
    //     width: 100px;
    //     min-height: 32px;
    //     padding: 0;
    //     border-radius: 0;
    //     outline: none;
    //     border-color: rgb(142,148,170);
    //     -webkit-box-shadow: none;
    //     -moz-box-shadow: none;
    //     box-shadow: none;
    //     & input{
    //       border: none;
    //     }
    //   }
    // }
  }
  &__ellipsis {
    align-self: center;
    margin: 0 5px;
  }
}
#editor-content .altrp-pagination__select-size,
#editor-content .altrp-table-th .altrp-label_select,
#editor-content .altrp-table__filter-select{
  pointer-events: none;
}