.altrp-animation-img-zoom-out {
    transform: scale(1.1);
}

.altrp-animation-img-move-left,
.altrp-animation-img-move-right,
.altrp-animation-img-move-up,
.altrp-animation-img-move-down {
    transform: scale(1.2);
}

.altrp-hover-parent-image:hover .altrp-animation-img-zoom-in {
    transform: scale(1.1);
}

.altrp-hover-parent-image:hover .altrp-animation-img-zoom-out {
    transform: scale(1);
}

.altrp-hover-parent-image:hover .altrp-animation-img-move-left {
    transform: translate(-8%, 0) scale(1.2);
}

.altrp-hover-parent-image:hover .altrp-animation-img-move-right {
    transform: translate(8%, 0) scale(1.2);
}

.altrp-hover-parent-image:hover .altrp-animation-img-move-up {
    transform: translate(0, -8%) scale(1.2);
}

.altrp-hover-parent-image:hover .altrp-animation-img-move-down {
    transform: translate(0, 8%) scale(1.2);
}
