@import "../../../../sass/vars";
@import "../../../../sass/common";

.assets-browser{
  display: none;
  &_active{
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $purple-transparent;
    z-index: 50;
  }
  &-content{
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    padding-bottom: 60px;
    z-index: 100;
    border: 1px solid $border-gray;
    border-radius: 3px;
    background-color: #fff;
  }
  &__close{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    background-color: transparent;
    & .icon{
      margin: 0;
      width: auto;
      height: auto;
    }
  }
  &-top{
    padding: 20px 20px 0;
    background-color: $light-light-gray;
    & .caption{
      font-size: 22px;
    }
  }
  &-nav{
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid $border-gray;
  }
  &__tab{
    margin-bottom: -1px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    &_active{
      border-top: 1px solid $border-gray;
      border-left: 1px solid $border-gray;
      border-right: 1px solid $border-gray;
      background-color: #fff;
    }
  }
  &-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding-right: 20px;
    border-top: 1px solid $border-gray;
  }
  &-choose-frame{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 20px 20px 10px;
    height: calc( 100% - 96.5px );
    overflow: auto;
  }
}
.asset-choose{
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid $border-gray;
  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &_selected{
    background: $turquoise;
  }
  &_icon{
    width: calc(5% - 10px);
    padding-top: calc(5% - 10px);
    background-color: rgba(0,0,0,0.08);
    .asset-choose_selected{
      background: $turquoise;
    }
  }
  &_media{
    width: calc(10% - 10px);
    padding-top: calc(10% - 10px);
    .asset-choose__content{
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      transform: none;
      object-fit: contain;
      object-position: center;
      background-color: $light-light-gray;
    }
  }
}
