@for $i from 1 through 20 {
  .altrp-section_columns-#{$i} .altrp-element_column{
    width: 100% / $i;
  }
}
@for $i from 1 through 100 {
    .column-width_#{$i} {
        width: 1% * $i;
    }
}

.altrp-control-structure-wrapper.active .altrp-control-left-block{
    background-color: #a4afb7 !important;
}
