//// grayscale ////
.grayscale img:hover {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

//// color ////
.color img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.color img:hover {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

//// dive ////
.dive img:hover {
  -webkit-transform: scale(3);
  transform: scale(3);
}

//// zoom-in, zoom-out ////
.zoom-in,
.zoom-out {
  overflow: hidden;
}
.zoom-in img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.zoom-in:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.zoom-out img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.zoom-out:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

//// zoom in out, zoom out in ////
.zoom-out-in,
.zoom-in-out {
  overflow: hidden;
}
.zoom-in-out img:hover {
  animation: zoom-in-out 0.6s ease;
  -webkit-animation: zoom-in-out 0.6s ease;
}
@-webkit-keyframes zoom-in-out {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
@keyframes zoom-in-out {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}
.zoom-out-in img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.zoom-out-in img:hover {
  animation: zoom-out-in 0.6s ease;
  -webkit-animation: zoom-out-in 0.6s ease;
}
@-webkit-keyframes zoom-out-in {
  0% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  50% { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}
@keyframes zoom-out-in {
  0% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  50% { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}

//// blur ////
.blur:hover img {
  -webkit-filter: blur(2px);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /></filter></svg>#filter');
  filter: blur(2px);
}

//// rotate, scale rotate left, scale rotate right ////
.rotate,
.scale-rotate-right,
.scale-rotate-left{
  overflow: hidden;
}
.rotate img{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.rotate:hover img,
.scale-rotate-right:hover img {
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);
}
.scale-rotate-left:hover img {
  -webkit-transform: scale(1.3) rotate(-5deg);
  transform: scale(1.3) rotate(-5deg);
}

//// move up, move down, move left, move right ////
.move-up img,
.move-down img,
.move-right img,
.move-left img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.move-up,
.move-down,
.move-right,
.move-left{
  overflow: hidden;
}
.move-down:hover img {
  -webkit-transform-origin: top;
  transform-origin: top;
}
.move-up:hover img {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.move-right:hover img {
  -webkit-transform-origin: left;
  transform-origin: left;
}
.move-left:hover img {
  -webkit-transform-origin: right;
  transform-origin: right;
}

//// slide up, slide-down, slide-left, slide-right, slide-top-left, slide-top-right, slide-bottom-left, slide-bottom-right  ////
.slide-up,
.slide-down,
.slide-left,
.slide-right,
.slide-top-left,
.slide-top-right,
.slide-bottom-left,
.slide-bottom-right {
  overflow: hidden;
}
.slide-up:hover img {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.slide-down:hover img {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.slide-left:hover img {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-right:hover img {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.slide-top-left:hover img {
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
}
.slide-top-right:hover img {
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
}
.slide-bottom-left:hover img {
  -webkit-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
}
.slide-bottom-right:hover img {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}

//// hinge up, hinge down, hinge left, hinge right ////
.hinge-up,
.hinge-down,
.hinge-left,
.hinge-right {
  -webkit-perspective: 50em;
  perspective: 50em;
  overflow: hidden;
}
.hinge-up img {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.hinge-up:hover img {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.hinge-down img {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.hinge-down:hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.hinge-left img {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.hinge-left:hover img {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.hinge-right img {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.hinge-right:hover img {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

//// flip horizontal, flip-vertical, flip-diag-left, flip-diag-right ////
.flip-hor,
.flip-vert,
.flip-diag-left,
.flip-diag-right {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 50em;
  perspective: 50em;
  overflow: hidden;
}
.flip-vert:hover img {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.flip-hor:hover img {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flip-diag-left:hover img {
  -webkit-transform: rotate3d(-1, 1, 0, 180deg);
  transform: rotate3d(-1, 1, 0, 180deg);
}
.flip-diag-right:hover img {
  -webkit-transform: rotate3d(-1, -1, 0, 180deg);
  transform: rotate3d(-1, -1, 0, 180deg);
}

//// fold up, fold down, fold left, fold right ////
.fold-up,
.fold-down,
.fold-left,
.fold-right {
  overflow: hidden;
}
.fold-up img {
  -webkit-transform-origin: 49% 0%;
  transform-origin: 49% 0%;
}
.fold-up:hover img {
  -webkit-transform: rotateX(90deg) scale(0.6) translateY(50%);
  transform: rotateX(90deg) scale(0.6) translateY(50%);
}
.fold-down img {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.fold-down:hover img {
  -webkit-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
  transform: rotateX(-90deg) scale(0.6) translateY(-50%);
}
.fold-left img {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.fold-left:hover img {
  -webkit-transform: rotateY(-90deg) scale(0.6) translateX(50%);
  transform: rotateY(-90deg) scale(0.6) translateX(50%);
}
.fold-right img {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.fold-right:hover img {
  -webkit-transform: rotateY(90deg) scale(0.6) translateX(-50%);
  transform: rotateY(90deg) scale(0.6) translateX(-50%);
}

//// zoom out up, zoom out down, zoom out left, zoom out right ////
.zoom-out-slide-up,
.zoom-out-slide-down,
.zoom-out-slide-left,
.zoom-out-slide-right {
  overflow: hidden;
}
.zoom-out-slide-up img,
.zoom-out-slide-down img,
.zoom-out-slide-left img,
.zoom-out-slide-right img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.zoom-out-slide-up:hover img {
  -webkit-animation: zoom-out-slide-up 0.6s;
  animation: zoom-out-slide-up 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoom-out-slide-up {
  50% { -webkit-transform: scale(1) translateY(0%); transform: scale(1) translateY(0%); }
  100% { -webkit-transform: scale(1) translateY(-100%); transform: scale(1) translateY(-100%); }
}
@keyframes zoom-out-slide-up {
  50% { -webkit-transform: scale(1) translateY(0%); transform: scale(1) translateY(0%); }
  100% { -webkit-transform: scale(1) translateY(-100%); transform: scale(1) translateY(-100%); }
}
.zoom-out-slide-down:hover img {
  -webkit-animation: zoom-out-slide-down 0.6s;
  animation: zoom-out-slide-down 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoom-out-slide-down {
  50% { -webkit-transform: scale(1) translateY(0%); transform: scale(1) translateY(0%); }
  100% { -webkit-transform: scale(1) translateY(100%); transform: scale(1) translateY(100%); }
}
@keyframes zoom-out-slide-down {
  50% { -webkit-transform: scale(1) translateY(0%); transform: scale(1) translateY(0%); }
  100% { -webkit-transform: scale(1) translateY(100%); transform: scale(1) translateY(100%); }
}
.zoom-out-slide-left:hover img {
  -webkit-animation: zoom-out-slide-left 0.6s;
  animation: zoom-out-slide-left 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoom-out-slide-left {
  50% { -webkit-transform: scale(1) translateX(0%); transform: scale(1) translateX(0%); }
  100% { -webkit-transform: scale(1) translateX(-100%); transform: scale(1) translateX(-100%); }
}
@keyframes zoom-out-slide-left {
  50% { -webkit-transform: scale(1) translateX(0%); transform: scale(1) translateX(0%); }
  100% { -webkit-transform: scale(1) translateX(-100%); transform: scale(1) translateX(-100%); }
}
.zoom-out-slide-right:hover img {
  -webkit-animation: zoom-out-slide-right 0.6s;
  animation: zoom-out-slide-right 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoom-out-slide-right {
  50% { -webkit-transform: scale(1) translateX(0%); transform: scale(1) translateX(0%); }
  100% { -webkit-transform: scale(1) translateX(100%); transform: scale(1) translateX(100%); }
}
@keyframes zoom-out-slide-right {
  50% { -webkit-transform: scale(1) translateX(0%); transform: scale(1) translateX(0%); }
  100% { -webkit-transform: scale(1) translateX(100%); transform: scale(1) translateX(100%); }
}

//// zoom out flip horizontal, zoom out flip vertical ////
.zoom-out-flip-hor:hover img {
  -webkit-transform: rotateX(-100deg) translateY(50%) scale(0);
  transform: rotateX(-100deg) translateY(50%) scale(0);
}
.zoom-out-flip-vert:hover img {
  -webkit-transform: rotateY(-100deg) translateX(50%) scale(0);
  transform: rotateY(-100deg) translateX(50%) scale(0);
}
.zoom-in-flip-hor:hover img {
  -webkit-transform: rotateX(90deg) translateY(-100%) scale(0);
  transform: rotateX(90deg) translateY(-100%) scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.zoom-in-flip-vert:hover img {
  -webkit-transform: rotateY(90deg) translate(50%, 0) scale(0);
  transform: rotateY(90deg) translate(50%, 0) scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

//// pivot top left, pivot top right, pivot bottom left, pivot bottom right ////
.pivot-in-top-left,
.pivot-in-top-right,
.pivot-in-bottom-left,
.pivot-in-bottom-right,
.pivot-out-top-left,
.pivot-out-top-right,
.pivot-out-bottom-left,
.pivot-out-bottom-right {
  overflow: hidden;
}
.pivot-in-top-left img {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.pivot-in-top-left:hover img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pivot-in-top-right img {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.pivot-in-top-right:hover img {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pivot-in-bottom-left img {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.pivot-in-bottom-left:hover img {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pivot-in-bottom-right img {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.pivot-in-bottom-right:hover img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pivot-out-top-left img {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.pivot-out-top-left img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pivot-out-top-left:hover img {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.pivot-out-top-right img {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.pivot-out-top-right img{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pivot-out-top-right:hover img{
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.pivot-out-bottom-left img {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.pivot-out-bottom-left img {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pivot-out-bottom-left:hover img {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.pivot-out-bottom-right img {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.pivot-out-bottom-right img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pivot-out-bottom-right:hover img {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}