.altrp-heading {
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-position: top left;
  background-attachment: scroll;
  background-repeat: repeat;
}

.altrp-btn {
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1;
  letter-spacing: 0;
  font-weight: normal;
  color: rgb(255,255,255);
  border-color: rgb(50,168,82);
  border-radius: 6px;
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  background-color: rgb(52,59,76);
  background-position: top left;
  background-attachment: scroll;
  background-repeat: repeat;
}

.altrp-list-ul-inline, .altrp-list-ul-default .altrp-list-li {
  justify-content: left;
}

.altrp-list-label {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1;
  letter-spacing: 0;
}

.altrp-list-li-link {
  text-decoration: none;
}

.altrp-text {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  opacity: 1;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0;
  color: rgb(0, 0, 1);
  border-color: rgb(50,168,82);
  border-radius: 0;
}

.altrp-image {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  opacity: 1;
  object-fit: cover;
  border-color: rgb(50,168,82);
  border-radius: 0;
}

.altrp-field-label {
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0;
}

.altrp-field-select2__single-value, .altrp-field {
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0;
}

.altrp-field-select2__control, .altrp-field {
  text-align: left;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-width: 2px 2px 2px 2px;
  border-color: rgb(142,148,170);
  border-radius: 0 0 0 0;
}

.altrp-field-container {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.altrp-field::placeholder, .altrp-field-select2__placeholder {
  font-size: 13px;
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0;
}

.altrp-table-th {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0;
  padding: 0 0 0 0;
}

.altrp-table-td {
  text-align: left;
  padding: 0 0 0 0;
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0;
}

.altrp-table-tbody--striped tr:nth-child(2n) {
  background-color: rgba(0, 0, 50, .05);
}

.altrp-table {
  border-width: 1px 1px 1px 1px;
  border-color: rgb(186,186,186);
}

.altrp-table-global-filter {
  font-weight: 400;
  label {
    display: inline-block;
  }
}