// MODAL WINDOW STYLES

.modal {
  &-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  &-window {
    position: absolute;
    top: 8px;
    left: 232px;
    margin: auto;
    width: 70vw;
    height: 80vh;
    border-radius: 5px;
    background-color: #4c565c;
    color: #fff;
  }
  &-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #343b4c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.28);
    &__logo {
      margin-left: 10px;
    }
    & > button {
      background-color: #343b4c;
    }
  }
  &-body {
    height: 100%;
    display: flex;
    background-color: #4c565c;
    &__tabs {
      width: 30%;
      padding-top: 50px;
      box-shadow: 4px 0px 3px 0px rgba(0, 0, 0, 0.1);
      &-active {
        background: red;
      }
    }
    &__content {
      padding: 50px;
      overflow: auto;
      width: 100%;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4c565c;
    // box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.1);
    &__button {
      width: 110px;
      height: 40px;
      margin: 0 5px;
      padding: 0;
      text-transform: uppercase;
      background-color: inherit;
      color: #fff;
    }
  }
  &-save {
    text-decoration: underline;
  }
  &-next {
    background-color: #39b54a;
    border-radius: 10px;
    font-weight: 700;
  }
}
// /MODAL WINDOW STYLES
// MODAL TAB STYLES
.modal-tab {
  &-wrapper {
    position: relative;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    cursor: pointer;
    &-active {
      background-color: #404349;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: #71d7f7;
      }
    }
  }
  &__image {
    width: 50px;
    height: 50px;
  }
  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
  }
  &__title {
    font-weight: 800;
  }
  &__description {
    font-size: 12px;
    line-height: 1.5;
    word-wrap: break-word;
  }
}
// MODAL TAB STYLES
// DIALOG CONDITION TAB
.modal-condition {
  &-tab {
    text-align: center;
    color: #fff;
  }
  &-image {
    margin-top: 45px;
  }
  &-title {
    margin-top: 40px;
    font-size: 30px;
  }
  &-text {
    margin-top: 15px;
    font-size: 18px;
  }
  &-button-wrapper {
    margin-top: 50px;
  }
  &-button {
    padding: 12px 26px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.modal-repeater {
  &-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
    &-wrapper {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    color: #000;
  }
  &-field {
    width: 100%;
    &-c1 {
      min-width: 120px;
    }
    &-c2 {
      width: 100%;
    }
    &-c3 {
      flex-basis: 100%;
    }
  }
  &-tool-remove {
    margin-left: 5px;
    background: #4c565c;
    font-weight: bold;
  }
}

// DIALOG TRIGGERS TAB

.triggers {
  &-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    height: 65px;
    background: #fff;
    color: #000;
    border-radius: 3px;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.3);
  }
  &-icon {
  }
  &-icon-wrapper {
    display: flex;
    align-items: center;
    width: 50px;
    height: 100%;
    margin: 0 10px;
    border-right: solid 1px;
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
  }
  &-control {
    &-field {
      display: flex;
      align-items: center;
    }
    &-field {
      & > label {
        margin-right: 10px;
        width: 60px;
        font-size: 12px;
      }
    }
    &-input-wrapper {
      & > input[type="number"] {
        width: 54px;
      }
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;
      margin-right: 15px;
      &-switch {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
      }
    }
  }
}

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  margin-right: 15px;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #ccc;
    border-radius: 20px;
    margin: 0;
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 25px;
      padding: 0;
      line-height: 25px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: "Yes";
      text-transform: uppercase;
      padding-left: 10px;
      background-color: #70d6f5;
      color: #fff;
    }
  }
  &-disabled {
    background-color: #ccc;
    cursor: not-allowed;
    &:before {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  &-inner:after {
    content: "No";
    text-transform: uppercase;
    padding-right: 10px;
    background-color: #ccc;
    color: #fff;
    text-align: right;
  }
  &-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #ccc;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    .toggle-switch-inner {
      margin-left: 0;
    }
    .toggle-switch-switch {
      right: 0px;
    }
  }
  &.small-switch {
    width: 40px;
    .toggle-switch-inner {
      &:after,
      &:before {
        content: "";
        height: 20px;
        line-height: 20px;
      }
    }
    .toggle-switch-switch {
      width: 16px;
      right: 20px;
      margin: 2px;
    }
  }
}
// INPUTS IN TRIGGER

.triggers-control {
  &-inputText {
    width: 50%;
    height: 30px;
  }
  &-input-wrapper {
    & > input {
      height: 25px;
      padding: 5px;
      border: 1px solid;
      border-radius: 3px;
    }
    & > select {
      width: 80px;
      height: 25px;
    }
  }
}
