@import "../../../../sass/common";
@import "./elements-style";

.editor {
  display: flex;
  min-height: 100vh;
  &_saving{
    pointer-events: none;
  }
}
.editor-content-body{

}
.left-panel {
  width: 270px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-color: $light-gray;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
}

.editor-top-panel{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $purple;
  & .btn{
    height: 40px;
    width: 40px;
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  width: 63px;
  height: 20px;
  & svg{
    width: 63px;
    height: 20px;
  }
}

.btn,
button{
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn{
  &_grey{
    background-color: $button-grey;
  }
  &_disabled{
    background-color: $button-grey;
    cursor: default;
    pointer-events: none;
  }
}
.left-panel-main{
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  max-height: calc( 100% - 50px - 40px);
}

.d-flex{
  display: flex;
}

.align-content-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
.editor-bottom-panel{
  height: 50px;
  background-color: $purple;
  & .btn:not(.btn_grey){
    padding: 9px;
    background-color: transparent;
    text-align: center;
    height: 33px;
    line-height: 15px;
    .icon path{
      fill: $button-grey;
    }
    &.active,
    &:hover{
      .icon path{
        fill: #fff;
      }
    }
  }
  .btn_grey{
    height: 20px;
    padding: 0 5px;
    font-size: 10px;
    &.btn_active{
      background-color: $green;
    }
  }
  .control-group{
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
    & > .btn{
      &:first-child{
        margin-right: 2px;
      }
    }
  }
}

.font{
  &_500{
    font-weight: 500;
  }
  &_montserrat{
    font-family: Montserrat, sans-serif;
  }
}

.control-group{
  & > .btn{
    border-radius: 0;
    &:first-child{
      border-radius: 2px 0 0 2px;
    }
    &:last-child{
      border-radius: 0 2px  2px 0;
    }
  }
}

.icon{
  display: inline-block;
}

.widget-panel{
  background-color: $light-gray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5px;
}
.widget-icon{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 12px;
  background-color: #fff;
  cursor: move;
}

.right-panel{
  flex-grow: 1;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editor-window {
  flex-grow: 1;
  & iframe{
    width: 100%;
    height: 100%;
  }
}
.editor-content{
  height: 100%;
  overflow-x: hidden;
}
.new-section{
  width: 822px;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 44px;
  padding-bottom: 44px;
  border: 2px dashed rgba(144, 153, 182, 0.5);
  &-buttons{
    margin-bottom: 18px;
  }
  &__button{
    height: 52px;
    width: 52px;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 50%;
    padding: 0;
    align-items: center;
    justify-content: center;
    &_add{
      background-color: #FF4E6E;
      & svg{
        position: relative;
        left: 1px;
        top: 1px;
      }
    }
    &_library{
      background-color: $blue;
      & svg{
        position: relative;
        left: 2px;
      }
    }
  }
}
.panel{
  width: 100%;
  flex-direction: column;
  &-tabs{
    margin-bottom: 11px;
  }
  &-tab{
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    padding: 8px 0 6px;
    background-color: #fff;
    border-bottom: 3px solid #fff;
    font-size: 10px;
    &.active{
      background-color: #F7F8F9;
      border-bottom-color: $purple;
    }
    & svg{
      width: 20px;
      height: 20px;
    }
    &__icon{
      margin-bottom: 4px;
    }
  }
}
.settings-section{
  background-color: #fff;
  &__title{
    align-items: center;
    padding: 13px;
    cursor: pointer;
    font-size: 12px;
    color: $purple;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid $light-gray;
  }
  &__label{
    margin-left: 8px;
  }
  &.open{
    .controllers-wrapper{
      display: flex;
    }
    & .settings-section__icon{
      transform: scale(1, -1);
    }
  }
}
.settings-controllers{
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.controller-container{
  flex-wrap: wrap;
  display: flex;
  &__textarea{
    //resize: none;
    width: 100%!important;
    height: 150px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $border-gray;
  }
  &__dynamic{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    color: $button-grey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & svg{
      margin-left: 5px;
    }
  }
  &__label{
    flex-grow: 1;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  &_text{
    justify-content: space-between;
  }
  & .control-group{
    width: 65%;
    min-width: 145px;
  }
  &:not(:last-child){
    margin-bottom: 13px;
  }
  &_number{
    justify-content: space-between;
    & .control-group{
      width: 54px;
      min-width: 54px;
    }
  }
}
.control-group{
  display: flex;
}
.control-field{
  width: 100%;
  height: 26px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 12px;
  color: $black;
  line-height: 24px;
  border-radius: 0;
  border: 1px solid $light-gray;
}
.control-group {
  .control-field{
    &:last-child{
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
    }
    &:first-child{
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
    }
  }
  &__append{
    width: 27px;
    height: 26px;
    border-right: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    border-radius: 0 3px 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
  }
}
.controllers-wrapper{
  display: none;
  padding: 13px;
  flex-direction: column;
}
.control-switcher{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 8px;
  line-height: 9px;
  width: 49px;
  height: 22px;
  border-radius: 11px;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  &_off{
    background: $light-gray;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.3);
    & .control-switcher__on-text{
      opacity: 0;
    }
  }
  &_on{
    background: $green;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    & .control-switcher__off-text{
      opacity: 0;
    }
    & .control-switcher__caret{
      left: 30px;
    }
  }
  &__caret{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
}

.control-select{
  border-radius: 3px;
  color: #6d7882;
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
.control-slider-label-select{
  display: flex;
  flex-direction: row;
}
.conntroller-container__label-svg{
  margin-left: 8px;
}
.control-container_select-wrapper{
  margin-left: auto;
}
.control-slider-label{
  font-size: 12px;
  line-height: 1;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.control-slider-input-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.control-slider-input-box{
  margin-left: 10px;
  width: 54px;
  height: 100%;
}
.control-slider-input{
  border: 1px solid;
  border-color: #d5dadf;
  min-width: 0;
  padding: 5px;
  font-size: 12px;
  width: 54px;
  margin-left: auto;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-radius: 3px;
  color: #8e94aa;
}
.control-slider{
  background-color: #d5dadf;
  line-height: 1;
  width: 100%;
  height: 4px;
  margin-right: -5px;
  -webkit-appearance: none;
  appearance: none;
}
.control-slider::-webkit-slider-thumb{
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}
.slider::-moz-range-thumb{
  width: 16px;
  height: 16px;
  appearance: none;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}
.control-slider-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}
.control-slider-type{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: #8E94AA;
}
.control-slider-type-label{
  cursor: pointer;
}
// active px % vw or em
.control-slider-type-label:active{
  text-decoration: underline;
}
.control-slider-type-box{
  margin-right: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-container-choose-block{
  width: 27px;
  height: 27px;
  border: 1px solid #E5E6EA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-container-choose-block svg{
  transition: 0s;
}
.control-container-choose-block-active{
  background-color: #8E94AA;
  border-color: #8E94AA;
}
.control-container-choose {
  display: flex;
  flex-direction: row;
}
.control-container-choose-border-left{
  border-width: 1px 0px 1px 1px;
  border-radius: 3px 0px 0px 3px;
}
.control-container-choose-border-right{
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 3px 3px 0px;
}
.control-container-choose-border-center-left{
  border-width: 1px 0px 1px 1px;
}
.control-slider__label-select2{
  font-size: 12px;
  line-height: 1;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.control-select2-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.control-container_select2-wrapper{
  width: 100%;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  outline: 2px solid transparent;
  display: none;
  pointer-events: none;
}
.altrp-element.altrp-element_current,
.altrp-element:hover{
  & .overlay{
    display: block;
  }
}
.altrp-element{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.altrp-element_section.altrp-element_current,
.altrp-element_section:hover{
  & > .overlay{
    outline: 2px solid $turquoise;
    & .overlay-settings{
      transform: translate(-50% , 0);
      display: flex;
      &__button{
        background-color: $turquoise;
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
        &:hover{
          background-color: $blue;
        }
      }
    }
  }
}
.overlay-settings{
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50% , 0);
  display: none;
  //display: flex;
  pointer-events: all;
  &__button{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
  }
}

.altrp-element_section{
  & > .overlay {
    & .overlay-settings__button {
      &:first-child {
        border-radius: 5px 0 0 0;
        &::before {
          content: '';
          position: absolute;
          border: solid transparent;
          top: 2px;
          border-right-color: $turquoise;
          border-width: 23px 12px 0 0;
          right: -webkit-calc(100% - 1px);
          right: calc(100% - 1px);
        }
        &:hover::before {
          border-right-color: $blue;
        }
      }
      &:last-child {
        border-radius: 0 5px 0 0;
        &::after {
          content: '';
          position: absolute;
          border: solid transparent;
          top: 2px;
          border-left-color: $turquoise;
          border-width: 23px 0 0 12px;
          left: -webkit-calc(100% - 1px);
          left: calc(100% - 1px);
        }
        &:hover::after {
          border-left-color: $blue;
        }
      }
    }
  }
}

.altrp-element_section:first-of-type{
  & > .overlay{
    z-index: 100;
    & .overlay-settings{
      bottom: auto;
      top: 0;
    }
    & .overlay-settings__button{
      &:first-child{
        border-radius: 0 0 0 5px;
        &::before {
          top: 0;
          border-width: 0 12px 23px 0 ;
        }
      }
      &:last-child{
        border-radius: 0 0  5px 0;
        &::after {
          top: 0;
          border-width: 0  0 23px 12px;
        }
      }
    }
  }
}
.altrp-element_column.altrp-element_current,
.altrp-element_column:hover{
  & > .overlay {
    outline: 1px dashed #6d7882;
    .overlay-settings{
      top: 0;
      left: 0;
      bottom: auto;
      display: block;
      transform: none;
      z-index: 100;
      &__button{
        background-color: $grey;
        &_add{
          display: none;
        }
        &_delete{
          display: none;
        }
        &_duplicate{
          display: none;
        }
      }
    }
  }
}
.column-empty-plus{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px dashed $grey;
  width: calc(100% - 20px);
  cursor: pointer;
  & svg{
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    & path{
      fill: $grey;
    }
  }
}
.altrp-element_widget.altrp-element_current,
.altrp-element_widget:hover{
  & > .overlay {
    outline: 1px solid $turquoise;
    z-index: 999;
    .overlay-settings {
      top: 0;
      left: auto;
      right: 0;
      bottom: auto;
      display: flex;
      transform: none;
      z-index: 100;
      &__button {
        background-color: $turquoise;
        &:hover{
          background-color: $blue;
        }
        &_add {
          display: none;
        }
      }
    }
  }
}

.overlay-settings__button{
  & svg{
    transform: scale(.6,.6);
    & path{
      fill: #fff;
    }
  }
}
