@import "../../../../sass/common";

.editor {
  display: flex;
  min-height: 100vh;
}

.left-panel {
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
}

.editor-top-panel{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $purple;
  & .btn{
    height: 40px;
    width: 40px;
    background: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.logo {
  width: 63px;
  height: 20px;
  & svg{
    width: 63px;
    height: 20px;
  }
}

.btn,
button{
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.btn{
  &_grey{
    background-color: $button-grey;
  }
  &_disabled{
    background-color: $button-grey;
    cursor: default;
  }
}
.left-panel-main{
  flex-grow: 1;
  display: flex;
}

.d-flex{
  display: flex;
}

.align-items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.editor-bottom-panel{
  height: 50px;
  background-color: $purple;
  & .btn:not(.btn_grey){
    margin: 9px;
    padding: 0;
    background-color: transparent;
    text-align: center;
    height: 15px;
    line-height: 15px;
    .icon path{
      fill: $button-grey;
    }
    &:hover{
      .icon path{
        fill: #fff;
      }
    }
  }
  .btn_grey{
    height: 20px;
    padding: 0 5px;
    font-size: 10px;
  }
  .control-group{
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
    & > .btn{
      &:first-child{
        margin-right: 2px;
      }
    }
  }
}

.font{
  &_500{
    font-weight: 500;
  }
  &_montserrat{
    font-family: Montserrat, sans-serif;
  }
}

.control-group{
  & > .btn{
    border-radius: 0;
    &:first-child{
      border-radius: 2px 0 0 2px;
    }
    &:last-child{
      border-radius: 0 2px  2px 0;
    }
  }
}

.icon{
  display: inline-block;
}

.widget-panel{
  background-color: $light-gray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5px;
}
.widget-icon{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 10px);
  margin: 5px;
  padding: 12px;
  background-color: #fff;
  cursor: pointer;
}

.right-panel{
  flex-grow: 1;
  display: flex;
}
.editor-window {
  flex-grow: 1;
  & iframe{
    width: 100%;
    height: 100%;
  }
}
.editor-content{
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.new-section{
  width: 822px;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-top: 44px;
  padding-bottom: 44px;
  border: 2px dashed rgba(144, 153, 182, 0.5);
  &-buttons{
    margin-bottom: 18px;
  }
  &__button{
    height: 52px;
    width: 52px;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 50%;
    padding: 0;
    align-items: center;
    justify-content: center;
    &_add{
      background-color: #FF4E6E;
      & svg{
        position: relative;
        left: 1px;
        top: 1px;
      }
    }
    &_library{
      background-color: $blue;
      & svg{
        position: relative;
        left: 2px;
      }
    }
  }
}
.panel{
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  &-tabs{
    margin-bottom: 11px;
  }
  &-tab{
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    padding: 8px 0 6px;
    background-color: #fff;
    border-bottom: 3px solid #fff;
    font-size: 10px;
    &.active{
      background-color: #F7F8F9;
      border-bottom-color: $purple;
    }
    & svg{
      width: 20px;
      height: 20px;
    }
    &__icon{
      margin-bottom: 4px;
    }
  }
}
.settings-section{
  background-color: #fff;
  padding-bottom: 14px;
  &__title{
    align-items: center;
    padding: 13px;
    cursor: pointer;
    font-size: 12px;
    color: $purple;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid $light-gray;
  }
  &__label{
    margin-left: 8px;
  }
  &.open{
    .controller-container{
      display: flex;
    }
    & .settings-section__icon{
      transform: scale(1, -1);
    }
  }
}
.settings-controllers{
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.controller-container{
  flex-wrap: wrap;
  display: none;
  &__textarea{
    //resize: none;
    width: 100%!important;
    height: 150px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $border-gray;
  }
  &__dynamic{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    color: $button-grey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & svg{
      margin-left: 5px;
    }
  }
  &__label{
    flex-grow: 1;
    font-size: 14px;
  }
}
.controllers-wrapper{
  padding-left: 13px;
  padding-right: 13px;
}