@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
.sections-wrapper {
  display: flex;
  width: 1440px;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.altrp-element {
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.altrp-element > * {
  flex-grow: 1;
  width: 100%;
}

.altrp-image {
  max-width: 100%;
}
//
//.altrp-text {
//
//}

.heading {
  text-align: center;
  margin: 0;
}

.text {
  font-size: 18px;
  text-align: inherit;
}

.altrp-btn {
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &_gray {
    background-color: $grey;
    color: #fff;
  }
  &__icon {
    transform: scale(0.6);
  }
  &-icon {
    display: flex;
    justify-content: center;
  }
}

.altrp-section {
  //position: relative;
  //z-index: 50;
  &.altrp-section--boxed > .altrp-element {
    // width: 1440px;
    margin: 0 auto;
  }
  &.altrp-section--full-width, &.altrp-section--boxed {
    width: 100vw;
  }
}



.altrp-column {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: flex-start;
}

.altrp-tooltip {
  background-color: rgb(104, 102, 222);
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  box-shadow: rgba(119, 119, 147, 0.2) 0px 20px 100px 0px;
  text-align: center;
  display: block;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  font-size: 0.83rem;
  line-height: 1.3;
  box-sizing: border-box;
  line-height: 1;
  margin-top: -20px;
  text-transform: none;
  transition: 0.5s;
  animation: altrpTooltipAnimation 0.2s forwards;
}

@keyframes altrpTooltipAnimation {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.altrp-tooltip-none {
  display: none;
  opacity: 0;
}

.altrp-tooltip::after {
  border-width: 10px;
  left: calc(50% - 10px);

  margin-top: 0;
  top: 100%;
  transform: rotate(180deg);
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  border-color: transparent transparent rgb(104, 102, 222);

  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;

  box-sizing: border-box;
}

.altrp-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.altrp-image-container img{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.altrp-image-container a {
  width: 100%;
}

.altrp-field {
  width: 100%;
}

.altrp-table-tbody,
.altrp-table-th {
  border-collapse: separate;
}
.altrp-table-td__grouping{
  font-size: 18px;
  font-weight: bold;
}
.altrp-table-th_sort {
  padding: 0;
  margin-left: 10px;
}

.altrp-table-th .sort-icon {
  margin-left: 10px;
}

.altrp-field-required {
  color: red;
  font-size: 18px;
  padding-left: 10px;
}

.altrp-field-container-label {
  display: flex;
  flex-direction: row;
}

.altrp-field-label-container-left {
  display: flex;
  align-items: center;
}

.altrp-field-label-container {
  display: inline-flex;
  align-items: center;
}

.altrp-image-container {
  display: flex;
}
.app-area_footer {
  flex: 0 0 auto;
}

.app-area_content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.app-area_content > .sections-wrapper {
  flex: 1 0 auto;
  align-content: flex-start;
}
.app-area_header {
  flex: 0 0 auto;
}

#front-app,
.front-app-content {
  height: 100%;
}

.route-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.altrp-section-full-fill {
  display: flex;
  width: 100vh;
}

.altrp-section-full-fill .altrp-section {
  width: 1400px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}


.altrp-table {
  border-collapse: collapse;
  &-td {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &__double-click-content {
      display: none;
    }
    &_double-clicked {
      & .altrp-table-td__double-click-content {
        display: block;
        width: 100%;
        border-width: 2px;
      }
      & .altrp-table-td__default-content {
        display: none;
      }
    }
  }
}

.altrp-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 0;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.altrp-divider-separator {
  display: block;
  height: 1px;
  width: 100%;
}

.altrp-divider-label {
  line-height: normal;
  font-size: medium;
}

.altrp-tab {
  display: none;
}

.altrp-tab-show {
  display: block;
}

.altrp-tab-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.altrp-tab-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.altrp-tab-btn p {
  margin: 0;
  white-space: nowrap;
}

.altrp-tab-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.altrp-tabs-left {
  display: flex;
  flex-direction: row;
}

.altrp-tabs-left .altrp-tab-btn-container {
  display: flex;
  flex-direction: column;
}

.altrp-tabs-right {
  display: flex;
  flex-direction: row;
}

.altrp-tabs-right .altrp-tab-btn-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.altrp-tab-btn-column:last-child {
  margin-right: 0px !important;
}

.altrp-tab-btn-row:last-child {
  margin-bottom: 0px !important;
}

.altrp-tabs-switcher {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 35px;
  padding-left: 35px;
  width: 4.5em;
  height: 2.3em;
  border-radius: 100vh;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;

  &_off {
    background: #e6e9ec;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.3);
    & .altrp-tabs-switcher__caret {
      transform: translateX(-1.3em);
    }
  }

  &_on {
    background: #87ca00;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    & .altrp-tabs-switcher__caret {
      transform: translateX(1.2em);
    }
  }

  &__caret {
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    top: 0.25em;
    left: 1.4em;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
}

.altrp-tabs-switcher-container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.altrp-tabs-switcher {
  display: block;
}

.altrp-tabs-switcher-section-img {
  max-width: 100%;
}

.altrp-list-ul {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.altrp-list-li {
  list-style: none;
  display: flex;
  position: relative;
  justify-items: center;
}

.altrp-list-ul-inline {
  flex-direction: row;
  flex-wrap: wrap;
}

.altrp-list-ul-inline .altrp-list-label-content {
  margin-right: 10px;
}

.altrp-list-ul-inline .altrp-list-li:first-child .altrp-list-li-content {
  margin-left: 0 !important;
}

.altrp-list-ul-default .altrp-list-li:first-child .altrp-list-li-content {
  margin-top: 0 !important;
}

.altrp-list-ul-inline .altrp-list-li:last-child .altrp-list-li-content {
  margin-right: 0 !important;
}

.altrp-list-ul-default .altrp-list-li:last-child .altrp-list-li-content {
  margin-bottom: 0 !important;
}

.altrp-list-ul-default {
  flex-direction: column;
}

.altrp-list-icon svg {
  width: inherit;
  height: inherit;
}

.altrp-list-icon-relative {
  position: relative;
}

.altrp-list-li-divider-default {
  position: absolute;
  bottom: 0;
}

.altrp-list-li:last-child .altrp-list-li-divider-default {
  border-top: none;
}

.altrp-list-li:last-child .altrp-list-li-divider-inline {
  border-right: none;
}

.altrp-list-li-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.altrp-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.altrp-accordion-item-button {
  background-color: rgb(52, 59, 76);
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  padding: 15px 20px;
  z-index: 100;
}

.altrp-accordion-item-content {
  background-color: rgb(79, 90, 114);
  color: #ffffff;
  width: 100%;
  height: 100%;
  line-height: 0;
  padding-left: 20px !important;
  padding-right: 20px !important;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 250ms ease-in-out;
  z-index: 0;
  top: -1em;
  height: 0px;
}

.altrp-accordion-item-content-show {
  padding: 15px 20px;
  line-height: 1;
  top: 0;
  z-index: 0;
  height: auto;
}

.altrp-accordion-item-content * {
  margin: 0;
}

.altrp-accordion-item-label-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: auto;
}

.altrp-accordion-item:first-child {
  margin-top: 0px !important;
}

.altrp-accordion-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-popup {
  position: fixed;
   display: none;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 999999;
  .popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    padding: 5px;
    z-index: 10;
  }
}

.altrp-dropbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.altrp-dropbar-children-wrapper {
  display: flex;
  position: relative;
}

.altrp-btn-dropbar {
  width: 100%;
}

.altrp-dropbar-container {
  position: absolute;
  color: #666;
  background-color: #f1f3f5;
}

.altrp-dropbar-content {
  user-select: text;
}

.altrp-dropbar-container-hide {
    visibility: hidden;
}

.altrp-dropbar-variant-bottom-center .altrp-dropbar-children-wrapper {
  position: static;
  justify-content: center;
}

.altrp-dropbar-variant-top-center .altrp-dropbar-children-wrapper {
  position: static;
  justify-content: center;
}

.altrp-dropbar-variant-left-center .altrp-dropbar-children-wrapper {
  align-items: center;
}

.altrp-dropbar-variant-right-center .altrp-dropbar-children-wrapper {
  align-items: center;
}
.aspect-ratio-off_true .altrp-image{
  position: relative;
}
.aspect-ratio-off_false .altrp-image{
  position: absolute;
}

// background меню селекта
.css-tl8qiy-Menu, .css-l1wtd9-Menu {
  background-color: white;
}

// уменьшил минимальную высоту select2
.altrp-field-select2__indicator.altrp-field-select2__dropdown-indicator {
  padding: 0 8px;
  max-height: 14px;
  overflow: hidden;
}

.altrp-field-select2 {
  .altrp-field-select2__value-container {
    padding: 0px 8px;
  }

  .css-b8ldur-Input {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0 2px;
  }

  .altrp-field-select2__control {
    min-height: 14px;
  }
}
.state-disabled{
  pointer-events: none;
}

// background-image wrapper

.motion-effects-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.inner-template > .sections-wrapper{
  width: 100%;
}