@import url("/fonts/Roboto/stylesheet.css");
@import url("/fonts/OpenSans/stylesheet.css");
@import url("/fonts/PTSans/stylesheet.css");
@import url("/fonts/Montserrat/stylesheet.css");
.sections-wrapper {
  display: flex;
  width: 1440px;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.altrp-element {
  width: 100%;
  max-width: 100%;
  //min-height: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.altrp-element > * {
  flex-grow: 1;
  width: 100%;
}

.altrp-image {
  max-width: 100%;
}
//
//.altrp-text {
//
//}

.heading {
  text-align: center;
  margin: 0;
}

.text {
  font-size: 18px;
  text-align: inherit;
}

.altrp-btn {
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &_gray {
    background-color: $grey;
    color: #fff;
  }
  &__icon {
    transform: scale(0.6);
  }
  &-icon {
    display: flex;
    justify-content: center;
  }
}

.altrp-section {
  //position: relative;
  //z-index: 50;
  &.altrp-section--boxed > .altrp-element {
    // width: 1440px;
    margin: 0 auto;
  }
  &.altrp-section--full-width, &.altrp-section--boxed {
    width: 100vw;
  }
}



.altrp-column {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: flex-start;
}

.altrp-tooltip {
  background-color: rgb(104, 102, 222);
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  box-shadow: rgba(119, 119, 147, 0.2) 0px 20px 100px 0px;
  text-align: center;
  display: block;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  font-size: 0.83rem;
  line-height: 1.3;
  box-sizing: border-box;
  line-height: 1;
  margin-top: -20px;
  text-transform: none;
  transition: 0.5s;
  animation: altrpTooltipAnimation 0.2s forwards;
}

@keyframes altrpTooltipAnimation {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.altrp-tooltip-none {
  display: none;
  opacity: 0;
}

.altrp-tooltip::after {
  border-width: 10px;
  left: calc(50% - 10px);

  margin-top: 0;
  top: 100%;
  transform: rotate(180deg);
  left: -webkit-calc(50% - 5px);
  left: calc(50% - 5px);
  border-color: transparent transparent rgb(104, 102, 222);

  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;

  box-sizing: border-box;
}

.altrp-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.altrp-image-container img{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.altrp-image-container a {
  width: 100%;
}

.altrp-field {
  width: 100%;
  &-subgroup{
    display: flex;
    flex-wrap: wrap;
  }
  &-option{
    display: flex;
    padding: 10px;
    &__label{
      cursor: pointer;
    }
  }
}

.altrp-table-tbody,
.altrp-table-th {
  border-collapse: separate;
}
.altrp-table-td{
  overflow: hidden;
  &__grouping{
    font-size: 18px;
    font-weight: bold;
  }
}
.altrp-table-th_sort {
  padding: 0;
  margin-left: 10px;
}

.altrp-table-th .sort-icon {
  margin-left: 10px;
}
.altrp-table{
  overflow: hidden;
  display: table;
  &-head{
    display: table-header-group;
  }
  &-tbody{
    display: table-row-group;
  }
  &-foot{
    display: table-footer-group;
  }
  &-tr{
    display: table-row;
    &_loading{
      display: block;
    }
  }
  &-th{
    display: table-cell;
    &_global-filter{
      colspan: all;
      //display: block;
      //width: 100%;
    }
  }
  &-td{
    display: table-cell;
    & .altrp-inherit{
      border: none;
    }
    &_loading{
      display: block;
      width: 100%;
    }
  }
  &__resizer{
    display: inline-block;
    background: blue;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action:none;
    &_resizing {
      background: red;
    }
  }
  &__filter-select{
    width: 100%;
    & .altrp-field-select2{
      &__placeholder{
        white-space: nowrap;
      }
      &__single-value{
        font-size: 14px;
      }
      &__indicator-separator{
        display: none;
      }
      &__indicator{
        align-items: center;
      }
      &__control{
        width: 100%;
        min-height: 19px;
        padding: 0;
        border-radius: 0;
        outline: none;
        border-color: rgb(142,148,170);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        & input{
          border: none;
        }
      }
      &__value-container{
        padding-top: 0;
        padding-bottom: 0;
        line-height: 13px;
      }
    }
  }
  &-td {
    &__grouping {
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
    }
    &_alignment{
      &-center{
        .altrp-actions{
          justify-content: center;
        }
      }
      &-right{
        .altrp-actions{
          justify-content: flex-end;
        }
      }
    }
  }
  &__collapse-icon{
    display: inline-block;
    & svg{
      position: relative;
    }
  }
}
// .altrp-field-required {
//   color: red;
//   font-size: 18px;
//   padding-left: 10px;
// }

.altrp-field-container-label {
  display: flex;
  flex-direction: row;
}

.altrp-field-label-container-left {
  display: flex;
  align-items: center;
}

.altrp-field-label-container {
  display: inline-flex;
  align-items: center;
}

.altrp-image-container {
  display: flex;
}
.app-area{
  //overflow: hidden;
}
.app-area_footer {
  flex: 0 0 auto;
}

.app-area_content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.app-area_content > .sections-wrapper {
  flex: 1 0 auto;
  align-content: flex-start;
}
.app-area_header {
  flex: 0 0 auto;
}

#front-app,
.front-app-content {
  height: 100%;
}

.route-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.altrp-section-full-fill {
  display: flex;
  width: 100vh;
}

.altrp-section-full-fill .altrp-section {
  width: 1400px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}


.altrp-table {
  width: 100%;
  border-collapse: collapse;
  &-td {
    &__double-click-content {
      display: none;
    }
    &_double-clicked {
      & .altrp-table-td__double-click-content {
        display: block;
        width: 100%;
        border-width: 2px;
      }
      & .altrp-table-td__default-content {
        display: none;
      }
    }
  }
}

.altrp-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 0;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.altrp-divider-separator {
  display: block;
  height: 1px;
  width: 100%;
}

.altrp-divider-label {
  line-height: normal;
  font-size: medium;
}

.altrp-tab {
  display: none;
}

.altrp-tab-show {
  display: block;
}

.altrp-tab-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.altrp-tab-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.altrp-tab-btn p {
  margin: 0;
  white-space: nowrap;
}

.altrp-tab-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.altrp-tabs-left {
  display: flex;
  flex-direction: row;
}

.altrp-tabs-left .altrp-tab-btn-container {
  display: flex;
  flex-direction: column;
}

.altrp-tabs-right {
  display: flex;
  flex-direction: row;
}

.altrp-tabs-right .altrp-tab-btn-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.altrp-tab-btn-column:last-child {
  margin-right: 0px !important;
}

.altrp-tab-btn-row:last-child {
  margin-bottom: 0px !important;
}

.altrp-tabs-switcher {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 35px;
  padding-left: 35px;
  width: 4.5em;
  height: 2.3em;
  border-radius: 100vh;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;

  &_off {
    background: #e6e9ec;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.3);
    & .altrp-tabs-switcher__caret {
      transform: translateX(-1.3em);
    }
  }

  &_on {
    background: #87ca00;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15), inset -1px -1px 2px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    & .altrp-tabs-switcher__caret {
      transform: translateX(1.2em);
    }
  }

  &__caret {
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    top: 0.25em;
    left: 1.4em;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
}

.altrp-tabs-switcher-container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.altrp-tabs-switcher {
  display: block;
}

.altrp-tabs-switcher-section-img {
  max-width: 100%;
}

.altrp-list-ul {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.altrp-list-li {
  list-style: none;
  display: flex;
  position: relative;
  justify-items: center;
}

.altrp-list-ul-inline {
  flex-direction: row;
  flex-wrap: wrap;
}

.altrp-list-ul-inline .altrp-list-label-content {
  margin-right: 10px;
}

.altrp-list-ul-inline .altrp-list-li:first-child .altrp-list-li-content {
  margin-left: 0 !important;
}

.altrp-list-ul-default .altrp-list-li:first-child .altrp-list-li-content {
  margin-top: 0 !important;
}

.altrp-list-ul-inline .altrp-list-li:last-child .altrp-list-li-content {
  margin-right: 0 !important;
}

.altrp-list-ul-default .altrp-list-li:last-child .altrp-list-li-content {
  margin-bottom: 0 !important;
}

.altrp-list-ul-default {
  flex-direction: column;
}

.altrp-list-icon svg {
  width: inherit;
  height: inherit;
}

.altrp-list-icon-top {
    margin-bottom: auto;
}

.altrp-list-icon-center {
    margin-bottom: auto;
    margin-top: auto;
}

.altrp-list-icon-bottom {
    margin-top: auto;
}

.altrp-list-icon-relative {
  position: relative;
}

.altrp-list-li-divider-default {
  position: absolute;
  bottom: 0;
}

.altrp-list-li:last-child .altrp-list-li-divider-default {
  border-top: none;
}

.altrp-list-li:last-child .altrp-list-li-divider-inline {
  border-right: none;
}

.altrp-list-li-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.altrp-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.altrp-accordion-item-button {
  background-color: rgb(52, 59, 76);
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  padding: 15px 20px;
  z-index: 100;
}

.altrp-accordion-item-content {
  background-color: rgb(79, 90, 114);
  color: #ffffff;
  width: 100%;
  height: 100%;
  line-height: 0;
  padding-left: 20px !important;
  padding-right: 20px !important;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 250ms ease-in-out;
  z-index: 0;
  top: -1em;
  height: 0px;
}

.altrp-accordion-item-content-show {
  padding: 15px 20px;
  line-height: 1;
  top: 0;
  z-index: 0;
  height: auto;
}

.altrp-accordion-item-content * {
  margin: 0;
}

.altrp-accordion-item-label-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: auto;
}

.altrp-accordion-item:first-child {
  margin-top: 0px !important;
}

.altrp-accordion-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-popup {
  position: fixed;
  //display: none;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 999999;
  overflow: auto;
  .popup-close-button {
    position: absolute;
    top: 20%;
    right: 20%;
    padding: 0;
    background-color: transparent;
    z-index: 1000;
    color: white;
    font-size: 30px;
  }
  .popup-window {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
    min-height: 50vh;
    overflow: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}

.centred {
  text-align: center;
  text-align: -webkit-center;
}

.altrp-dropbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.altrp-dropbar-children-wrapper {
  display: flex;
  position: relative;
}

.altrp-btn-dropbar {
  width: 100%;
}

.altrp-dropbar-container {
  position: absolute;
  color: #666;
  background-color: #f1f3f5;
}

.altrp-dropbar-content {
  user-select: text;
}

.altrp-dropbar-container-hide {
    visibility: hidden;
}

.altrp-dropbar-variant-bottom-center .altrp-dropbar-children-wrapper {
  position: static;
  justify-content: center;
}

.altrp-dropbar-variant-top-center .altrp-dropbar-children-wrapper {
  position: static;
  justify-content: center;
}

.altrp-dropbar-variant-left-center .altrp-dropbar-children-wrapper {
  align-items: center;
}

.altrp-dropbar-variant-right-center .altrp-dropbar-children-wrapper {
  align-items: center;
}
.aspect-ratio-off_true .altrp-image{
  position: relative;
}
.aspect-ratio-off_false .altrp-image{
  position: absolute;
}

// background меню селекта
.css-tl8qiy-Menu, .css-l1wtd9-Menu {
  background-color: white;
}

// уменьшил минимальную высоту select2
.altrp-field-select2__indicator.altrp-field-select2__dropdown-indicator {
  padding: 0 8px;
  max-height: 14px;
  overflow: hidden;
}

.altrp-field-select2 {
  .altrp-field-select2__value-container {
    padding: 0px 8px;
  }

  .css-b8ldur-Input {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0 2px;
  }

  .altrp-field-select2__control {
    min-height: 14px;
  }
}
.state-disabled{
  pointer-events: none;
}
.altrp-pointer{
  cursor: pointer;
}

// background-image wrapper

.motion-effects-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.inner-template > .sections-wrapper{
  width: 100%;
}

.altrp-d-none{
  display: none!important;
}

/**
 * Перевернуть таблицу
 */
.altrp-transpose_true{
  overflow: auto;
  & > .altrp-table{
    width: auto;
  }
  & .altrp-table_columns-1{
    grid-template-rows: 1fr;
  }
  & .altrp-table_columns-2{
    grid-template-rows: 1fr 1fr;
  }
  & .altrp-table_columns-3{
    grid-template-rows: 1fr 1fr 1fr;
  }
  & .altrp-table_columns-4{
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-5{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-6{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-7{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-8{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-9{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-10{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-11{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-12{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-13{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table{
    display: grid;
    grid-auto-flow: column;
    & .altrp-table-head{
      display: contents;
      & .altrp-table-tr{
        display: contents;
      }
    }
    & .altrp-table-tbody{
      display: contents;
      & .altrp-table-tr{
        display: contents;
      }
    }
  }
}
/**
 * Перевернуть таблицу END
 */

.altrp-actions{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  &-item{
    display: flex;
    &__icon{
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}
.media-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &-item{
    width: 33.33%;
    padding-top: 33.33%;
    position: relative;
    &__img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &__remove{
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 10;
      & svg, & path{
        fill: red;
      }
    }
  }
}

.altrp-icon {
    display: flex;
    flex-direction: column;
}

.altrp-icon-header {
    display: flex;
    justify-content: center;
}

.altrp-icon-i {
    height: 50px;
    width: 50px;
}

.altrp-icon-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #1c202b;
    margin-bottom: 20px;
}

.altrp-icon-body-label {
    margin: 0;
}

.altrp-icon-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.altrp-icon-body-link {
    text-decoration: none;
    color: #1c202b;
}

.altrp-icon-read-more {
    display: flex;
    justify-content: center;
}

.altrp-icon-read-more-link {
    text-decoration: none;
    color: #287DFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.altrp-icon-read-more-link:hover {
    color: #173e8d;
}

.altrp-icon-read-more-on-hover {
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    transition: opacity 350ms cubic-bezier(0.24, 0.85, 0.58, 1);
}

.altrp-icon:hover .altrp-icon-read-more-on-hover {
    display: block !important;
    opacity: 1;
}

.altrp-icon-indicator {
    position: absolute;
    left: 100%;
    top: 50%;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
}

.altrp-icon-badge {
    position: absolute;
    background-color: #1e87f0;
    padding: 10px;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 500px;
}

.altrp-icon-badge-top-left {
    top: 0;
    left: 0;
}

.altrp-icon-badge-top-right {
    top: 0;
    right: 0;
}

.altrp-icon-badge-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.altrp-icon-badge-center-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.altrp-icon-badge-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.altrp-icon-badge-center-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.altrp-icon-badge-bottom-left {
    bottom: 0;
    left: 0;
}

.altrp-icon-badge-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.altrp-icon-badge-bottom-right {
    bottom: 0;
    right: 0;
}

.altrp-icon-global-link {
    text-decoration: none;
}

.altrp-icon-footer-text {
    color: #1c1c1c;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.altrp-icon-i-wrapper {
    display: flex;
}

.altrp-icon-content {
    width: 100%;
}

.column-structure_50_50 .altrp-element_column {
  flex-basis: 50%;
}

.column-structure_30_70 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 30%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 70%;
  }
}

.column-structure_25_75 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 75%;
  }
}

.column-structure_20_80 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 80%;
  }
}

.column-structure_15_85 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 85%;
  }
}

.column-structure_85_15 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 85%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 15%;
  }
}

.column-structure_80_20 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 80%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 20%;
  }
}

.column-structure_75_25 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 75%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 25%;
  }
}

.column-structure_70_30 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 70%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 30%;
  }
}

.column-structure_33_33_33 .altrp-element_column {
  flex-basis: 33%;
}

.column-structure_50_25_25 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 50%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 25%;
  }
}

.column-structure_25_50_25 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 50%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 25%;
  }
}

.column-structure_25_25_50 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 50%;
  }
}

.column-structure_60_20_20 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 60%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 20%;
  }
}

.column-structure_20_60_20 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 60%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 20%;
  }
}

.column-structure_20_20_60 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 60%;
  }
}

.column-structure_70_15_15 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 70%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 15%;
  }
}

.column-structure_15_70_15 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 70%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 15%;
  }
}

.column-structure_15_15_70 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(4) {
    flex-basis: 70%;
  }
}

.altrp-alignment_{
  &flex-start{
    text-align: left;
  }
  &flex-end{
    text-align: right;
  }
  &center{
    text-align: center;
  }
  &stretch{
    text-align: justify;
  }
}

.altrp-label{
  &.altrp-label_slider{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}