//@import url("/fonts/Roboto/stylesheet.css");
//@import url("/fonts/OpenSans/stylesheet.css");
//@import url("/fonts/PTSans/stylesheet.css");
//@import url("/fonts/Montserrat/stylesheet.css");

.bp3-portal {
  z-index: 999999999999999999999999999;
}

.sections-wrapper {
  display: flex;
  width: 1440px;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.editor-content > .sections-wrapper{
  width: 100%;
}
[disabled] {
  cursor: not-allowed;
}
.altrp-element {
  max-width: 100%;
  //min-height: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_section {
    margin-left: auto;
    margin-right: auto;
  }
}

.altrp-element > * {
  flex-grow: 1;
  width: 100%;
}

.altrp-image {
  max-width: 100%;
}
//
//.altrp-text {
//
//}

.heading {
  text-align: center;
  margin: 0;
}

.text {
  font-size: 18px;
  text-align: inherit;
}

.altrp-tooltip {
  background-color: rgb(104, 102, 222);
  color: rgb(255, 255, 255);
  border-color: transparent transparent rgb(104, 102, 222);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  box-shadow: rgba(119, 119, 147, 0.2) 0px 20px 100px 0px;
  text-align: center;
  display: none;
  width: auto;
  color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  font-size: 0.83rem;
  line-height: 1.3;
  box-sizing: border-box;
  line-height: 1;
  margin-top: -20px;
  opacity: 0;
  text-transform: none;
  transition: 0.5s;
  animation: altrpTooltipAnimation 0.2s forwards;
}

.altrp-element > *:hover + .altrp-tooltip,
.altrp-element > .altrp-tooltip:hover {
  display: block;
}

@keyframes altrpTooltipAnimation {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.altrp-tooltip::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-color: inherit;
  border-style: solid;
}

.altrp-tooltip--top {
  bottom: calc(100% + 5px);
}

.altrp-tooltip--bottom {
  top: calc(100% + 5px);
}

.altrp-tooltip--right {
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.altrp-tooltip--left {
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.altrp-tooltip--top::after {
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  transform: rotate(180deg);
}

.altrp-tooltip--bottom::after {
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
}

.altrp-tooltip--right::after {
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  transform: rotate(270deg);
}

.altrp-tooltip--left::after {
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  transform: rotate(90deg);
}

.altrp-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.altrp-image-container img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.altrp-image-container a {
  width: 100%;
}

// .altrp-field {
//   width: 100%;
//   &-subgroup {
//     display: flex;
//     flex-wrap: wrap;
//   }
//   &-option {
//     display: flex;
//     padding: 10px;
//     &__label {
//       cursor: pointer;
//     }
//   }
// }
// textarea.altrp-field{
//   display: block;
// }


// .altrp-table-tbody,
// .altrp-table-th {
//   border-collapse: separate;
//   user-select: none;
// }
// .altrp-table-td {
//   //overflow: hidden;
//   &__grouping {
//     font-size: 18px;
//     font-weight: bold;
//   }
// }
// .altrp-table-th_sort {
//   padding: 0;
//   margin-left: 10px;
// }

// .altrp-table-th .sort-icon {
//   margin-left: 10px;
// }
// .altrp-table {
//   overflow: hidden;
//   display: table;
//   &-head {
//     display: table-header-group;
//   }
//   &-tbody {
//     display: table-row-group;
//   }
//   &-foot {
//     display: table-footer-group;
//   }
//   &-tr {
//     display: table-row;
//     //&.altrp-posts{
//     //  display: flex;
//     //  width: 100%;
//     //  & .altrp-post{
//     //    display: inline-block;
//     //  }
//     //}
//     &_loading {
//       display: block;
//     }
//   }
//   &-th {
//     display: table-cell;
//     &_global-filter {
//       colspan: all;
//       //display: block;
//       //width: 100%;
//     }
//   }
//   &-td {
//     display: table-cell;
//     & .altrp-inherit {
//       border: none;
//       width: 100%;
//     }
//     &_loading {
//       display: block;
//       width: 100%;
//     }
//   }
//   &__resizer {
//     display: inline-block;
//     background: blue;
//     width: 10px;
//     height: 100%;
//     position: absolute;
//     right: 0;
//     top: 0;
//     transform: translateX(50%);
//     z-index: 1;
//     touch-action: none;
//     &_resizing {
//       background: red;
//     }
//   }
//   &__filter-select {
//     width: 100%;
//     & .altrp-field-select2 {
//       &__placeholder {
//         white-space: nowrap;
//       }
//       &__single-value {
//         font-size: 14px;
//       }
//       &__indicator-separator {
//         display: none;
//       }
//       &__indicator {
//         align-items: center;
//       }
//       &__control {
//         width: 100%;
//         min-height: 19px;
//         padding: 0;
//         border-radius: 0;
//         outline: none;
//         border-color: rgb(142, 148, 170);
//         -webkit-box-shadow: none;
//         -moz-box-shadow: none;
//         box-shadow: none;
//         & input {
//           border: none;
//         }
//       }
//       &__value-container {
//         padding-top: 0;
//         padding-bottom: 0;
//         line-height: 13px;
//       }
//     }
//   }
//   &-td {
//     &__grouping {
//       -webkit-transition-duration: 0.2s;
//       -moz-transition-duration: 0.2s;
//       -ms-transition-duration: 0.2s;
//       -o-transition-duration: 0.2s;
//       transition-duration: 0.2s;
//     }
//     &_alignment {
//       &-center {
//         .altrp-actions {
//           justify-content: center;
//         }
//       }
//       &-right {
//         .altrp-actions {
//           justify-content: flex-end;
//         }
//       }
//     }
//   }
//   &__collapse-icon {
//     display: inline-block;
//     & svg {
//       position: relative;
//     }
//   }
// }
// .altrp-field-required {
//   color: red;
//   font-size: 18px;
//   padding-left: 10px;
// }

// .altrp-field-container-label {
//   display: flex;
//   flex-direction: row;
// }

// .altrp-field-label-container-left {
//   display: flex;
//   align-items: center;
// }

// .altrp-field-label-container {
//   display: inline-flex;
//   align-items: center;
// }

.altrp-image-container {
  display: flex;
}
.app-area {
  //overflow: hidden;
}
.app-area_footer {
  flex: 0 0 auto;
}

.app-area_content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.app-area_content > .sections-wrapper {
  flex: 1 0 auto;
  align-content: flex-start;
}
.app-area_header {
  flex: 0 0 auto;
}

.centred {
  text-align: center;
  text-align: -webkit-center;
}
//.aspect-ratio-off_true .altrp-image {
//  position: relative;
//}
//.aspect-ratio-off_false .altrp-image {
//  position: absolute;
//}

// background меню селекта
.css-tl8qiy-Menu,
.css-l1wtd9-Menu {
  background-color: white;
}

// уменьшил минимальную высоту select2
// .altrp-field-select2__indicator.altrp-field-select2__dropdown-indicator {
//   padding: 0 8px;
//   max-height: 14px;
//   overflow: hidden;
// }

// .altrp-field-select2 {
//   .altrp-field-select2__value-container {
//     padding: 0px 8px;
//   }

//   .css-b8ldur-Input {
//     padding-bottom: 0px;
//     padding-top: 0px;
//     margin: 0 2px;
//   }

//   .altrp-field-select2__control {
//     min-height: 14px;
//   }
// }
.state-disabled {
  pointer-events: none;
}
.altrp-pointer {
  cursor: pointer;
}

// background-image wrapper

.motion-effects-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.inner-template > .sections-wrapper {
  width: 100%;
}

.altrp-d-none {
  display: none !important;
}

/**
 * Перевернуть таблицу
 */
.altrp-transpose_true {
  overflow: auto;
  & > div > div > .altrp-table {
    width: -moz-fit-content;
    width: fit-content;
    overflow: visible;
  }
  & .altrp-scroll__horizontal-track {
    width: 100%;
    bottom: 0;
    transform: scale(1, 1.2);
    transform-origin: center 0;
  }
  & .altrp-table_columns-1 {
    grid-template-rows: 1fr;
  }
  & .altrp-table_columns-2 {
    grid-template-rows: 1fr 1fr;
  }
  & .altrp-table_columns-3 {
    grid-template-rows: 1fr 1fr 1fr;
  }
  & .altrp-table_columns-4 {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-5 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-6 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-7 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-8 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-9 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-10 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-11 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-12 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table_columns-13 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  & .altrp-table {
    display: grid;
    grid-auto-flow: column;
    & .altrp-table-head {
      display: contents;
      & .altrp-table-tr {
        display: contents;
      }
    }
    & .altrp-table-tbody {
      display: contents;
      & .altrp-table-tr {
        display: contents;
      }
    }
  }
}
/**
 * Перевернуть таблицу END
 */

.altrp-actions {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  &-item {
    display: flex;
    &__icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}
.media-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &-item {
    width: 33.33%;
    padding-top: 33.33%;
    position: relative;
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &__remove {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 10;
      & svg,
      & path {
        fill: red;
      }
    }
  }
}

.altrp-icon {
  display: flex;
  flex-direction: column;
}

.altrp-icon-header {
  display: flex;
  justify-content: center;
}

.altrp-icon-i {
  height: 50px;
  width: 50px;
}

.altrp-icon-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #1c202b;
  margin-bottom: 20px;
}

.altrp-icon-body-label {
  margin: 0;
}

.altrp-icon-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.altrp-icon-body-link {
  text-decoration: none;
  color: #1c202b;
}

.altrp-icon-read-more {
  display: flex;
  justify-content: center;
}

.altrp-icon-read-more-link {
  text-decoration: none;
  color: #287dff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.altrp-icon-read-more-link:hover {
  color: #173e8d;
}

.altrp-icon-read-more-on-hover {
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  transition: opacity 350ms cubic-bezier(0.24, 0.85, 0.58, 1);
}

.altrp-icon:hover .altrp-icon-read-more-on-hover {
  display: block !important;
  opacity: 1;
}

.altrp-icon-indicator {
  position: absolute;
  left: 100%;
  top: 50%;
  height: 25px;
  width: 25px;
  transform: translateY(-50%);
}

.altrp-icon-badge {
  position: absolute;
  background-color: #1e87f0;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 500px;
}

.altrp-icon-badge-top-left {
  top: 0;
  left: 0;
}

.altrp-icon-badge-top-right {
  top: 0;
  right: 0;
}

.altrp-icon-badge-top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.altrp-icon-badge-center-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.altrp-icon-badge-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.altrp-icon-badge-center-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.altrp-icon-badge-bottom-left {
  bottom: 0;
  left: 0;
}

.altrp-icon-badge-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.altrp-icon-badge-bottom-right {
  bottom: 0;
  right: 0;
}

.altrp-icon-global-link {
  text-decoration: none;
}

.altrp-icon-footer-text {
  color: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.altrp-icon-i-wrapper {
  display: flex;
}

.altrp-icon-content {
  width: 100%;
}

.column-structure_50_50 .altrp-element_column {
  flex-basis: 50%;
}

.column-structure_30_70 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 70%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 30%;
  }
}

.column-structure_25_75 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 75%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 25%;
  }
}

.column-structure_20_80 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 80%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 20%;
  }
}

.column-structure_15_85 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 85%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 15%;
  }
}

.column-structure_85_15 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 85%;
  }
}
//////
.column-structure_80_20 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 80%;
  }
}

.column-structure_75_25 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 75%;
  }
}

.column-structure_70_30 {
  .altrp-element_column:nth-child(even) {
    flex-basis: 30%;
  }
  .altrp-element_column:nth-child(odd) {
    flex-basis: 70%;
  }
}

.column-structure_33_33_33 .altrp-element_column {
  flex-basis: 33%;
}

.column-structure_50_25_25 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(1) {
    flex-basis: 50%;
  }
}

.column-structure_25_50_25 {
  .altrp-element_column:nth-child(1) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(2) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 50%;
  }
}

.column-structure_25_25_50 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 25%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 50%;
  }
  .altrp-element_column:nth-child(1) {
    flex-basis: 25%;
  }
}

.column-structure_60_20_20 {
  .altrp-element_column:nth-child(2) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(1) {
    flex-basis: 60%;
  }
}

.column-structure_20_60_20 {
  .altrp-element_column:nth-child(1) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(2) {
    flex-basis: 60%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 20%;
  }
}

.column-structure_20_20_60 {
  .altrp-element_column:nth-child(1) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(2) {
    flex-basis: 20%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 60%;
  }
}

.column-structure_70_15_15 {
  .altrp-element_column:nth-child(1) {
    flex-basis: 70%;
  }
  .altrp-element_column:nth-child(2) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 15%;
  }
}

.column-structure_15_70_15 {
  .altrp-element_column:nth-child(1) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(2) {
    flex-basis: 70%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 15%;
  }
}

.column-structure_15_15_70 {
  .altrp-element_column:nth-child(1) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(2) {
    flex-basis: 15%;
  }
  .altrp-element_column:nth-child(3) {
    flex-basis: 70%;
  }
}

.altrp-alignment_ {
  &flex-start {
    text-align: left;
  }
  &flex-end {
    text-align: right;
  }
  &center {
    text-align: center;
  }
  &stretch {
    text-align: justify;
  }
}

.altrp-label {
  &.altrp-label_slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.altrp-pagination__previous,
.altrp-pagination__next {
  display: flex;
  align-items: center;

  img {
    width: 60px;
  }
}

// .altrp-table {
//   border-width: 1px 1px 1px 1px;
//   border-color: rgb(186, 186, 186);
// }

// .altrp-table-global-filter {
//   font-weight: 400;
//   label {
//     display: inline-block;
//   }
// }


// .altrp-field-select2__indicator {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
