.history-panel {
  width: 100%;
  height: 100%;

  &__tabs {
    width: 100%;
    margin-bottom: 11px;
  }

  &__tab {
    width: 50%;

    border-bottom: 3px solid #fff;
    background-color: #ffffff;
  }

  &__tab--active {
    background-color: #f7f8f9;
    border-bottom-color: #343b4c;
  }
  
  &__tab-content {
    height: calc(100% - 50px);
  }

  &__content {
    padding: 20px;
    background-color: #ffffff;
    overflow: auto;
    height: 100%;
  }

  &__title {
    padding: 10px;

    border-bottom: 2px solid hsl(210deg 14% 91%);
    background-color: #ffffff;
    font-weight: bold;
  }

  &__restore-item {
    padding: 14px;
    margin-bottom: 11px;
    
    border: 2px solid #D5DADF;
    color:  #6D7896;

    display: pointer;
  }

  &__restore-item--active {
    background-color: #e6e9ec;
  }

  &__restore-item-title {
    margin-right: 3px;
    font-weight: bold;
  }

  &__restore-item-type {
    font-style: italic;
    text-decoration: underline;
  }

  &__restore-item-icon {
    float: right;
    fill: #98a1a7;
  }

  &__actions-tab-subscribe {
    text-align: center;
  }

  &__revision-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 13px;
    margin-bottom: 10px;

    background-color: #ffffff;
  }

  &__discard {
    display: flex;
    align-items: center;
    color: hsl(0deg 1% 73%);
    line-height: 24px;
    font-size: 14px;

    cursor: pointer;
  }

  &__discard-icon {
    margin-right: 7px;
    path {
      fill: hsl(0deg 1% 73%);
    }
  }

  &__apply {
    padding: 5px 14px;

    border-radius: 7px;
    background-color: hsl(128deg 52% 47%);
    color: #fff;

    font-size: 14px;

    cursor: pointer;
  }

  &__card-revision {
    display: flex;
    align-items: center;
    padding: 7px 6px;
    margin-bottom: 10px;

    border: 2px solid hsl(213deg 14% 88%);
    color: hsl(204deg 2% 57%);

    cursor: pointer;
  }

  &__card-revision--active {
    font-weight: bold;
  }
  &__card-content {
    padding-left: 4px;
    
  }

  &__card-time {
    font-size: 12px;
  }

  &__card-author {
    font-size: 12px;
    font-weight: bold;
  }

  &__card-icon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
  }
}