.history-panel {
  width: 100%;
  height: 100%;

  &__tabs {
    width: 100%;
    margin-bottom: 11px;
  }

  &__tab {
    width: 50%;

    border-bottom: 3px solid #fff;
    background-color: #ffffff;
  }

  &__tab--active {
    background-color: #f7f8f9;
    border-bottom-color: #343b4c;
  }
  
  &__tab-content {
    height: calc(100% - 50px);
  }

  &__actions-tab-content {
    padding: 21px;
    background-color: #ffffff;
    overflow: auto;
    height: 100%;
  }

  &__restore-item {
    padding: 14px;
    margin-bottom: 11px;
    border: 2px solid #D5DADF;

    color:  #6D7896;
  }

  &__restore-item-title {
    margin-right: 3px;
    font-weight: bold;
  }

  &__restore-item-type {
    font-style: italic;
    text-decoration: underline;
  }

  &__actions-tab-subscribe {
    text-align: center;
  }
}