.state-section {
    display: flex;
    justify-content: space-between;
    &__button {
        display: inline-block;
        margin: 10px 5px 10px 0;
        padding: 3px 6px;
        background: transparent;
        border: 2px solid #3c455b;
        border-radius: 2px;
        font-weight: bold;
        color: #3c455b;
        cursor: pointer;
        &_active {
            background: #3c455b;
            color: #fff;
        }
    }
}

.state-section-wrapper {
  background: #fff;
  margin-bottom: 10px;
  padding: 0 13px;
}

.state-section-style-presets {
  width: 100%;
  padding-bottom: 10px;
}

.state-section-style-target {
  width: 100%;
}

.state-section-style-button {
  width: 100%;
  background: #87CA00;
  border: 1.5px solid #87CA00;
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3C455B;
}

.state-section-style-preset {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 40px;
}

.state-section-style-presets_active {
  display: grid;
  grid-template-columns: 1fr 46px;
  grid-gap: 10px;
}

.altrp-section--full-width {

  & .overlay-settings__button_edit {
    position: relative;
  }
}
