.wrapper {
    width: 100%;

    a {
        cursor: pointer;
    }
    
    a:hover {
        text-decoration: none;
    }

    .disabled{
        color: grey;
    }

    .admin-notice--heading {
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 25px;

        a {
            text-decoration: none;
            color: grey;
        }

        a:hover {
            color: #315EFB;
            text-decoration: underline;
        }
    }
    .admin-notice-box-parent {
        display: block;
        padding: 10px 20px 10px 25px;

        .admin-notice-general {
            display: flex;

            .form-group {
                margin-right: 20px;
                min-width: 25%;
                max-width: 65%;

                #source {
                    min-width: 400px;
                }
            }

        }
    }
    .react-tabs{
        padding: 10px 20px 10px 25px;

        .react-tabs__tab-panel--selected{

            .admin-notice-condition-box{
                display: flex;
    
                .btn {
                    margin: 25px 0;
                }
                .condition-box{
                    width: 35%;
                    padding-right: 10px;
                }
                .admin-notice-box-child{
                    width: 65%;

                    .condition-compare-box{
                        width: 100%;
                        .condition-box-general{
                            display: flex;
                            min-width: 400px;
                            max-width: 100%;
                            padding-top: 10px;
                            padding-right: 10px;
    
                            .form-group{
                                display: flex;
                                align-items: center;
                                margin-right: 20px;
    
                                label{
                                    padding: 0;
                                    margin: 0 10px 0 0;
                                }
    
                                #condition-input{
                                    width: 250px;
                                }
    
                                #condition-select{
                                    width: 80px;
                                }
    
                            }
                        }
                        .admin-notice-compare-box{
                            display: flex;
                            justify-content: flex-start;
                            .compare-box{
                                width: 60%;
                                padding-right: 10px;

                            }
                            .admin-notice-box-child-compare{
                                width: 40%;
                                margin-top: 55px;
                                margin-right: 50px;

                                #value{
                                    height: 60px;
                                }
                            }
                        }
                    }
                    .btn-box{
                        display: flex;
                        justify-content: flex-end;
                        margin-right: 50px;

                        button{
                            margin-left: 15px;
                        }

                        .btn_save{
                            background-color: rgb(145, 209, 27);
                        }
                    }

                }
            }
        }

    }

    .list-box{
        position: relative;
        height: 50px;
        
        .list-item{
            a{
                margin-right: 10px;
            }
        }

        .quick-action-menu {
            display: none;
            position: absolute;
            bottom: 4px;
            left: 0;
            &.quick-action-menu--li {
              position: relative;
              bottom: 0;
              left: 10px;
            }
        }
        .quick-action-menu__item_wrapper {
            &::after {
                content: " | ";
                color: grey;
            }
            &:last-child::after {
                content: "";
            }
        }
        &:hover .quick-action-menu {
            display: inline-block;
            &.quick-action-menu--li {
                display: none;
            }
            .quick-action-menu__item {
                font-size: 12px;
                color: grey;
                padding: 0;
                background-color: transparent;
                &.quick-action-menu__item_danger {
                    color: #cf0025;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        & li:hover .quick-action-menu.quick-action-menu--li {
            display: inline-block;
        }
    }

}
.admin-users-notice{
    .admin-breadcrumbs{
        margin: 25px 10px;

        a {
            text-decoration: none;
            color: grey;
        }

        a:hover {
            color: #315EFB;
            text-decoration: underline;
        }

    }
}